



#admin_content {
    position: relative;
    box-sizing: border-box;
    height: auto;
    min-height: 800px;
    padding-bottom: 130px;
    width: 100%;
    background: var(--color-white);
    font-size: 15px;
    padding-top: 130px;
    color: var(--color-title);
}

        #admin_content #form {
            position: relative;
            margin: auto;
            width: 1600px;
            font-size: 0px;
        }

        #form .left {
            position: relative;
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            width: 40%;
            height: 100%;
            padding: 0 0 20px 0;
        }

            .headline {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 10px;
                margin-top: 0;
            }

            #form .left .buttons {
                position: relative;
                text-align: center;
                margin-bottom: 30px;
            }

            #form .button_red {
                display: inline-block;
                vertical-align: top;
                width: 260px;
                padding: 11.4px 0px 11.4px 2px;
                margin-right: 15px;
            }

            .button_gray {
                width: 260px;
                margin-right: 15px;
            }

                .button_gray:last-of-type {
                    margin-right: 0px;
                }








        .tabcontent {
            position: relative;
            box-sizing: border-box;
            display: none;
            padding: 30px;
            border-top: 1px solid var(--color-title);
        }


        .tabcontent .headline {
            font-weight: bold;
            margin-bottom: 10px;
        }


        .accept_decline {
            position: relative;
            text-align: center;
            margin-top: 40px;
        }



        




        .select_menu {
            position: relative;
            width: 100%;
        }

            .select_btn {
                position: relative;
                box-sizing: border-box;
                width: 100%;
                padding: 10px 25px 10px 15px;
                text-align: left;
                font-size: 16px;
                background: var(--color-white);
                color: #2A3136;
                outline: 0;
                cursor: pointer;
                border: 1px solid #2A3136;
                transition: all 0.3s;
            }

            .select_btn:hover {
                background: #F0F0F0;
            }

            .select_menu i {
                position: absolute;
                font-size: 18px;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                color: #2A3136;
                cursor: pointer;
                z-index: 2;
                transition: all 0.2s;
            }

            .select_menu.active i {
                transform: translateY(-50%) rotate(-90deg);
            }


                .select_content {
                    position: absolute;
                    box-sizing: border-box;
                    width: 100%;
                    max-height: 400px;
                    left: 0;
                    padding: 0;
                    list-style-type: none;
                    border: 1px solid #2A3136;
                    border-top: none;
                    overflow-x: hidden;
                    overflow-y: auto;
                    background: var(--color-white);
                    height: 0px;
                    z-index: 4;
                    visibility: hidden;
                }

                .select_menu.active .select_content {
                    height: auto;
                    visibility: visible;
                }

    
                

                .select_content .select_option {
                    position: relative;
                    padding: 14px 14px 14px 20px;
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 18px;
                    color: #2A3136;
                    z-index: 10;
                    transition: all .2s ease-in-out;
                }

                .select_content .select_option:hover {
                    background: #F0F0F0;
                }






#admin_content .input_group .input {
    width: 400px;
    background: var(--color-white);
    border: 1px solid #2A3136;
    outline: none;
    border-radius: 0px;
    padding: 12px 8px;
}


.left .input_number {
    position: relative;
    box-sizing: border-box;
    font-size: 15px;
    padding: 12px 4px;
    width: 70px;
    margin-left: 10px;
    text-align: center;
    border: 1px solid #2A3136;
    border-radius: 0px;
    color: #282B36;
    outline: none;
    transition: all 0.3s;
}




















    #form .right {
        position: relative;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        margin-left: 4%;
        padding: 0 0 20px 0;
        width: 56%;
        min-height: 500px;
        max-height: 700px;
        overflow-y: auto;
    }

    #form .right #introduction {
        text-align: left;
        border-bottom: 1px solid var(--color-title);
        margin: 0 0 20px 0;
        padding-bottom: 6px;
    }



    #right_content {
        position: relative;
        width: 96%;
        text-align: center;
        margin: auto;
    }

        #right_content .chapter_menu {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            margin: 5px 0px 10px 0px;
        }

            .chapter_header {
                position: relative;
                box-sizing: border-box;
                width: 100%;
                border-radius: 10px;
                margin: 5px auto 10px auto;
                padding: 18px 10px;
                box-shadow: 0px 0px 4px 2px #EBEBEB;
                text-align: center;
                font-size: 0px;
                border: 1px solid transparent;
                transition: all 0.4s;
            }

            .chapter_header:hover, .topic_header:hover {
                border: 1px solid var(--color-light-blue);
            }

                    .chapter_header .th_type {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 20px;
                        color: #026F9E;
                        width: 5%;
                    }

                    .chapter_header .th_index {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                        font-size: 14px;
                        width: 30px;
                        padding: 2px 0px;
                        border-radius: 30%;
                        background: #CFFCDE;
                    }

                    .chapter_header .th_title {
                        display: inline-block;
                        vertical-align: middle;
                        text-align: left;
                        font-weight: bold;
                        font-size: 14px;
                        width: calc(75% - 40px);
                    }

                    .chapter_header .th_operations {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 14px;
                        width: 20%;
                    }



            .topic_header {
                position: relative;
                box-sizing: border-box;
                width: 95%;
                border-radius: 10px;
                margin: 5px 0px 10px 5%;
                padding: 18px 10px;
                box-shadow: 0px 0px 4px 2px #EBEBEB;
                text-align: center;
                font-size: 0px;
                border: 1px solid transparent;
                transition: all 0.4s;
            }

            .topic_header.active {
                background: red;
            }


                    .topic_header .td_type {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 20px;
                        color: #03D2FF;
                        width: 5%;
                    }

                    .topic_header .td_index {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                        font-size: 14px;
                        width: 30px;
                        padding: 2px 0px;
                        border-radius: 30%;
                        background: #CFFCDE;
                    }

                    .topic_header .td_title {
                        display: inline-block;
                        vertical-align: middle;
                        text-align: left;
                        font-size: 14px;
                        width: calc(75% - 40px);
                    }

                    .topic_header .td_operations {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 18px;
                        width: 20%;
                    }



            #right_content .icons {
                box-sizing: border-box;
                padding: 2px 0px;
                font-size: 18px;
                background: #E8F9FF;
                font-weight: bold;
            }

                    .right .icons .icon_save {
                        color: #0084E3;
                        cursor: pointer;
                        margin-right: 10px;
                        transition: all 0.3s;
                    }

                        .right .icons .icon_save:hover {
                            color: #40AFFF;
                            transform: scale(1.3);
                        }

                    .right .icons .icon_delete {
                        color: #FF5752;
                        cursor: pointer;
                        transition: all 0.3s;
                    }

                        .right .icons .icon_delete:hover {
                            color: #FF8380;
                            transform: scale(1.3);
                        }



        #display_panel #no_data_found {
            box-sizing: border-box;
            width: 95%;
            text-align: center;
            font-size: 15px;
            padding: 30px 30px;
            box-shadow: 0px 0px 4px 2px #EBEBEB;
            margin: auto;
            border-radius: 20px;
        }

        #no_data_found .center_icon {
            font-size: 70px;
            color: #33B3E8;
            margin-bottom: 15px;
        }

        #no_data_found .subtitle {
            font-size: 16px;
            margin: 0px;
        }

        #no_data_found .desc {
            font-size: 14px;
            font-weight: normal;
            margin: 10px 0px 0px 0px;
        }

















/* Modal */

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0, 0.4);
    transition: all 0.3s;
    z-index: 5;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}


    .modal_content {
        margin: auto;
        position: relative;
        top: 0px;
        box-shadow: 0 2px 8px 3px #8F8F8F;
        background: var(--color-white);
        border-radius: 10px;
        width: 700px;
        height: auto;
        transition: all 0.3s;
    }

        .modal_content.active {
            top: 200px;
        }

        .close {
            position: absolute;
            right: 14px;
            top: 8px;
            color: #53575A;
            font-size: 20px;
            font-weight: bold;
            z-index: 5;
            transition: all 0.2s;
        }

        .close:hover,
        .close:focus {
            text-decoration: none;
            cursor: pointer;
            color: #8C8C8C;
        }



        .modal .top {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            padding-bottom: 40px;
            height: auto;
        }

                .modal .top .title {
                    position: relative;
                    width: 100%;
                    font-size: 18px;
                    font-weight: normal;
                    padding-top: 20px;
                    margin: 0;
                    text-align: center;
                    color: var(--color-title);
                }


        .modal .bottom {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            padding-bottom: 50px;
            text-align: center;
        }


                .modal .button_red {
                    display: inline-block;
                    vertical-align: top;
                    width: 260px;
                    padding: 11.4px 0px 11.4px 2px;
                    margin-right: 15px;
                }


        #js_info {
            width: 90%;
            margin: 0 auto 60px auto;
            max-height: 300px;
            overflow-y: auto;
            text-align: center;
        }


        .modal .chapter_header .th_title, .modal .topic_header .td_title {
            width: calc(95% - 40px);
        }

        .modal .chapter_header {
            width: 98%;
        }

        .modal .topic_header {
            margin: 5px auto 10px auto;
            width: 92%;
        }

        #js_info_title {
            text-align: left;
            margin: 15px 0 0 2.5%;
            font-size: 16px;
        }

        #js_info_desc {
            text-align: left;
            margin: 5px 0 0 2.5%;
            font-size: 14px;
        }







    @media screen and (max-width: 1700px) {

        #admin_content #form {
            width: 92%;
        }

        .button_gray {
            width: 44%;
        }

        #form .button_red {
            width: 44%;
        }

        #admin_content .input_group .input {
            min-width: 260px;
            width: 60%;
        }

    }


    @media screen and (max-width: 1280px) {

        #form .left {
            width: 85%;
            margin: 0 auto 100px auto;
            display: block;
        }

        #form .right {
            width: 85%;
            margin: 0 auto;
            display: block;
        }
    }


    @media screen and (max-width: 900px) {

        #form .left {
            width: 95%;
        }

        #form .right {
            width: 95%;
        }

        .modal_content {
            width: 80%;
        }

            .modal .top .title {
                position: relative;
                width: 80%;
                font-size: 16px;
                font-weight: normal;
                padding-top: 20px;
                margin: 0 auto;
                text-align: center;
                color: var(--color-title);
            }

            .modal_content .button_gray, .modal_content .button_red {
                width: 44%;
            }

            #js_info {
                margin-bottom: 40px;
            }


    }


    @media screen and (max-width: 768px) {

        #admin_content {
            padding-top: 100px;
        }

        .headline {
            font-size: var(--font-size-normal);
        }

        .button_gray {
            font-size: var(--font-size-smaller);
        }

        #form .button_red {
            font-size: var(--font-size-smaller);
        }

        .left .input_number {
            font-size: var(--font-size-smaller);
            width: 50px;
        }

            .select_btn {
                font-size: var(--font-size-smaller);
                line-height: 17px;
            }

            .select_menu i {
                font-size: 16px;
                right: 10px;
            }

            #admin_content .input_group .input {
                width: 70%;
                border-radius: 0px;
                padding: 12px 8px;
                min-width: 1px;
            }


        .chapter_header .th_index, .chapter_header .th_title, .chapter_header .th_operations
        .topic_header .td_index, .topic_header .td_title, .topic_header .td_operations {
            font-size: var(--font-size-phone);
        }

        .chapter_header .th_type,
        .topic_header .td_type {
            font-size: 18px;
        }

        .chapter_header .th_index,
        .topic_header .td_index {
            width: 25px;
            margin-left: 5px;
        }

        #right_content .icons {
            font-size: 16px;
        }

    }





    @media screen and (max-width: 580px) {

        .buttons .button_gray {
            font-size: var(--font-size-phone);
            display: block;
            margin: 10px auto 0px auto;
            width: 80%;
        }

        .buttons .button_gray:first-of-type {
            margin-top: 0px;
        }

        .buttons .button_gray:last-of-type {
            margin: 10px auto 0px auto;
        }

    }







    @media screen and (max-width: 480px) {

        .headline {
            font-size: var(--font-size-smaller);
        }

        #form .button_red {
            font-size: var(--font-size-phone);
        }

        .tabcontent {
            padding: 10px;
        }

            .select_btn {
                font-size: var(--font-size-phone);
            }

            .select_menu i {
                font-size: 15px;
            }

            .select_content .select_option {
                font-size: var(--font-size-phone);
            }

            #admin_content .input_group .input {
                width: calc(100% - 50px);
                border-radius: 0px;
                padding: 12px 8px;
            }

            .left .input_number {
                font-size: var(--font-size-phone);
                width: 40px;
            }


        #right_content .icons {
            font-size: 15px;
        }

            .right .icons .icon_save {
                margin-right: 5px;
            }

        .chapter_header .th_index,
        .topic_header .td_index {
            width: 25px;
            margin-left: 8px;
            margin-right: 8px;
        }

        .chapter_header .th_title,
        .topic_header .td_title {
            width: calc(75% - 41px);
        }


        .modal .top {
            padding-bottom: 30px;
        }

            .modal .chapter_header .th_title, .modal .topic_header .td_title {
                width: calc(91% - 40px);
            }

            .modal .chapter_header .th_index, .modal .topic_header .td_index {
                margin-left: 10px;
            }
    }