



#admin_content {
    position: relative;
    box-sizing: border-box;
    height: auto;
    min-height: 800px;
    padding-bottom: 300px;
    width: 100%;
    background: var(--color-white);
    font-size: 15px;
    padding-top: 160px;
    color: var(--color-title);
}

        #admin_content #form {
            position: relative;
            margin: auto;
            width: 1600px;
            font-size: 0px;
        }

        #form .left {
            position: relative;
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            width: 40%;
            height: 100%;
            padding: 0px 20px 20px 20px;
        }

            .headline {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 10px;
                margin-top: 0px;
            }

            #form .left .buttons {
                position: relative;
                text-align: center;
                margin-bottom: 30px;
            }

            #form .button_red {
                display: inline-block;
                vertical-align: top;
                width: 260px;
                padding: 11.4px 0px 11.4px 2px;
                margin-right: 15px;
            }

            #form .button_gray {
                width: 260px;
                margin-right: 15px;
            }

                #form .button_gray:last-of-type {
                    margin-right: 0px;
                }








        .tabcontent {
            position: relative;
            box-sizing: border-box;
            display: none;
            padding: 30px;
            border-top: 1px solid var(--color-title);
        }


        .tabcontent .headline {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }


        .accept_decline {
            position: relative;
            text-align: center;
            margin-top: 40px;
        }



        




        .select_menu {
            position: relative;
            width: 100%;
        }

            .select_btn {
                position: relative;
                box-sizing: border-box;
                width: 100%;
                padding: 10px 15px;
                text-align: left;
                font-size: 16px;
                background: var(--color-white);
                color: #2A3136;
                outline: 0;
                cursor: pointer;
                border: 1px solid #2A3136;
                transition: all 0.3s;
            }

            .select_btn:hover {
                background: #F0F0F0;
            }

            .select_menu i {
                position: relative;
                font-size: 18px;
                float: right;
                top: -32px;
                right: 20px;
                margin-top: 2px;
                color: #2A3136;
                cursor: pointer;
                z-index: 2;
                transition: all 0.2s ease-in-out;
            }

            .select_menu.active i {
                transform: rotate(-90deg);
            }


                .select_content {
                    position: absolute;
                    box-sizing: border-box;
                    width: 100%;
                    max-height: 400px;
                    left: 0;
                    padding: 0px;
                    margin-top: 1px;
                    list-style-type: none;
                    border: 1px solid #2A3136;
                    border-top: none;
                    overflow-x: hidden;
                    overflow-y: auto;
                    background: var(--color-white);
                    height: 0px;
                    z-index: 4;
                    visibility: hidden;
                }

                .select_menu.active .select_content {
                    height: auto;
                    visibility: visible;
                }

    
                

                .select_content .select_option {
                    position: relative;
                    padding: 14px 14px 14px 20px;
                    cursor: pointer;
                    font-size: 14px;
                    color: #2A3136;
                    z-index: 10;
                    transition: all .2s ease-in-out;
                }

                .select_content .select_option:hover {
                    background: #F0F0F0;
                }






#admin_content .input_group .input {
    width: 400px;
    background: var(--color-white);
    border: 1px solid #2A3136;
    outline: none;
    border-radius: 0px;
    padding: 12px 8px;
}

.left .input_number {
    position: relative;
    box-sizing: border-box;
    font-size: 15px;
    padding: 12px 4px;
    width: 70px;
    margin-left: 10px;
    text-align: center;
    border: 1px solid #2A3136;
    border-radius: 0px;
    color: #282B36;
    outline: none;
    transition: all 0.3s;
}




















    #form .right {
        position: relative;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        margin-left: 4%;
        border-top: 1px solid var(--color-title);
        padding: 20px 0px;
        width: 56%;
        min-height: 500px;
        max-height: 700px;
        overflow-y: auto;
    }



    #right_content {
        position: relative;
        width: 96%;
        text-align: center;
        margin: auto;
    }

        #right_content .chapter_menu {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            margin: 5px 0px 10px 0px;
        }

            #right_content .chapter_header {
                position: relative;
                box-sizing: border-box;
                width: 100%;
                border-radius: 10px;
                margin: 5px 0px 10px 0px;
                padding: 18px 10px;
                box-shadow: 0px 0px 4px 2px #EBEBEB;
                text-align: center;
                font-size: 0px;
                border: 1px solid transparent;
                transition: all 0.4s;
            }

            #right_content .chapter_header:hover, #right_content .topic_header:hover{
                border: 1px solid var(--color-light-blue);
            }

                    #right_content .th_type {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 20px;
                        color: #026F9E;
                        width: 5%;
                    }

                    #right_content .th_index {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                        font-size: 14px;
                        width: 30px;
                        padding: 2px 0px;
                        border-radius: 30%;
                        background: #CFFCDE;
                    }

                    #right_content .th_title {
                        display: inline-block;
                        vertical-align: middle;
                        text-align: left;
                        font-weight: bold;
                        font-size: 14px;
                        width: calc(75% - 40px);
                    }

                    #right_content .th_operations {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 14px;
                        width: 20%;
                    }



            #right_content .topic_header {
                position: relative;
                box-sizing: border-box;
                width: 95%;
                border-radius: 10px;
                margin: 5px 0px 10px 5%;
                padding: 18px 10px;
                box-shadow: 0px 0px 4px 2px #EBEBEB;
                text-align: center;
                font-size: 0px;
                border: 1px solid transparent;
                transition: all 0.4s;
            }


                    #right_content .td_type {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 20px;
                        color: #03D2FF;
                        width: 5%;
                    }

                    #right_content .td_index {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                        font-size: 14px;
                        width: 30px;
                        padding: 2px 0px;
                        border-radius: 30%;
                        background: #CFFCDE;
                    }

                    #right_content .td_title {
                        display: inline-block;
                        vertical-align: middle;
                        text-align: left;
                        font-size: 14px;
                        width: calc(74% - 40px);
                    }

                    #right_content .td_operations {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 18px;
                        width: 21%;
                    }



            #right_content .icons {
                box-sizing: border-box;
                padding: 2px 0px;
                font-size: 18px;
                background: #E8F9FF;
                font-weight: bold;
            }

                    .right .icons .icon_save {
                        color: #0084E3;
                        cursor: pointer;
                        margin-right: 10px;
                        transition: all 0.3s;
                    }

                        .right .icons .icon_save:hover {
                            color: #40AFFF;
                            transform: scale(1.3);
                        }

                    .right .icons .icon_delete {
                        color: #FF5752;
                        cursor: pointer;
                        transition: all 0.3s;
                    }

                        .right .icons .icon_delete:hover {
                            color: #FF8380;
                            transform: scale(1.3);
                        }



        #display_panel #no_data_found {
            box-sizing: border-box;
            width: 95%;
            text-align: center;
            font-size: 15px;
            padding: 30px 30px;
            box-shadow: 0px 0px 4px 2px #EBEBEB;
            margin: auto;
            border-radius: 20px;
        }

        #no_data_found .center_icon {
            font-size: 70px;
            color: #33B3E8;
            margin-bottom: 15px;
        }

        #no_data_found .subtitle {
            font-size: 16px;
            margin: 0px;
        }

        #no_data_found .desc {
            font-size: 14px;
            font-weight: normal;
            margin: 10px 0px 0px 0px;
        }
