.course_container {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-radius: 15px;
    padding: 20px;
    text-align: left;
    margin: 30px 0 0 0;
    border: 2px solid transparent;
    font-size: 0;
    box-shadow: 0 2px 2px 2px #E6E6E6;
    transition: all 0.3s;
}

.course_container:hover {
    border: 2px solid var(--color-light-blue);
}


.course_container:first-of-type {
    margin-top: 0;
}

    .course_container .left {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 140px;
        height: 100%;
    }

            .course_container .photo {
                position: relative;
                display: block;
                width: 100%;
                height: 140px;
                border-radius: 20px;
                background: #E6E6E6;
            }

                    .course_container .photo img {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 90%;
                        height: 90%;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }

            .course_container .category {
                position: relative;
                display: block;
                margin: 10px 0 0 0;
                width: 100%;
                text-align: center;
                font-size: var(--font-size-smaller);
                color: #1291C4;
            }









    .course_container .right {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 140px);
        height: 100%
    }

            .course_container .description {
                position: relative;
                display: inline-block;
                vertical-align: top;
                box-sizing: border-box;
                text-align: center;
                width: 100%;
                height: 100%;
                padding: 0 0 0 15px;
            }


                    .description .title_with_shadow {
                        position: relative;
                        width: 90%;
                        margin: 0 auto 0 auto;
                        color: var(--color-title);
                    }
    
                    .description .tit_bck {
                        position: absolute;
                        width: 50%;
                        height: 100%;
                        left: -10px;
                        top: 0;
                        background: linear-gradient(90deg, rgba(230,230,230,1) 20%, rgba(235,235,235,0) 100%);
                        z-index: -1;
                    }
    
                    .description .tit_text {
                        position: relative;
                        text-align: center;
                        width: 100%;
                        margin: 0;
                        color: #333333;
                        font-size: var(--font-size-title);
                        z-index: 1;
                    }
                    

                    .description .desc {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        width: 100%;
                        margin: 20px 0 25px 0;
                        color: var(--color-default);
                        font-size: var(--font-size-smaller);
                    }

                    .description .linear_buttons {
                        position: relative;
                        margin-top: 50px;
                        height: 42px;
                    }

                        .description .progress_background {
                            position: relative;
                            display: inline-block;
                            top: 50%;
                            transform: translateY(-50%);
                            margin-right: 5%;
                            margin-bottom: 0;
                            width: 50%;
                            height: 30px;
                            background: #ACC5E3;
                            color: #29323D;
                        }

                        .description .progress_fill {
                            background: #819BBF;
                            margin: auto;
                        }

                        .description .button_gray {
                            position: relative;
                            display: inline-block;
                            vertical-align: top;
                            margin: 0;
                            width: 220px;
                        }


    .course_container .expires {
        position: absolute;
        bottom: 5px;
        right: 15px;
        color: #808080;
        font-size: var(--font-size-smaller);
        background: transparent;
        width: 50%;
        text-align: right;
    }


    .course_container .expired_icon {
        font-size: 15px;
    }
    
    .course_container .expires.expired {
        color: #DE5450;
    }















#all_topics {
    position: relative;
    box-sizing: border-box;
    width: 1400px;
    min-height: 800px;
    padding-top: 100px;
    padding-bottom: 80px;
    margin: 0 auto 0 auto;
    z-index: 0;
}














.chapter_menu {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0 10px 0;
}

        .chapter_header {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            border-radius: 10px;
            margin: 5px auto 10px auto;
            padding: 16px 8px;
            box-shadow: 0 0 2px 1px #465669;
            text-align: center;
            font-size: 0;
            border: 1px solid transparent;
            background: #60768F;
            transition: all 0.4s;
        }

        .topic_header:hover {
            border: 1px solid var(--color-light-blue);
        }

                .chapter_header .th_type {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 16px;
                    color: #fff;
                    width: 30px;
                    font-weight: bold;
                }

                .chapter_header .th_index {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    font-size: 14px;
                    width: 30px;
                    padding: 2px 0;
                    border-radius: 30%;
                    background: #CFFCDE;
                }

                .chapter_header .th_title {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: left;
                    font-size: 14px;
                    width: calc(75% - 60px);
                    color: #fff;
                }

                .chapter_header .th_operations {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 14px;
                    width: 20%;
                }



        .topic_header {
            position: relative;
            box-sizing: border-box;
            width: 95%;
            border-radius: 10px;
            margin: 5px 0 10px 5%;
            padding: 12px 8px;
            box-shadow: 0 0 4px 2px #EBEBEB;
            text-align: center;
            font-size: 0;
            border: 1px solid transparent;
            transition: all 0.4s;
            cursor: pointer;
        }

        .topic_header.active {
            background: #A8EBFF;
        }


        .topic_header.blocked {
            background: #FFE6E6;
            cursor: not-allowed;
        }

            .topic_header.blocked:hover {
                border: 1px solid transparent;
            }

            .topic_header.blocked .td_left i {
                color: #878787;
            }




                .topic_header .td_type {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 20px;
                    color: #03D2FF;
                    width: 5%;
                }

                .topic_header .td_index {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    font-size: 14px;
                    width: 30px;
                    padding: 2px 0;
                    border-radius: 30%;
                    background: #CFFCDE;
                }

                .topic_header .td_title {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: left;
                    font-size: 14px;
                    width: calc(75% - 40px);
                }

                .topic_header .td_operations {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 18px;
                    width: 20%;
                }


                .topic_header .td_left {
                    position: relative;
                    box-sizing: border-box;
                    display: inline-block;
                    vertical-align: middle;
                    width: 60px;
                    margin-right: 10px;
                    border-right: 1px solid var(--color-default);
                    text-align: center;
                }


                        .td_left i {
                            position: relative;
                            font-size: 16px;
                            color: var(--color-default);
                        }

                        .td_left i {
                            color: var(--color-light-blue);
                        }

                            .sub_topic.done .td_left i {
                                color: #0D9E00;
                            }

                        .td_left .duration {
                            position: relative;
                            margin: 5px auto 0 auto;
                            left: 0;
                            right: 0;
                            font-size: 13px;
                            color: var(--color-default);
                        }

                .topic_header .td_right {
                    position: relative;
                    box-sizing: border-box;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: left;
                    height: 100%;
                    width: calc(100% - 75px);
                }



        .preview_icons {
            box-sizing: border-box;
            padding: 2px 0;
            font-size: 18px;
            background: #E8F9FF;
            font-weight: bold;
        }

                .preview_icons .icon_save {
                    color: #0084E3;
                    cursor: pointer;
                    margin-right: 10px;
                    transition: all 0.3s;
                }

                .preview_icons .icon_save:hover {
                    color: #40AFFF;
                    transform: scale(1.3);
                }

                .preview_icons .icon_delete {
                    color: #FF5752;
                    cursor: pointer;
                    transition: all 0.3s;
                }

                .preview_icons .icon_delete:hover {
                    color: #FF8380;
                    transform: scale(1.3);
                }






                #course_left #all_topics .chapter_header .th_title {
                    width: calc(100% - 50px);
                }




                #course_left #all_topics .topic_header .td_type  {
                    display: none;
                }

                #course_left #all_topics .topic_header .td_title  {
                    width: 100%;
                }

                #course_left #all_topics .topic_header  {
                    padding: 10px 4px;
                    width: 95%;
                    margin: 5px auto 10px auto;
                }

                #course_left #all_topics .topic_header .td_left {
                    margin-right: 6px;
                    width: 60px;
                }

                #course_left #all_topics .topic_header .td_right {
                    width: calc(100% - 68px);
                }























        @media screen and (max-width: 1024px) {    

            .course_container .left {
                width: 120px;
            }

                .course_container .photo {
                    height: 120px;
                }


            .course_container .right {
                width: calc(100% - 120px);
            }

                .description .linear_buttons {
                    height: 38px;
                }

                    .course_container .button_gray {
                        padding: 10px 0 10px 2px;
                        width: 200px;
                    }

        }




        @media screen and (max-width: 768px) {

            #all_topics {
                border: none;
                box-shadow: 0;
            }

            .course_container {
                padding: 10px;
            }

            .description .linear_buttons {
                height: auto;
                margin-top: 25px;
            }
    
                .description .button_gray {
                    display: block;
                    width: 50%;
                    min-width: 160px;
                    padding: 10px 0 10px 2px;
                    margin: 10px auto 0 auto;
                    font-size: var(--font-size-smaller);
                }

                .description .progress_background {
                    display: block;
                    width: 80%;
                    height: 25px;
                    margin: auto;
                    top: auto;
                    transform: translateY(0%);
                    font-size: var(--font-size-phone);
                }


            .description .tit_text {
                font-size: var(--font-size-normal);
            }

            .description .desc {
                font-size: var(--font-size-smaller);
            }

            .course_container .category {
                font-size: var(--font-size-phone);
            }

            .course_container .expires {
                font-size: var(--font-size-phone);
            }


                .chapter_header .th_index, .chapter_header .th_title, .chapter_header .th_operations
                .topic_header .td_index, .topic_header .td_title, .topic_header .td_operations {
                    font-size: var(--font-size-phone);
                }

                .chapter_header .th_type,
                .topic_header .td_type {
                    font-size: 18px;
                }

                .chapter_header .th_index,
                .topic_header .td_index {
                    width: 25px;
                    margin-left: 5px;
                }
                
        }




        @media screen and (max-width:  580px) {

            .chapter_header {
                padding: 12px 8px;
            }

        }








        @media screen and (max-width:  480px) {

            .course_container {
                max-width: 320px;
                margin: 30px auto 0 auto;
            }

            .course_container .left {
                position: relative;
                display: block;
                width: 100%;
                height: auto;
            }

                    .course_container .photo {
                        height: 120px;
                        width: 100%;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }

                    .course_container .photo img {
                        width: 120px;
                    }

                    .course_container .category {
                        display: none;
                    }





            .course_container .right {
                position: relative;
                display: block;
                width: 100%;
                height: auto;
                padding-bottom: 10px;
            }

                .course_container .description {
                    padding: 10px 0 0 0;
                }

                .description .desc {
                    font-size: var(--font-size-phone);
                    text-align: center;
                }



                .description .linear_buttons {
                    position: relative;
                    margin-top: 35px;
                    margin-bottom: 12px;
                }

                    .description .progress_background {
                        width: 100%;
                    }

                    .description .button_gray {
                        width: 85%;
                        margin-top: 7px;
                        font-size: var(--font-size-phone);
                    }
    





            .course_container .expires {
                right: 0;
                left: 0;
                width: 100%;
                text-align: center;
            }


            .chapter_header {
                padding: 10px 4px;
            }

            .chapter_header .th_type,
            .topic_header .td_type {
                width: 20px;
                font-size: 16px;
            }

            .chapter_header .th_index,
            .topic_header .td_index {
                width: 25px;
                margin: 0 6px 0 4px;
            }

            .chapter_header .th_title,
            .topic_header .td_title {
                width: calc(75% - 45px);
            }

            .chapter_header .th_operations,
            .chapter_header .td_operations {
                width: 60px;
            }

                .preview_icons {
                    font-size: 15px;
                }

                    .preview_icons .icon_save {
                        margin-right: 5px;
                    }

        }


        @media screen and (max-width:  380px) {


            .chapter_header .th_index,
            .topic_header .td_index {
                width: 22px;
            }


            .chapter_header .th_title,
            .topic_header .td_title {
                width: calc(75% - 50px);
            }


            .chapter_header .th_operations,
            .chapter_header .td_operations {
                width: 50px;
            }

        }


        @media screen and (max-width:  260px) {

            .chapter_header {
                padding: 8px 4px;
            }

            .chapter_header .th_type,
            .topic_header .td_type {
                display: none;
            }

            .chapter_header .th_title,
            .topic_header .td_title {
                width: calc(75% - 28px);
            }

            .chapter_header .th_operations,
            .topic_header .td_operations {
                width: 25px;
            }

            .preview_icons .icon_save {
                margin: 0 auto;
                padding: 0;
            }

        }



        /*@media screen and (max-width: 1600px) {

        }


        @media screen and (max-width: 1280px) {

        }
        
        
        
        
        @media screen and (max-width: 840px) {

        }
   
        
        @media screen and (max-width: 650px) {

        }
        
        
        @media screen and (max-width:  480px) {
        
        }*/