#course_display {
    position: relative;
    width: 100%;
}


    #course_display #banner {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding-top: 67px;
        background: #F5F5F5;
        box-shadow: 0 2px 2px 1px #E6E6E6;
    }

        #course_display .inner {
            position: relative;
            box-sizing: border-box;
            width: 1300px;
            margin: auto;
        }


        #course_display #banner .inner {
            font-size: 0;
            padding: 60px 0 80px 0;
        }

        #course_display #banner .inner .photo {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            width: 160px;
            height: 160px;
            border-radius: 20px;
            background: #E6E6E6;
        }

        #course_display #banner .inner .photo img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 80%;
            height: 80%;
            left: 0;
            right: 0;
            margin: auto;
        }


        #course_display #banner .inner .description {
            position: relative;
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            width: calc(100% - 320px);
            height: 100%;
            padding: 15px 0 0 15px;
        }

            #course_display #banner .description .title {
                position: relative;
                display: inline-block;
                vertical-align: top;
                box-sizing: border-box;
                width: 100%;
                margin-bottom: 10px;
                font-size: 20px;
            }


            .stars_section {
                position: relative;
                display: inline-block;
                vertical-align: top;
                box-sizing: border-box;
                width: 240px;
                font-size: 0;
            }


            .stars_section .stars {
                position: relative;
                height: 60px;
                margin-top: 12px;
                width: 100%;
                font-size: 0;
                color: #F0D600;
                text-align: center;
            }

            .stars_section .star {
                display: inline-block;
                vertical-align: top;
                font-size: 24px;
            }

            .stars_section .stars_info {
                position: relative;
                display: block;
                font-size: 14px;
                margin: 0;
                width: 100%;
                color: #999999;
            }





    #bottom_content {
        font-size: 0;
        padding-top: 50px;
        text-align: center;
    }



    #all_topics {
        position: relative;
        display: inline-block;
        width: 85%;
        padding: 20px;
        border-radius: 15px;
        right: 0;
        margin: 0 auto 140px auto;
        transition: all 0.5s;
    }


        #all_topics.active {
            width: calc(98% - 250px);
            margin-right: 2%;
        }




    #left_topics {
        position: relative;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        text-align: center;
        width: 0;
        font-size: 0;
        transition: all 0.5s;
    }


        #left_topics.active {
            width: 250px;
        }


            #sticky_panel {
                position: sticky;
                display: inline-block;
                vertical-align: top;
                box-sizing: border-box;
                text-align: center;
                top: 80px;
                padding: 15px;
                border: 1px solid #EDEDED;
                border-radius: 15px;
                box-shadow: 0 0 5px 2px #E6E6E6;
                opacity: 0;
                width: 0;
                max-height: 0;
                transition: all 0.5s;
            }

            #sticky_panel.active {
                opacity: 1;
                width: 100%;
                max-height: 5000px;
            }


                    #progress_mini {
                        position: relative;
                        display: inline-block;
                        box-sizing: border-box;
                        text-align: center;
                        right: 0;
                        width: 100%;
                        margin-bottom: 20px;
                        transition: all 0.8s;
                    }
                    
                            #progress_mini .radial {
                                top: 0;
                            }
                    
                            #sticky_panel #progress_mini .radial-progress-text {
                                width: 25px;
                                left: 0;
                                opacity: 0;
                                transition: opacity 0.3s;
                            }

                            #sticky_panel.active #progress_mini .radial-progress-text {
                                opacity: 1;
                            }


                    #all_stars_mini {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        box-sizing: border-box;
                        width: 100%;
                        opacity: 0;
                        transition-delay: 0.3s;
                        transition-property: opacity;
                        transition-duration: 0.3s;
                    }

                            #sticky_panel.active #all_stars_mini {
                                font-size: 15px;
                                opacity: 1;
                            }

                            #all_stars_mini .stars_section {
                                font-size: 0;
                                width: 100%;
                            }


                            #all_stars_mini.unactive {
                                opacity: 0;
                                transition-delay: 0s;
                                transition-duration: 0s;
                            }

                







    #chuj {
        position: fixed;
        left: 50px;
        top: 100px;
        z-index: 30;
    }


    #progress {
        position: absolute;
        box-sizing: border-box;
        text-align: center;
        right: 0;
        top: 60px;
    }




        


































#display_content {
    position: relative;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    margin: 70px auto 0 auto;
    text-align: center;
    font-size: 0;
}


            #display_content .inner {
                width: 1400px;
                text-align: left;
                padding-bottom: 60px;
                margin: auto;
            }

                #display_content .inner .panel_left {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    text-align: center;
                    width: 45%;
                }

                    .panel_left .heading {
                        position: relative;
                        margin: 25px 0 0 0;
                        width: 100%;
                        font-size: 26px;
                        font-weight: bold;
                        text-align: center;
                        color: #49B5F2;
                    }

                    .panel_left .desc {
                        position: relative;
                        margin: 10px auto 0 auto;
                        width: 80%;
                        text-align: center;
                        font-size: var(--font-size-normal);
                        color: var(--color-default);
                    }


                    #plans {
                        position: relative;
                        margin: 90px auto 0 auto;
                    }


                    .plan_container {
                        width: 50%;
                        box-sizing: border-box;
                        display: inline-block;
                        padding: 30px 15px;
                        background: #fff;
                        border-radius: 20px 0 0 20px;
                        box-shadow: 0 0 4px 2px #EBEBEB;
                        text-align: center;
                        border: 2px solid transparent;
                    }

                    .plan_container.premium {
                        border: 2px solid #33B3E8;
                        border-radius: 0 20px 20px 0;
                    }

                            .plan_container .title {
                                font-size: 15px;
                                margin: 0 auto;
                                width: 100%;
                                text-align: center;
                                color: #33B3E8;
                            }


                            .plan_container .prices {
                                width: 100%;
                                box-sizing: border-box;
                                text-align: center;
                                margin-top: 15px;
                            }

                            .plan_container .price_block {
                                position: relative;
                                display: inline-block;
                                vertical-align: top;
                                font-size: 25px;
                                font-weight: bold;
                                width: 100%;
                                color: #536580;
                                margin: 0 auto;
                            }


                            .plan_container .price_old {
                                text-decoration: line-through;
                                text-decoration-thickness: 2px;
                                text-decoration-color: #787878;
                                font-size: 20px;
                                margin-left: 5px;
                            }

                            .plan_container .price_promotion {
                                font-size: 20px;
                                margin-left: 5px;
                                color: #33B3E8;
                            }


                            .adv_list {
                                position: relative;
                                width: 80%;
                                list-style: none;
                                margin: 20px auto 0 auto;
                                padding: 0;
                                text-align: left;
                            }

                                .adv_list li {
                                    position: relative;
                                    padding: 4px 0;
                                    font-size: 0;
                                }

                                .adv_list .unavailable {
                                    color: #999999;
                                }

                                .adv_list li .left {
                                    position: relative;
                                    box-sizing: border-box;
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin: 0;
                                    height: 100%;
                                    width: 25px;
                                    font-size: 14px;
                                }

                                    .adv_list li .left i {
                                        position: relative;
                                    }


                                .adv_list li .right {
                                    position: relative;
                                    box-sizing: border-box;
                                    display: inline-block;
                                    vertical-align: middle;
                                    width: calc(100% - 25px);
                                    margin: 0;
                                    font-size: 14px;
                                }



                            .plan_container .button_gray {
                                width: 80%;
                                margin: 40px auto 0 auto;
                            }



                #display_content .inner .panel_right {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    width: 55%;
                }

                        .panel_right .photo {
                            position: relative;
                            display: inline-block;
                            width: 550px;
                            height: 550px;
                            margin-left: 150px;
                        }

                        .panel_right img {
                            width: 100%;
                            height: 100%;
                        }




#below_banner {
    position: relative;
    margin: 50px auto 0 auto;
    width: 1300px;
    height: auto;
}

#bg_image {
    position: relative;
    width: 100%;
    pointer-events: none;
    cursor: default;
}

#below_introduction {
    position: absolute;
    color: #fff;
    font-size: 20px;
    top: 80px;
    left: 300px;
}



            #display_content #all_topics {
                position: relative;
                margin: -385px auto 0 auto;
                padding-bottom: 60px;
                height: auto;
                width: 1000px;
            }

                #display_content .chapter_header {
                    text-align: left;
                    padding-left: 20px;
                }

                    #display_content .th_type {
                        width: 20px;
                        margin: 0 4px 0 0;
                    }

                    #display_content .th_title {
                        width: calc(100% - 30px);
                        margin: 0;
                    }


                #display_content .topic_header {
                    margin: 5px auto 10px auto;
                    background: #fff;
                }

                    #display_content .td_title {
                        width: calc(100% - 30px);
                        margin: 0;
                    }

                    #display_content .td_type {
                        width: 20px;
                        margin: 0 4px 0 0;
                        font-size: 17px;
                    }
















/* Modal */

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background: rgba(0,0,0, 0.4); 
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 5;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}


.modal_content {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 1100px;
    height: auto;
    top: 100px;
    margin: 0 auto 100px auto;
    box-shadow: 0 2px 8px 3px #8F8F8F;
    background: var(--color-white);
    border-radius: 10px;
    padding-bottom: 2px;
}


        .close {
            position: absolute;
            right: 14px;
            top: 8px;
            color: #53575A;
            font-size: 20px;
            font-weight: bold;
            z-index: 5;
            transition: cursor 0.2s, color 0.2s;
        }


        .close:hover,
        .close:focus {
            text-decoration: none;
            cursor: pointer;
            color: #8C8C8C;
        }

        .modal .list_link {
            color: var(--color-blue);
        }

        .modal .top {
            position: relative;
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 100px;
        }

            .modal .top .title {
                position: relative;
                width: 100%;
                font-size: 20px;
                font-weight: normal;
                padding-top: 20px;
                margin: 0 auto;
                text-align: center;
                color: #999999;
            }


            .step_progress_bar {
                position: relative;
                margin-top: 20px;
                width: 100%;
                text-align: center;
                font-size: 0;
                z-index: 1;
            }

            .progressbar {
                list-style-type: none;
                counter-reset: step;
                padding: 0;
            }

            .progressbar li {
                position: relative;
                display: inline-block;
                width: 20%;
                text-align: center;
                font-size: 15px;
                transition: all 0.3s;
            }   

                .progressbar li:before {
                    /*content:counter(step);
                    counter-increment: step;*/
                    content: '';
                    padding: 0;
                    box-sizing: border-box;
                    width: 15px;
                    height: 15px;
                    border: 2px solid #bebebe;
                    display: block;
                    margin: 0 auto 4px auto;
                    border-radius: 50%;
                    background: transparent;
                }

                .progressbar li:after {
                    content: '';
                    position: absolute;
                    width: 85%;
                    height: 3px;
                    background: #979797;
                    top: 7px;
                    left: -42.5%;
                    z-index: -1;
                    transition: all 0.3s;
                }

                .progressbar li:first-child:after {
                    content: none;
                }

                .progressbar li.active:before {
                    border-color: #33B3E8;
                }

                .progressbar li.complete:before {
                    border-color: #33B3E8;
                    background: #33B3E8;
                    color: white
                }

                .progressbar li.complete + li:after {
                    background: #33B3E8;
                }

                .progress_item.active, .progress_item.complete {
                    color: #33B3E8;
                }



        .modal .bottom {
            position: relative;
            box-sizing: border-box;
            width: 90%;
            padding-bottom: 50px;
            margin: 50px auto 50px auto;
            background: #FFF;
            border-radius: 20px;
            box-shadow: 0 2px 6px 3px #E6E6E6;
        }


            .modal .tab_section {
                position: relative;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                text-align: center;
                display: none;
            }

            .modal .tab_section.active {
                display: block;
            }


            .modal .tab_section .buttons {
                position: relative;
                width: 100%;
                text-align: center;
                margin: 70px 0 0 0;
            }

               







        .modal .modal_center_icon {
            margin-top: 30px;
            font-size: 120px;
            color: #33B3E8;
        }

        .modal .bottom .button_gray {
            width: 240px;
            margin-right: 15px;
        }

            .modal .bottom .button_gray:last-child {
                margin-right: 0;
            }

        .modal .subtitle {
            font-size: 18px;
            margin: 10px 0 0 0;
            color: var(--color-title);
        }

        .modal .desc {
            font-size: 16px;
            font-weight: normal;
            margin: 5px auto 0 auto;
            color: var(--color-default);
        }

        .modal .href {
            display: inline-block;
        }

        .modal .href .bold {
            color: #33B3E8;
        }














        #payment_container {
            position: relative;
            height: 100%;
            box-sizing: border-box;
            font-size: 0;
            text-align: center;
        }


        #payment_container .content {
            position: relative;
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            text-align: left;
            width: 75%;
            height: 100%;
            padding-top: 30px;
        }


                #payment_container table {
                    width: 100%;
                    border-collapse: collapse;
                    border-right: 1px solid #7B8FA6;
                }
                
                #payment_container tr {
                    border-bottom: 1px dashed #7B8FA6;
                }

                #payment_container td {
                    text-align: left;
                    font-size: 15px;
                    padding: 15px 5px 15px 5px;
                }

                #payment_container td:nth-child(2n) {
                    text-align: right;
                    font-weight: bold;
                    font-size: 16px;
                    padding-right: 10px;
                    color: var(--color-light-blue);
                }

                #payment_container .course_title {
                    color: var(--color-title);
                    margin: 0;
                    font-size: 15px;
                }

                #payment_container .category {
                    font-size: 14px;
                    margin: 0;
                    color: #999;
                }

                #payment_container .category .cat {
                    color: var(--color-light-blue);
                }

                #final_price {
                    position: relative;
                    margin-top: 10px;
                    padding-bottom: 5px;
                    border-bottom: 2px solid #8092B3;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    width: 100px;
                    float: right;
                    color: var(--color-light-blue);
                }

                #payment_container .button_gray {
                    position: relative;
                    padding: 16px 0;
                }

                #payment_container .input_group {
                    position: relative;
                    vertical-align: top;
                    display: inline-block;
                    margin: 0 20px 0 0;
                    width: 280px;
                }

                        #payment_container .input_group .input {
                            background: transparent;
                            border: 2px solid #849EBD;
                            border-radius: 5px;
                            font-size: 15px;
                            padding: 16px 0 12px 12px;
                        }

                        #payment_container .input_group .input.disabled {
                            background: #CCE3FF;
                            border: 2px solid #83A8C9;
                            color: #29323D;
                        }

                                #discount_icon {
                                    position: absolute;
                                    font-size: 22px;
                                    right: 10px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    cursor: pointer;
                                    color: var(--color-light-blue);
                                    transition: all 0.3s;
                                }
            
            
                                #discount_icon:hover {
                                    color: #18BCF0;
                                }
                
                                #payment_container .input_group .input.disabled ~ #discount_icon {
                                    cursor: not-allowed;
                                    color: #29323D;
                                }

        
                        #payment_container .input_group label {
                            background: var(--color-white);
                            border-color: #878A99;
                        }
        
                        #payment_container .input_group .input.disabled ~ label {
                            display: none;
                        }


                        #payment_container .checkbox_body {
                            width: 200px;
                            left: 25px;
                            right: 0;
                            margin: 0 auto 30px auto;
                            padding: 0;
                        }

                

    













/* Progress circle */
.radial {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}


    svg.radial-progress {
        position: relative;
        height: auto;
        top: 0;
        max-width: 150px;
        transform: rotate(-90deg);
        width: 100%;
    }
    
    svg.radial-progress circle {
        fill: rgba(0, 0, 0, 0);
        stroke: var(--color-blue);
        stroke-dashoffset: 219.91148575129; 
        stroke-width: 10;
    }
    
    svg.radial-progress circle.incomplete { opacity: 0.20; }
    
    svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }
    
    
    
    
    .radial-progress-text {
        position: absolute;
        left: 7px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        margin: auto;
        color: #4D4D4D;
        font-size: 17px;
        font-weight: normal;
    }






#cloud_background {
    background-image: url("../images/bg.png"); /* The image used */
    height: 550px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}



























    @media screen and (max-width: 1700px) {

        #display_content .inner {
            width: 1350px;
        }

    }




    @media screen and (max-width: 1500px) {

        #course_display .inner {
            width: 82%;
        }

        #course_display #all_topics.active {
            width: calc(98% - 230px);
        }


            #left_topics.active {
                width: 230px;
            }







        #display_content .inner {
            width: 90%;
        }

            #display_content .inner .panel_left {
                width: 50%;
            }

            .plan_container .adv_list {
                width: 100%;
            }


            #display_content .inner .panel_right {
                width: 50%;
            }

                .panel_right .photo {
                    width: 80%;
                    height: 80%;
                    margin-left: 100px;
                }



        #below_banner {
            width: 1230px;
        }

        #display_content #all_topics {
            width: 80%;
        }
    }



    @media screen and (max-width: 1280px) {

        #below_banner {
            width: 100%;
        }

            #below_introduction {
                position: absolute;
                color: #fff;
                font-size: 20px;
                top: 150px;
                left: 0;
                right: 0;
                margin: auto;
            }

            #display_content #all_topics {
                margin-top: -350px;
                min-height: 0;
            }



        #display_content .inner {
            display: flex;
            flex-flow: column;
        }

        #display_content .inner .panel_left {
            display: block;
            margin: 0 auto;
            width: 100%;
            order:3;
        }

            .plan_container {
                max-width: 300px;
            }

            .panel_left .heading {
                position: relative;
                margin: 25px 0 0 0;
                width: 60%;
                font-size: 24px;
            }

            .panel_left .desc {
                position: relative;
                margin: 10px 0 0 0;
                width: 60%;
            }


        #display_content .inner .panel_right {
            position: absolute;
            right: 20px;
            width: 220px;
            display: block;
            order: 2;
            text-align: center;
        }

            .panel_right .photo {
                margin: 0;
            }



        .modal_content {
            width: 80%;
        }

            .modal .top .title {
                font-size: 18px;
            }


            .modal .modal_center_icon {
                margin-top: 25px;
                font-size: 90px;
            }

            .modal .subtitle {
                font-size: 16px;
            }

            .modal .desc {
                font-size: 15px;
            }


    }



    @media screen and (max-width: 1024px) {


        #course_display #banner .inner {
            width: 90%;
            padding: 40px 0 50px 0;
        }

        #banner #progress {
            top: 40%;
            transform: translateY(-40%);
        }


        #course_display #bottom_content {
            width: 90%;
        }




        #below_introduction {
            position: absolute;
            color: #fff;
            font-size: 20px;
            top: 130px;
            left: 0;
            right: 0;
            margin: auto;
        }

        #cloud_background {
            height: 430px;
        }

        #display_content #all_topics {
            margin-top: -250px;
            min-height: 0;
        }


        .modal .bottom {
            padding-bottom: 25px;
        }

            .modal .desc {
                width: 80%;
            }


            .modal .tab_section .buttons {
                margin: 50px 0 0 0;
            }

                .modal .bottom .button_gray {
                    width: 220px;
                }

    }



    @media screen and (max-width: 768px) {

        #course_display #banner .inner {
            padding: 20px 0 30px 0;
        }

        #course_display #banner .inner .photo {
            width: 120px;
            height: 120px;
        }

            #course_display #banner .inner .photo img {
                width: 90%;
                height: 90%;
            }

            #banner #progress {
                top: 70px;
                width: 120px;
                height: 120px;
            }


        #course_display #banner .inner .description {
            width: calc(100% - 240px);
            padding: 10px 0 0 10px;
        }

            #course_display #banner .description .title {
                width: 100%;
                font-size: var(--font-size-normal);
            }

            .stars_section {
                display: block;
                width: 220px;
            }

            .stars_section .stars {
                    margin-top: 5px;
                    height: 45px;
                }

                .stars_section .star {
                    font-size: 18px;
                }

                .stars_section .stars_info {
                    font-size: var(--font-size-phone);
                }



        #course_display #bottom_content {
            width: 90%;
        }






        .panel_left .heading {
            font-size: 18px;
            width: 100%;
            margin: 25px auto 0 auto;
        }

        .panel_left .desc {
            font-size: var(--font-size-smaller);
            width: 100%;
            margin: 10px auto 0 auto;
        }




        #display_content .inner .panel_right {
            display: none;
        }

        .plan_container .price_block {
            font-size: 22px;
        }


        .plan_container .price_old {
            font-size: 17px;
        }

        .plan_container .price_promotion {
            font-size: 17px;
        }




        #cloud_background {
            height: 330px;
        }

            #below_introduction {
                font-size: 16px;
                top: 90px;
            }

            #display_content #all_topics {
                width: 90%;
                margin-bottom: 0;
                margin-top: -200px;
            }




        .modal_content {
            width: 90%;
        }

        .modal .top .title {
            font-size: 16px;
            width: 85%;
        }

        .modal .bottom {
            margin-bottom: 25px;
        }


            .modal .modal_center_icon {
                margin-top: 20px;
                font-size: 70px;
            }

                .modal .subtitle {
                    font-size: 16px;
                }

                .modal .desc {
                    font-size: var(--font-size-smaller);
                }

                .modal .href .bold {
                    font-size: var(--font-size-smaller);
                }

                .progressbar li {
                    font-size: var(--font-size-smaller);
                }



        #payment_container .content {
            width: 90%;
            padding-top: 20px;
        }

                #payment_container td {
                    width: calc(100% - 70px);
                    font-size: var(--font-size-smaller);
                }

                #payment_container td:nth-child(2n) {
                    width: 70px;
                    font-size: var(--font-size-normal);
                }

                #payment_container .course_title {
                    font-size: var(--font-size-smaller);
                }

                #payment_container .category {
                    font-size: var(--font-size-phone);
                }

                #final_price {
                    font-size: var(--font-size-normal);
                }



        #payment_container .checkbox_body {
            left: 0;
        }

        #payment_container .input_group {
            display: block;
            margin: 0 auto 10px auto;
            width: 260px;
        }

        #payment_container .input_group .input {
            font-size: 14px;
            padding: 14px 0 10px 10px;
        }

        #payment_container .button_gray {
            position: relative;
            padding: 14px 0;
            width: 260px;
        }

    }



    @media screen and (max-width: 580px) {

        #course_display #banner .inner {
            padding: 20px 0 100px 0;
        }


        #course_display #banner .inner .description {
            width: calc(100% - 120px);
            padding: 10px 0 0 0;
            text-align: center;
        }

            .stars_section {
                margin: auto;
                padding-bottom: 10px;
            }

        #course_display #banner .inner .photo {
            width: 110px;
            height: 110px;
        }

        #banner #progress {
            top: 190px;
            left: 0;
            width: 110px;
            height: 110px;
        }

            .radial-progress-text {
                font-size: var(--font-size-smaller);
            }






        #cloud_background {
            height: 250px;
        }

        #below_introduction {
            font-size: 15px;
            top: 70px;
        }

        #display_content #all_topics {
            width: 90%;
            margin-bottom: 0;
            margin-top: -160px;
            padding: 30px 0 50px 0;
        }

            #display_content .topic_header {
                padding: 6px;
            }



        .modal .top .title {
            font-size: 15px;
            width: 80%;
        }

            .modal .tab_section .buttons {
                margin: 30px 0 0 0;
            }

            .modal .bottom .button_gray {
                display: block;
                width: 200px;
                margin: 0 auto 10px auto;
                font-size: var(--font-size-smaller);
            }

            .modal .bottom .button_gray:last-child {
                margin: 0 auto;
            }



            .progressbar li {
                width: 25%;
            }

            .progressbar li:before {
                width: 15px;
                height: 15px;
                border: 2px solid #bebebe;
                margin: 0 auto 4px auto;
                border-radius: 50%;
            }

            .progressbar li:after {
                width: 88%;
                height: 3px;
                top: 7px;
                left: -44%;
            }


    }


    @media screen and (max-width: 480px) {


        #course_display #banner .inner {
            padding: 10px 0 50px 0;
        }

        #course_display #banner .inner .photo {
            width: 80px;
            height: 80px;
        }

            #course_display #banner .inner .description {
                width: calc(100% - 80px);
                padding: 12px 0 0 5px;
            }

            #course_display #banner .description .title {
                text-align: center;
                font-size: var(--font-size-normal);
            }

            #all_stars {
                width: 100%;
                text-align: center;
            }

            .stars_section {
                width: 90%;
                height: auto;
            }

                .stars {
                    margin-top: 6px;
                }

                    .star {
                        font-size: 18px;
                        margin-top: 3px;
                    }

            #course_display #banner #progress {
                margin: 0;
                left: 0;
                top: 140px;
                width: 80px;
                height: 80px;
            }



        #course_display #bottom_content {
            padding-top: 30px;
            width: 100%;
        }





        .plan_container {
            width: 100%;
            display: block;
            margin: 0 auto 20px auto;
        }

        .plan_container:last-child {
            margin-bottom: 0;
        }

            .plan_container .title {
                font-size: var(--font-size-smaller);
            }

            .plan_container .price_block {
                font-size: 19px;
            }

            .adv_list li .left {
                font-size: var(--font-size-phone);
            }

            .adv_list li .right {
                font-size: var(--font-size-phone);
            }


        #display_content .inner .panel_right {
            position: relative;
            right: 0;
            left: 0;
            width: 200px;
            display: block;
            margin: 0 auto;
        }


        #cloud_background {
            height: 240px;
            background-size: cover;
        }

        #display_content #all_topics {
            margin-top: -140px;
        }



        .modal .top .title {
            font-size: var(--font-size-smaller);
        }




        .modal .subtitle {
            font-size: var(--font-size-smaller);
        }

        .modal .desc {
            font-size: var(--font-size-phone);
        }

        .modal .href .bold {
            font-size: var(--font-size-phone);
        }

            .modal .tab_section .buttons {
                margin: 35px 0 0 0;
            }

            .modal .bottom .button_gray {
                font-size: var(--font-size-phone);
            }


            .progressbar li {
                width: 30%;
            }

            .progressbar li:before {
                width: 15px;
                height: 15px;
                border: 2px solid #bebebe;
                margin: 0 auto 4px auto;
                border-radius: 50%;
            }

            .progressbar li:after {
                width: 88%;
                height: 3px;
                top: 7px;
                left: -44%;
            }



        #payment_container .input_group {
            width: 90%;
        }

        #payment_container .input_group .input {
            font-size: var(--font-size-smaller);
            padding: 12px 0 8px 8px;
        }

        #payment_container .button_gray {
            padding: 12px 0;
            width: 90%;
        }


    }
    