

#footer {
    position: relative;
    width: 100%;
    background: linear-gradient(180deg, rgba(31,32,42,1) 40%, rgba(39,45,54,1) 100%);
    padding: 70px 0 35px 0;
    z-index: 3;
}


#footer .inner {
    width: 90%;
    margin: auto;
}


        #footer_heading {
            position: relative;
            width: 80%;
            margin: auto;
            height: auto;
            padding-bottom: 90px;
            font-size: 0;
        }


        #footer_right {
            position: relative;
            width: 38%;
            margin-left: 4%;
            display: inline-block;
            vertical-align: top;
        }


                #footer_heading .title {
                    font-size: var(--font-size-title);
                    color: var(--color-white);
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin: 0 0 20px 0;
                }





        #footer_left {
            position: relative;
            width: 58%;
            display: inline-block;
            vertical-align: top;
        }


                #footer_heading .desc {
                    color: #878A99;
                    font-size: var(--font-size-normal);
                    margin: 0;
                }

                #footer_left .list_link {
                    margin-top: 8px;
                }













        #footer_bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            border-top: 1px solid #444F5E;
            padding: 0 15px;
            min-height: 70px;
        }


        #footer_bottom .info {
            position: relative;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: middle;
            width: 65%;
            margin: 0;
            color: #878A99;
            font-size: var(--font-size-normal);
        }


        #social {
            position: relative;
            display: flex;
            justify-items: center;
            box-sizing: border-box;
            height: 40px;
        }


        
                #social .social_media {
                    position: relative;
                    padding: 10px 20px;
                    box-sizing: border-box;
                    border-radius: 30px;
                    background: #CFCFCF;
                    color: #1C242B;
                    margin: 0;
                    text-align: center;
                    cursor: pointer;
                    transition: all 0.3s;
                }


                #social .social_media i { 
                    position: absolute;
                    font-size: 16px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: background 0.3s;
                }


                #social .social_media:first-child {
                    margin-right: 8px;
                }


                #facebook:hover {
                    background: #3B5998;
                    color: #F0F0F0;
                }


                #youtube:hover {
                    background: #F70000;
                    color: #F0F0F0;
                }



    @media screen and (max-width: 1024px) {

        #footer {
            padding: 50px 0 35px 0;
        }

        #footer_heading {
            width: 95%;
            height: auto;
            padding-bottom: 40px;
        }

                #footer_heading .title {
                    font-size: var(--font-size-normal);
                }

                #footer_heading .desc {
                    font-size: var(--font-size-smaller);
                }

                #footer_heading .href {
                    font-size: var(--font-size-smaller);
                }


        #footer_bottom {
            padding: 0 7px;
        }

            #footer_bottom .info {
                font-size: var(--font-size-smaller);
            }
        
    }


    @media screen and (max-width: 480px) {

        #footer_heading {
            width: 95%;
            height: auto;
            padding-bottom: 40px;
        }

            #footer_left {
                display: block;
                width: 100%;
            }

            #footer_right {
                display: block;
                width: 100%;
                margin-left: 0;
                margin-top: 20px;
            }

                #footer_heading .title {
                    font-size: var(--font-size-smaller);
                    margin-bottom: 10px;
                }

                #footer_heading .desc {
                    font-size: var(--font-size-phone);
                }

                #footer_heading .href {
                    font-size: var(--font-size-phone);
                }


        #footer_bottom .info {
            font-size: var(--font-size-smaller);
        }

        #social .social_media {
            position: relative;
            padding: 8px 18px;
            border-radius: 25px;
        }
        
    }


    @media screen and (max-width: 400px) {

        #footer_bottom {
            flex-direction: column-reverse;
            height: auto;
            padding: 0 5px;
        }

            #social {
                margin: 10px 0 15px 0;
            }

            #footer_bottom .info {
                width: 100%;
                text-align: center;
            }



        #footer_left {
            width: 100%;
        }

        #footer_right {
            display: block;
            width: 100%;
            margin-left: 0;
            margin-top: 20px;
        }

    }