/* Menu */

#header {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    background: transparent;
    border-bottom: 2px solid transparent;
    transition: all 0.4s;
    z-index: 3;
    padding: 14px 0 12px 0;
    font-size: 0;
}


#header.nav_active {
    padding: 12px 0 8px 0;
    background: #fff;
    border-bottom: 2px solid #E0E0E0;
}


#navPanelToggle {
    position: absolute;
    display: none;
    transition: all 0.3s;
    right: 25px;
    top: 50%;
    padding: 15px 0;
    transform: translateY(-50%);
    font-size: 25px;
    color: #808080;
    cursor: pointer;
    z-index: 22;
}

#navPanelToggle:hover, #navPanelToggle.active {
    color: #999999;
}



#navPanel {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 88%;
    height: 45px;
    margin: auto;
    background: transparent;
    text-align: left;
}


        #nav_logo {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
            font-size: 18px;
            font-weight: bold;
            color: var(--color-title);
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s;
            z-index: 2;
            height: 42px;
        }

         #nav_logo img {
            position: relative;
            height: 100%;
            top: 50%;
            transform: translateY(-50%);
        }


        #header_buttons {
            display: inline-block;
            vertical-align: top;
            height: 100%;
            margin-left: 300px;
            transition: all 0.3s;
        }


    
        .header_button {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            vertical-align: top;
            top: 50%;
            transform: translateY(-50%);
            color: var(--color-title);
            text-decoration: none;
            border-bottom: 2px solid transparent;
            font-size: 16px;
            padding: 0 6px 4px 6px;
            margin-right: 20px;
            transition: all 0.3s;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -ms-transition: all 0.3s;
        }
                
                
        .header_button:hover {
            border-bottom: 2px solid var(--color-title);
        }


        .header_button:last-child {
            margin-right: 0;
        }










        #header.nav_active .header_button {
            margin-top: 3px;
        }


        #buttons {
            position: relative;
            float: right;
            height: 100%;
        }

        #login_button {
            box-sizing: border-box;
            color: var(--color-title);
        }

        #header.nav_active #login_button {
            margin-right: 0;
        }

        #header #login_button:hover {
            border-bottom: 3px solid transparent;
            color: var(--color-light-blue);
        }

        #header #register_button {
            background: #EBEBEB;
            color: var(--color-title);
            box-shadow: none;
        }

        #header .button_transparent_underline {
            width: 120px;
            padding: 10px 0;
            margin-right: 10px;
        }






        .dropdown {
            position: relative;
            height: 100%;
            transition: all 0.3s;
        }

        .dropbtn {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            font-size: var(--font-size-normal);
            font-weight: bold;
            text-align: center;
            color: #595959;
            background: #fff;
            height: 45px;
            min-width: 200px;
            padding: 0 30px 0 20px;
            cursor: pointer;
            border-radius: 8px;
            box-shadow: 0 0 2px 2px #E0E0E0;
            transition: all 0.3s;
        }

        .dropbtn div {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .dropbtn i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
            font-size: 16px;
            margin-left: 6px;
            color: #4D4D4D;
            transition: all 0.3s;
        }

        .dropdown_content {
            position: absolute;
            visibility: hidden;
            box-sizing: border-box;
            background: #fff;
            top: 58px;
            opacity: 0;
            min-width: 160px;
            left: -50%;
            width: 150%;
            transition: all 0.1s;
            border-radius: 8px;
            box-shadow: 0 0 2px 2px #E0E0E0;
        }

        #header.nav_active .dropdown_content {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        
        .dropdown_content .dropdown_link {
            position: relative;
            box-sizing: border-box;
            display: block;
            color: #4D4D4D;
            background: transparent;
            font-size: 15px;
            padding: 14px 12px;
            text-decoration: none;
            transition: all 0.3s;
        }

        .dropdown_content button {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            cursor: pointer;
            text-align: left;
        }

        .dropdown_content .dropdown_link i {
            color: #595959;
            transform: rotate(0deg);
            transition: all 0.5s;
        }




        .dropdown_content .dropdown_link:hover {
            background: #F0F0F0;
            color: var(--color-light-blue);
        }

        .dropdown_content .dropdown_link:hover i {
            transform: rotate(360deg);
            color: var(--color-light-blue);

        }

        .dropdown_content .dropdown_link:first-of-type {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        #header.nav_active .dropdown_content .dropdown_link:first-of-type {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .dropdown_content .dropdown_link:last-of-type:hover {
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        .dropdown:hover .dropdown_content {
            visibility: visible;
            opacity: 1;
        }

        .dropdown:hover .dropbtn {
            height: 56px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom: none;
            background: rgba(39, 51, 59, 0.95);
            background: #fff;
            z-index: 10;
        }

        .dropbtn:hover {
            color: var(--color-light-blue);
        }

        .dropbtn:hover .dropbtn i {
            color: var(--color-light-blue);
        }

        .dropdown:hover {
            height: 118%;
        }

        .dropdown:hover .dropbtn i {
            transform: translateY(-50%) rotate(0deg);
        }









        /*@media screen and (max-width: 1600px) {

        }


        @media screen and (max-width: 1280px) {

        }
        
        
        @media screen and (max-width: 1024px) {    

        }
        
        
        @media screen and (max-width: 840px) {

        }
   
        
        @media screen and (max-width: 650px) {

        }
        
        
        @media screen and (max-width:  480px) {
        
        }*/


        @media screen and (max-width: 1600px) {

            #navPanel {
                width: 95%;
            }

        }



        @media screen and (max-width: 1500px) {

        }

        
        @media screen and (max-width: 1280px) {

            #navPanel {
                width: 90%;
            }

            .dropdown_content {
                min-width: 160px;
                width: 180%;
                right: 0%;
            }

        }
        
        
        @media screen and (max-width: 1024px) {    

            #header_buttons {
                margin-left: 190px;
            }

        }

        
        @media screen and (max-width: 768px) {

            #header {
                height: 50px;
            }

                #header.nav_active {
                    padding: 0;
                }

                #nav_logo {
                    left: 30px;
                    height: 80%;
                }

            #navPanelToggle {
                display: block;
                padding: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            #navPanel {
                position: fixed;
                visibility: hidden;
                top: 50px;
                right: 0;
                width: 300px;
                height: 100%;
                opacity: 0;
                z-index: 20;
                background: #FFF;
                padding: 0;
            }

            #navPanel.active {
                visibility: visible;
                opacity: 1;
            }

            #header_buttons {
                display: block;
                width: 100%;
                margin: 50px 0 30px 0;
                height: auto;
            }

                .header_button {
                    top: auto;
                    transform: translateY(0%);
                    font-size: var(--font-size-normal);
                    padding: 0 6px 4px 6px;
                    margin-right: 0;
                    width: 100%;
                    display: block;
                    text-align: center;
                }

                #header.nav_active .header_button {
                    margin-top: 15px;
                }

                .header_button.nav_active:first-child {
                    margin-top: 0;
                }

            

            #buttons {
                position: relative;
                width: 100%;
                clear: both;
                margin: auto;
                left: 0;
                right: 0;
                height: auto;
                text-align: center;
            }

                .dropdown {
                    position: relative;
                    top: auto;
                }

                .dropdown_content {
                    position: relative;
                    width: 100%;
                    top: 0;
                    border: none;
                }

                .dropdown_link:first-child {
                    border-top: 1px solid #CCCCCC;
                    box-sizing: border-box;
                }

                .dropbtn i {
                    font-size: 15px;
                }
    
        }
        
        
        @media screen and (max-width:  480px) {

            #navPanel {
                width: 100%;
            }

            #navPanelToggle {
                display: block;
                padding: 10px 0;
            }

            #nav_logo {
                left: 20px;
                height: 80%;
            }

        }




    @keyframes slideInFromRight {
        0% {
            right: -70%;
        }
        100% {
            right: 0;
        }
    }


    @keyframes slideOutToRight {
        0% {
            right: 0;
            opacity: 1;
            visibility: visible;
        }
        100% {
            right: -70%;
            opacity: 0;
        }
    }

    .slideInFromRight {
        animation: slideInFromRight 0.5s ease-in-out;
    }

    .slideOutToRight {
        animation: slideOutToRight 0.5s ease-in-out;
    }