/* Menu */

#header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    text-align: center;
    background: transparent;
    border-bottom: 2px solid transparent;
    transition: all 0.4s;
    padding: 10px 80px;
    z-index: 30;
    font-size: 0;
}


#header.nav_active {
    background: #fff;
    border-bottom: 2px solid #E0E0E0;
    z-index: 30;
    height: 70px;
}


    #navPanelToggle {
        position: relative;
        display: none;
        transition: all 0.3s;
        font-size: 25px;
        color: #fff;
        cursor: pointer;
        margin: auto 0;
        z-index: 30;
    }

    #header.nav_active #navPanelToggle {
        color: #808080;
    }

    #header.nav_active #navPanelToggle:hover, #navPanelToggle.active {
        color: #999999;
    }

    #nav_logo {
        cursor: pointer;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        height: 42px;
        margin: auto 0;
        background: #F0FAFF;
        padding: 5px 10px;
        border-radius: 12px;
        transition: all 0.3s;
        z-index: 2;
    }

    #header.nav_active #nav_logo {
        background: transparent;
    }

    #header.nav_active #nav_logo span {
        color: #03A7DC;
    }


         #nav_logo img {
            position: relative;
            height: 100%;
         }

         #nav_logo span {
             margin-left: 5px;
             font-size: 16px;
             color: #00B8F2;
         }

         #nav_logo:hover {
             box-shadow: 0 0 8px 1px #F5FCFF;
             background: #F5FCFF;
         }


        #header .header_nav_buttons {
            position: relative;
            box-sizing: border-box;
            display: flex;
            justify-items: center;
            margin: auto auto auto 250px;
            transition: all 0.3s;
        }

    
            #header .header_button {
                position: relative;
                align-self: flex-start;
                box-sizing: border-box;
                color: #F5F5F5;
                text-decoration: none;
                background: transparent;
                font-size: 15px;
                /*padding: 0px 6px 4px 6px;*/
                border-bottom: 2px solid #DBECFF;
                padding: 8px 12px;
                margin: 6px 20px 0 0;
                opacity: 0.99;
                transition: border-bottom 0.3s;
                -moz-transition: border-bottom 0.3s;
                -webkit-transition: border-bottom 0.3s;
                -ms-transition: border-bottom 0.3s;
            }


            #header .header_button:hover, #minHeader .header_button:hover {
                border-bottom: 2px solid #F0FBFF;
            }


            #header .header_button:last-child {
                margin-right: 0;
            }

            #header .header_button i {
                margin-right: 5px;
            }

            #header.nav_active .header_button {
                color: var(--color-default);
                border-bottom: 2px solid transparent;
            }

            #header.nav_active .header_button:hover {
                border-bottom: 2px solid var(--color-default);
            }








        #header .header_auth_buttons {
            position: relative;
            display: flex;
            align-items: center;
        }

            .login_button {
                position: relative;
                box-sizing: border-box;
                display: inline-block;
                font-size: 15px;
                width: 120px;
                text-transform: uppercase;
                padding: 10px 15px;
                margin-right: 10px;
                color: #fff;
                border-radius: 10px;
                border: 2px solid #DBECFF;
                text-align: center;
                opacity: 0.99;
                transition: all 0.3s;
            }

                .login_button:hover  {
                    background: rgba(196, 241, 255, 0.2);
                    border: 2px solid #B5EDFF;
                }

                #header.nav_active .login_button {
                    border: 2px solid transparent;
                    color: var(--color-default);
                    font-weight: bold;
                    margin-right: 0;
                }

                #header.nav_active .login_button:hover {
                    background: transparent;
                    color: #03A7DC;
                }

                #header.nav_active .register_button {
                    box-shadow: none;
                    color: #fff;
                    font-weight: bold;
                    background: #60768F;
                }



            .register_button {
                position: relative;
                display: inline-block;
                align-items: center;
                font-size: 15px;
                text-transform: uppercase;
                background: #5BD8FF;
                color: #fff;
                border-radius: 10px;
                padding: 11px 0;
                width: 170px;
                text-align: center;
                transition: all 0.3s;
            }

                .register_button:hover {
                    box-shadow: 0 0 8px 1px #63D9FF;
                    background: #6BDCFF;
                }

                .register_button i {
                    font-size: 0;
                    width: 0;
                    opacity: 0;
                    padding-left: 2px;
                    transition: all 0.3s;
                    color: #F5F5F5;
                }

                .register_button:hover i {
                    font-size: 15px;
                    width: 25px;
                    opacity: 1;
                }



        #minHeader .header_auth_buttons {
            display: flex;
            flex-direction: column;
            justify-items: center;
            margin: 30px 0 0 0;
            width: 100%;
            text-align: center;
        }

        #minHeader .register_button {
            color: #fff;
            font-weight: bold;
            background: #60768F;
            width: 150px;
        }

        #minHeader .login_button {
            border: 2px solid transparent;
            color: var(--color-default);
            font-weight: bold;
            width: auto;
            padding: 10px 15px;
        }








        .dropdown {
            position: relative;
            height: 100%;
            transition: all 0.3s;
        }

        .dropbtn {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            font-size: var(--font-size-normal);
            font-weight: bold;
            text-align: center;
            color: #595959;
            background: #fff;
            height: 45px;
            min-width: 200px;
            padding: 0 30px 0 20px;
            cursor: pointer;
            border-radius: 8px;
            box-shadow: 0 0 2px 2px #E0E0E0;
            transition: all 0.3s;
        }

        .dropbtn div {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .dropbtn i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
            font-size: 16px;
            margin-left: 6px;
            color: #4D4D4D;
            transition: all 0.3s;
        }

        .dropdown_content {
            position: absolute;
            visibility: hidden;
            box-sizing: border-box;
            background: #fff;
            top: 48px;
            opacity: 0;
            min-width: 160px;
            left: -50%;
            width: 150%;
            transition: all 0.1s;
            border-radius: 8px;
            border-top-right-radius: 0;
            box-shadow: 0 0 2px 2px #E0E0E0;
        }

        #header.nav_active .dropdown_content {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        
        .dropdown_content .dropdown_link {
            position: relative;
            box-sizing: border-box;
            display: block;
            color: #4D4D4D;
            background: transparent;
            text-align: left;
            font-size: 15px;
            padding: 14px 12px;
            text-decoration: none;
            transition: all 0.3s;
        }

        .dropdown_content button {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            cursor: pointer;
            text-align: left;
        }

        .dropdown_content .dropdown_link i {
            color: #595959;
            transform: rotate(0deg);
            transition: all 0.5s;
        }




        .dropdown_content .dropdown_link:hover {
            background: #F0F0F0;
            color: var(--color-light-blue);
        }

        .dropdown_content .dropdown_link:hover i {
            transform: rotate(360deg);
            color: var(--color-light-blue);

        }

        .dropdown_content .dropdown_link:first-of-type {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        #header.nav_active .dropdown_content .dropdown_link:first-of-type {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .dropdown_content .dropdown_link:last-of-type:hover {
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        .dropdown:hover .dropdown_content {
            visibility: visible;
            opacity: 1;
        }

        .dropdown:hover .dropbtn {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom: none;
            background: rgba(39, 51, 59, 0.95);
            background: #fff;
            z-index: 10;
        }

        .dropbtn:hover {
            color: var(--color-light-blue);
        }

        .dropbtn:hover .dropbtn i {
            color: var(--color-light-blue);
        }

        .dropdown:hover {
            height: 118%;
        }

        .dropdown:hover .dropbtn i {
            transform: translateY(-50%) rotate(0deg);
        }













#minHeader {
    position: fixed;
    display: none;
    visibility: hidden;
    top: 0;
    padding-top: 50px;
    right: -300px;
    width: 300px;
    height: 100%;
    z-index: 20;
    background: #FFF;
    transition: all 0.5s;
}

#minHeader.active {
    visibility: visible;
    right: 0;
}



#shadow {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0, 0.4);
    transition: all 0.5s;
    z-index: 5;
}


    #minHeader .header_nav_buttons {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 40px 0;
        height: auto;
    }

    #minHeader .header_button {
        padding: 10px 0;
        margin: 5px 0 0 0;
        width: 100%;
        text-align: center;
        font-size: var(--font-size-normal);
        color: var(--color-title);
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.3s;
        -moz-transition: border-bottom 0.3s;
        -webkit-transition: border-bottom 0.3s;
        -ms-transition: border-bottom 0.3s;
    }


    #minHeader .header_button:first-child {
        margin: 0;
    }


    .menu_content {
        position: relative;
        display: flex;
        justify-items: center;
        flex-direction: column;
        box-sizing: border-box;
        margin: 25px 0 0 0;
        padding: 0 15px;
    }

    .menu_link {
        position: relative;
        text-decoration: none;
        box-sizing: border-box;
        text-align: left;
        color: var(--color-title);
        font-size: 16px;
        font-weight: normal;
        padding: 8px 6px;
        width: 100%;
        border-radius: 10px;
        margin-top: 8px;
        transition: all 0.3s;
    }

    .menu_link:first-child {
        margin-top: 0;
    }

    .menu_link:last-child {
        border: none;
        outline: none;
        cursor: pointer;
        margin-top: 35px;
    }

    .menu_link:hover {
        background: #EDEDED;
    }

    .menu_link i {
        text-align: center;
        width: 25px;
        margin-right: 2px;
    }






        /*@media screen and (max-width: 1600px) {

        }


        @media screen and (max-width: 1280px) {

        }
        
        
        @media screen and (max-width: 1024px) {    

        }
        
        
        @media screen and (max-width: 840px) {

        }
   
        
        @media screen and (max-width: 650px) {

        }
        
        
        @media screen and (max-width:  480px) {
        
        }*/



        @media screen and (max-width: 1500px) {

            #header {
                padding-left: 40px;
                padding-right: 40px;
            }

                #header .header_nav_buttons {
                    margin-left: 200px;
                }

        }

        
        @media screen and (max-width: 1280px) {


            .dropdown_content {
                min-width: 160px;
                width: 180%;
                right: 0;
            }


            #header .header_nav_buttons {
                margin-left: 150px;
            }

        }
        
        
        @media screen and (max-width: 1024px) {

            #header .header_nav_buttons {
                margin-left: 50px;
            }

        }

        
        @media screen and (max-width: 850px) {

            #header {
                height: 50px;
                padding: 0 30px;
            }

                #header.nav_active {
                    height: 50px;
                }



            #navPanelToggle {
                display: block;
            }

            #header .header_nav_buttons {
                display: none;
            }

            #header .header_auth_buttons {
                display: none;
            }

            #minHeader {
                display: flex;
                flex-direction: column;
            }

            #shadow.active {
                visibility: visible;
                opacity: 1;
            }

    
        }


        @media screen and (max-width: 580px) {

            #header.nav_active {
                height: 50px;
            }

            #nav_logo {
                height: 34px;
            }



        }


        
        @media screen and (max-width:  380px) {

            #header {
                padding-left: 4%;
                padding-right: 4%;
            }

            #minHeader {
                width: 100%;
                right: -100%;
            }

            #nav_logo {
                left: 20px;
                height: 80%;
            }

        }




    @keyframes slideInFromRight {
        0% {
            right: -100%;
        }
        100% {
            right: 0;
        }
    }


    @keyframes slideOutToRight {
        0% {
            right: 0;
            visibility: visible;
        }
        100% {
            right: -100%;
            visibility: hidden;
        }
    }

    .slideInFromRight {
        animation: slideInFromRight 0.5s ease-out;
    }

    .slideOutToRight {
        animation: slideOutToRight 0.5s ease-in-out;
    }