

#content #banner {
    overflow: hidden;
    position: relative;
    height: 100vh;
    background: linear-gradient(-135deg, #1FAFE3 0%, #2C8FC9 100%);
}


    #about {
        position: relative;
        box-sizing: border-box;
        width: 800px;
        margin: auto;
        top: 30%;
        text-align: center;
        animation: fadeInOpacity 1.7s ease-out;
        z-index: 10;
    }

        #about .title {
            font-size: 50px;
            font-weight: bold;
            margin: 0;
            letter-spacing: 0;
            color: #EDFAFF;
        }

        #about .desc {
            width: 70%;
            margin: 7px auto 60px auto;
            font-size: 16px;
            font-weight: normal;
            text-align: center;
            color: #fff;
        }

        #about .desc p {
            margin: 0;
        }

        .button_transparent {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            padding: 12px 0;
            width: 200px;
            background: rgba(211, 235, 243, 0.4);
            color: #fff;
            font-size: 15px;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.3s;
        }

            .button_transparent:hover {
                background: rgba(211, 235, 243, 0.5);
            }

            .button_transparent i {
                font-size: 0;
                width: 0;
                opacity: 0;
                padding-left: 2px;
                transition: all 0.3s;
                color: #fff;
            }


            .button_transparent:hover i {
                font-size: 15px;
                width: 25px;
                opacity: 1;
            }


            /* #about .title_with_shadow {
                position: relative;
                width: 160px;
                font-size: 17px;
                margin: 0 0 7px 0;
            }

            .tit_bck {
                position: absolute;
                width: 50%;
                height: 100%;
                left: -10px;
                top: 0;
                background: linear-gradient(90deg, rgba(240,240,240,1) 20%, rgba(235,235,235,0) 100%);
                z-index: 0;
            }

            #about .tit_text {
                position: relative;
                margin: 0;
                z-index: 1;
            }

            .dot {
                position: relative;
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #03A7DC;
                margin: 0 15px;
            }*/



#banner .floating_square {
    position: absolute;
    pointer-events: none;
    background: #43B8E8;
    border-radius: 20%;
    animation: animate 20s linear infinite;
    top: 100vh;
    opacity: 0;
}

    #banner .floating_square:nth-child(1) {
        width: 20px;
        height: 20px;
        left: calc(62% - 20px);
        border-radius: 20%;
        animation-duration: 16s;
    }

    #banner .floating_square:nth-child(2) {
        width: 70px;
        height: 70px;
        left: calc(70% - 70px);
        animation-delay: 0.5s;
    }

    #banner .floating_square:nth-child(3) {
        width: 40px;
        height: 40px;
        left: calc(23% - 40px);
        animation-delay: 1s;
    }

    #banner .floating_square:nth-child(4) {
        width: 80px;
        height: 80px;
        left: calc(42% - 80px);
        animation-delay: 3s;
        animation-duration: 18s;
    }

    #banner .floating_square:nth-child(5) {
        width: 35px;
        height: 35px;
        left: calc(10% - 35px);
        animation-delay: 5s;

    }

    #banner .floating_square:nth-child(6) {
        width: 55px;
        height: 55px;
        left: calc(55% - 55px);
        animation-delay: 5.5s;
    }

    #banner .floating_square:nth-child(7) {
        width: 70px;
        height: 70px;
        left: calc(85% - 70px);
        animation-delay: 6.5s;
    }

    #banner .floating_square:nth-child(8) {
        width: 100px;
        height: 100px;
        left: calc(75% - 100px);
        animation-delay: 9s;
    }

    #banner .floating_square:nth-child(9) {
        width: 60px;
        height: 60px;
        left: calc(25% - 60px);
        animation-delay: 8s;
    }

    #banner .floating_square:nth-child(10) {
        width: 30px;
        height: 30px;
        left: calc(42% - 70px);
        animation-delay: 9s;
    }

    #banner .floating_square:nth-child(11) {
        width: 20px;
        height: 20px;
        left: calc(5% - 20px);
        animation-delay: 10s;
    }

    #banner .floating_square:nth-child(12) {
        width: 46px;
        height: 46px;
        left: calc(50% - 46px);
        animation-delay: 12s;
    }

    #banner .floating_square:nth-child(13) {
        width: 20px;
        height: 20px;
        left: calc(90% - 20px);
        animation-delay: 13s;
    }

    #banner .floating_square:nth-child(14) {
        width: 60px;
        height: 60px;
        left: calc(17% - 60px);
        animation-delay: 14s;
    }

    #banner .floating_square:nth-child(15) {
        width: 35px;
        height: 35px;
        left: calc(28% - 35px);
        animation-delay: 14.5s;
    }

    #banner .floating_square:nth-child(16) {
        width: 75px;
        height: 75px;
        left: calc(70% - 75px);
        animation-delay: 15s;
    }

    #banner .floating_square:nth-child(17) {
        width: 60px;
        height: 60px;
        left: calc(85% - 60px);
        animation-delay: 16s;
    }


    #banner .floating_square:nth-child(18) {
        width: 80px;
        height: 80px;
        left: calc(35% - 80px);
        animation-delay: 17s;
    }

    #banner .floating_square:nth-child(19) {
        width: 40px;
        height: 40px;
        left: calc(7% - 40px);
        animation-delay: 18s;
    }


    @keyframes animate {
        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            transform: translateY(-120vh) rotate(720deg);
            opacity: 0;
        }
    }



    #banner #blobs {
        position: relative;
        height: 100vh;
        width: 100%;
    }

        #banner .blob_body {
            position: absolute;
        }

        #banner .blob1 {
            width: 45%;
            top: 0;
            left: 10%;
            filter: blur(15px);
            animation: fadeInDelay 1.5s ease-out;
            z-index: 2;
        }

        #banner .blob2 {
            width: 15%;
            height: 15%;
            top: 60%;
            left: 15%;
            animation: fadeInOpacity 1.3s ease-out;
            z-index: 4;
        }

        #banner .blob3 {
            width: 42%;
            height: 42%;
            top: 12%;
            left: 30%;
            filter: blur(15px);
            animation: fadeIn 1s ease-out;
            z-index: 2;
        }

        #banner .blob4 {
            width: 10%;
            height: 10%;
            top: 10%;
            left: 70%;
            animation: fadeInOpacity 1.3s ease-out;
            z-index: 4;
        }




        #banner #animated_arrow {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 60px;
            display: flex;
            align-items: center;
            flex-direction: column;
            z-index: 10;
        }


            #animated_arrow .arrow_down {
                position: relative;
                height: 17px;
                font-size: 30px;
                color: #EBFBFF;
                transform: scale(1);
                opacity: 0;
                animation: fadeOut 1.6s linear infinite;
            }

            #animated_arrow .arrow_down:nth-child(2) {
                animation-delay: 0.4s;
            }

            #animated_arrow .arrow_down:nth-child(3) {
                animation-delay: 0.8s;
            }


            @keyframes fadeOut {
                0% {
                    opacity: 1;
                    transform: scale(1);
                }
                45%,90% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            @keyframes fadeIn {
                0% {
                    opacity: 0;
                    transform: scale(0)
                }
                80% {
                    transform: scale(1.1);
                }
                100% {
                    opacity: 1;
                    transform: scale(1)
                }
            }


            @keyframes fadeInDelay {
                0%,20% {
                    opacity: 0;
                    transform: scale(0)
                }
                80% {
                    transform: scale(1.1);
                }
                100% {
                    opacity: 1;
                    transform: scale(1)
                }
            }


            @keyframes fadeInOpacity {
                0%, 50% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }




#section_introduction {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1300px;
    margin: auto;
    padding: 250px 0 200px 0;
}

    #index_video {
        position: relative;
        border-radius: 8px;
        width: 650px;
        box-shadow: 0 0 20px 1px #E3E3E3;
        z-index: 2;
    }

    #section_introduction .left .blob {
        position: absolute;
        width: 650px;
        height: 650px;
        top: 100px;
        left: 0;
        z-index: 1;
    }



    #section_introduction .right {
        margin-left: 100px;
    }


    #section_introduction .right .desc {
        position: relative;
        z-index: 2;
    }

    #section_introduction .right h2 {
        font-size: 28px;
        color: #1E4675;
        width: 100%;
        z-index: 3;
    }

    #section_introduction .right p {
        color: #1E4675;
        width: 100%;
        z-index: 30;
    }









#section_advantages {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 400px;
    margin: 0 auto 0 auto;
    border-radius: 30px;
    background: linear-gradient(135deg, #1FAFE3 0%, #2C8FC9 100%);
    box-shadow: 0 0 15px 2px #D4EBF7;
}


#section_advantages .left {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    padding: 20px 0 20px 50px;
}

    #section_advantages .left h2 {
        color: #fff;
    }

    #section_advantages .left p {
        width: 60%;
        color: #D4EBF7;
    }



#section_advantages .right {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 50%;
}



    #section_advantages .right .square_block {
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 33.33%;
        height: 50%;
    }

    #section_advantages .right .square_block:nth-child(2n -1) {
        background: #2EB1E8;
    }

    #section_advantages .right .square_block:nth-child(3) {
        border-top-right-radius: 30px;
    }

    #section_advantages .right .square_block:nth-child(6) {
        border-bottom-right-radius: 30px;
    }

    #section_advantages .right .square_block i {
        color: #F0F0F0;
        font-size: 50px;
    }

    #section_advantages .right .square_block p {
        color: #fff;
        width: 90%;
        font-size: 15px;
        text-align: center;
        margin: 30px 0 0 0;
    }


































#section3 {
    position: relative;
    min-height: 600px;
    width: 100%;
    background: #fff;
    padding: 150px 0 150px 0;
}
        

        #section3 .inner {
            width: 940px;
            margin: auto;
            text-align: left;
        }

        #section3 .introduction {
            margin-bottom: 20px;
            margin-left: 10px;
            font-size: 20px;
            color: var(--color-title);
        }


                #section3 .dots {
                    position: relative;
                    margin: 40px auto 10px auto;
                    width: 40px;
                    height: 10px;
                    font-size: 0;
                    text-align: center;
                }

                #section3 .dot {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    box-sizing: border-box;
                    width: 10px;
                    height: 10px;
                    margin: 0 5px 0 0;
                    border-radius: 50%;
                    background: #D1D1D1;
                }

                #section3 .dot:last-child {
                    margin: 0;
                }



                #button_all_courses {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 20px auto 0 auto;
                    width: 260px;
                    font-size: 14px;
                }



#terms_content {
    position: relative;
    box-sizing: border-box;
    width: 1200px;
    margin: 140px auto 100px auto;
}

    #terms_content h1 {
        width: 100%;
        text-align: center;
        color: #0E0E0E;
        font-size: 28px;
        margin-bottom: 60px;
    }

    #terms_content .term_title:first-child {
        margin-top: 0;
    }

    #terms_content .term_title {
        font-weight: bold;
        font-size: 18px;
        color: #0E0E0E;
        margin: 20px 0 10px 0;
    }

        #terms_content .term_desc {
            color: var(--color-default);
            margin-bottom: 7px;
        }

    #terms_content ol {
        padding-left: 15px;
    }

    #terms_content ul {
        padding-left: 18px;
    }

    #terms_content ul a {
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        color: #03A7DC;
        position: relative;
    }




#courses {
    position: relative;
    min-height: 600px;
    width: 100%;
    background: #FAFAFA;
    padding: 100px 0 120px 0;
    font-size: 0;
}

        #courses .inner {
            display: flex;
            flex-direction: row;
            width: 1140px;
            margin: auto;
            text-align: left;
        }



        #courses .left_panel {
            position: relative;
            box-sizing: border-box;
            width: 70%;
        }


            #top_panel {
                position: relative;
                padding-bottom: 0;
                margin-top: 40px;
                width: 100%;
            }

            #top_panel .heading {
                box-sizing: border-box;
                font-size: 18px;
                margin: 0 0 20px 0;
                padding: 0 0 6px 10px;
                border-bottom: 2px solid #eef0f7;
                font-weight: normal;
                color: var(--color-default);
            }

            #top_panel .category {
                font-size: 18px;
                font-weight: normal;
                color: var(--color-light-blue);
            }

            #courses_list {
                position: relative;
                width: 100%;
                font-size: 0;
            }

            







        #courses #right_panel {
            position: relative;
            box-sizing: border-box;
            width: 30%;
            height: auto;
        }

            #courses #right_panel ul {
                box-sizing: border-box;
                margin-top: 30px;
            }


            #courses #right_panel li {
                margin-bottom: 10px;
            }

            #courses #right_panel li:last-child {
                margin-bottom: 0;
            }


            #courses #right_panel .title {
                font-size: var(--font-size-title);
                font-weight: bold;
                margin: 0 0 8px 0;
                color: var(--color-title);
            }

            #courses #right_panel .checkbox_body {
                margin-bottom: 8px;
            }

            #courses #right_panel .checkbox_body:last-of-type {
                margin-bottom: 0;
            }


            #empty_error {
                position: relative;
                width: 100%;
                padding: 50px 0;
                border: 1px solid #E0E0E0;
                border-radius: 15px;
                box-shadow: 0 10px 10px 2px #F0F0F0;
                text-align: center;
            }

            #empty_error p {
                font-size: 20px;
                color: var(--color-light-red);
                margin: 0;
            }



#content_error {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding-top: 70px;
    text-align: center;
}

#content_error #error_info {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #414143;
    min-height: 70vh;
    padding-top: 20px;
}

    #error_info h1 {
        font-size: 130px;
        margin: 0 0 10px 0;
        text-shadow:
                1px 0   1px #E6E6E6, 0   1px 1px #E6E6E6,
                2px 1px 1px #E6E6E6, 1px 2px 1px #E6E6E6,
                3px 2px 1px #E6E6E6, 2px 3px 1px #E6E6E6,
                4px 3px 1px #E6E6E6, 3px 4px 1px #E6E6E6,
                5px 4px 1px #E6E6E6, 4px 5px 1px #E6E6E6,
                6px 5px 1px #E6E6E6, 5px 6px 1px #E6E6E6,
                7px 6px 1px #E6E6E6;
    }

    #error_info h2 {
        font-size: 25px;
        text-transform: uppercase;
        margin: 0 0 10px 0;
    }

    #error_info h3 {
        font-size: 17px;
        margin: 0 0 20px 0;
        color: #626266;
        width: 80%;
        max-width: 550px;
    }

    #error_info #button_main_page {
        width: 270px;
        margin: 20px 0 0 0;
        padding: 13px 6px;
    }











        @media screen and (max-width: 1500px) {

            #banner .blob1 {
                min-width: 650px;
                top: -5%;
                left: 5%;
            }

            #banner .blob2 {
                min-width: 250px;
                height: 15%;
                left: 10%;
            }

            #banner .blob3 {
                min-width: 570px;
                top: 12%;
                left: 25%;
            }

            #banner .blob4 {
                min-width: 150px;
            }




            #section_introduction {
                width: 90%;
                margin: auto;
                padding: 250px 0 200px 0;
            }

                #section_introduction .left {
                    box-sizing: border-box;
                    width: 50%;
                }

                #index_video {
                    width: 100%;
                }

                #section_introduction .left .blob {
                    width: 70%;
                    height: 70%;
                    top: 17%;
                    left: -10%;
                }

            #section_introduction .right {
                box-sizing: border-box;
                width: 45%;
                margin-left: 5%;
            }


            #section_advantages {
                width: 90%;
            }


            #terms_content {
                width: 90%;
            }


        }



        @media screen and (max-width: 1200px) {

            #section_introduction {
                padding: 150px 0 150px 0;
            }

            #section_introduction .left .blob {
                width: 80%;
                height: 80%;
                top: 10%;
                left: -15%;
            }


            #section_introduction .right {
                display: flex;
                align-items: center;
            }


            #section_introduction .right h1 {
                margin-top: 0;
                font-size: 24px;
            }


            #section_advantages {
                height: 300px;
            }

            #section_advantages .left {
                width: 40%;
                padding: 15px 0 15px 30px;
            }

                #section_advantages .left h1 {
                    font-size: 22px;
                }

                #section_advantages .left p {
                    font-size: 14px;
                    width: 95%;
                }

            #section_advantages .right {
                width: 60%;
            }

                #section_advantages .right .square_block i {
                    font-size: 35px;
                }

                #section_advantages .right .square_block p {
                    width: 85%;
                    font-size: 14px;
                    margin: 20px 0 0 0;
                }









            #section3 .inner {
                width: 90%;
            }

            #courses .inner {
                width: 90%;
                flex-direction: column-reverse;
            }
    

            #courses .left_panel, #courses #right_panel {
                width: 100%;
            }

            #courses #top_panel {
                transition: all 0.3s;
            }


            #top_panel #filtersToggle {
                position: absolute;
                display: block;
                right: 10px;
                width: 75px;
                top: 0;
                font-size: 18px;
                color: #595959;
                font-weight: bold;
                cursor: pointer;
            }

            #top_panel #filtersToggle.active {
                color: var(--color-blue);
            }

            #top_panel #filtersToggle i {
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                font-size: 20px;
            }





            #courses #right_panel {
                position: absolute;
                top: 190px;
                width: 90%;
                overflow: hidden;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s;
            }

            #courses #right_panel ul {
                margin: 0;
            }

            #courses #right_panel.active {
                visibility: visible;
                opacity: 1;
            }

            #courses #right_panel li {
                display: inline-block;
                vertical-align: top;
                margin: 0 30px 0 0;
            }

            #courses #right_panel li:first-child {
                width: 320px;
            }

            #courses #right_panel li:nth-of-type(2) {
                width: 180px;
                margin: 0;
            }

            #courses #right_panel li:last-child {
                margin: 0;
            }

        }



#faq {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 800px;
    margin: 80px auto 80px auto;
}

#faq .heading {
    margin: 0 0 40px 0;
    color: #000;
}


#faq .question {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    color: #5D646B;
    width: 100%;
    transition: all 0.3s;
}


#faq .question:hover, #faq .question.active {
    border-radius: 10px;
    box-shadow: 0 10px 30px 2px #E6E6E6;
}

    #faq .question_text {
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 100%;
        text-align: left;
        padding: 28px 45px 28px 35px;
        background: transparent;
        border: 0;
        cursor: pointer;
        font-size: 16px;
    }

    .question_text .first_icon {
        font-size: 21px;
        margin-right: 15px;
        color: #4D4D4D;
    }

    #faq .icon {
        position: absolute;
        right: 15px;
    }


#faq .answer {
    position: relative;
    box-sizing: border-box;
    padding: 0 30px;
    max-height: 0;
    margin: 0;
    overflow: hidden;
    font-size: 15px;
    color: #6c757d;
    opacity: 0;
    transition: max-height 0.3s, padding 0.3s, opacity 0.3s;
}


#faq .answer.active {
    opacity: 1;
    padding: 10px 30px 30px 30px;
    max-height: 150px;
}












        @media screen and (max-width: 1024px) {

            #about {
                width: 100%;
            }

            #about .title {
                font-size: 35px;
            }

            #about .desc {
                font-size: 15px;
            }



            #section_introduction {
                padding: 120px 0 150px 0;
            }

            #section_introduction .left .blob {
                top: 6%;
                left: -20%;
            }

            #section_introduction .right {
                display: flex;
                align-items: center;
            }

            #section_introduction .right h1 {
                margin-top: 0;
                font-size: 20px;
            }

            #section_introduction .right .desc {
                font-size: 15px;
            }

        }




        @media screen and (max-width: 850px) {

            #banner .blob1 {
                min-width: 460px;
            }

            #banner .blob2 {
                min-width: 180px;
            }

            #banner .blob3 {
                min-width: 470px;
            }

            #banner .blob4 {
                min-width: 100px;
            }



            #about {
                top: 25%;
            }

            #about .desc {
                width: 70%;
                text-align: center;
            }

                #about .title {
                    width: 95%;
                    margin: auto;
                    font-size: 27px;
                }

                #about p {
                    width: 100%;
                    font-size: 14px;
                }

            #banner #animated_arrow {
                bottom: 30px;
            }

            #courses .inner {
                width: 90%;
            }

            #terms_content {
                margin-top: 80px;
            }

            #terms_content h1 {
                margin: 30px 0 30px 0;
                font-size: 22px;
            }

                #terms_content .term_title {
                    font-size: 15px;
                }

                #terms_content .term_desc {
                    font-size: 14px;
                }


            #faq {
                width: 95%;
            }

                #faq .heading {
                    text-align: center;
                    margin-bottom: 30px;
                }

        }

        
        @media screen and (max-width: 768px) {

            #banner .floating_square:nth-child(8) {
                display: none;
            }

            #banner .floating_square:nth-child(9) {
                display: none;
            }

            #banner .floating_square:nth-child(10) {
                display: none;
            }

            #banner .floating_square:nth-child(14) {
                display: none;
            }

            #banner .floating_square:nth-child(17) {
                display: none;
            }

            #banner .floating_square:nth-child(18) {
                display: none;
            }

            #banner .floating_square:nth-child(19) {
                display: none;
            }


            #section_introduction {
                flex-direction: column;
                text-align: center;
            }

            #section_introduction .left {
                width: 90%;
                margin: auto;
            }

            #section_introduction .left .blob {
                width: 84%;
                height: 84%;
                top: -9%;
                left: 5%;
            }

            #section_introduction .right {
                width: 75%;
                margin: 50px auto 0 auto;
            }


            #section_advantages {
                height: auto;
                flex-direction: column;
            }

            #section_advantages .left {
                box-sizing: border-box;
                width: 100%;
                padding: 30px 0 50px 30px;
            }

                #section_advantages .left h1 {
                    margin-top: 0;
                    font-size: 20px;
                }

                #section_advantages .left p {
                    font-size: 13px;
                    width: 80%;
                }

            #section_advantages .right {
                width: 100%;
                height: 250px;
            }

                #section_advantages .right .square_block i {
                    font-size: 26px;
                }

                #section_advantages .right .square_block p {
                    width: 85%;
                    font-size: 13px;
                    margin: 15px 0 0 0;
                }

                #section_advantages .right .square_block:nth-child(3) {
                    border-top-right-radius: 0;
                }

                #section_advantages .right .square_block:nth-child(6) {
                    border-bottom-right-radius: 0;
                }



            #courses {
                min-height: 0;
                padding: 100px 0 70px 0;
            }

            #courses #top_panel {
                margin-top: 0;
            }

                #top_panel .heading {
                    font-size: 16px;
                }

                #top_panel .category {
                    font-size: 16px;
                }

                #courses #right_panel {
                    top: 150px;
                }

                #courses #right_panel .title {
                    font-size: var(--font-size-normal);
                }

                #top_panel #filtersToggle {
                    width: 65px;
                    font-size: 16px;
                }

                #top_panel #filtersToggle i {
                    font-size: 18px;
                }



            #error_info h1 {
                font-size: 100px;
                margin-bottom: 0;
            }

            #error_info h2 {
                font-size: 20px;
                margin-bottom: 15px;
            }

            #error_info h3 {
                font-size: 15px;
            }

            #error_info #button_main_page {
                padding: 12px 6px;
            }

            #faq .heading {
                font-size: 21px;
            }

                #faq .question_text {
                    font-size: 15px;
                }

                .question_text .first_icon {
                    font-size: 19px;
                }

                #faq .answer {
                    font-size: 14px;
                }

        }


        @media screen and (max-width: 650px) {

            #courses #right_panel li {
                display: block;
            }

            #courses #right_panel li:first-child {
                margin-top: 0;
                width: 100%;
            }

            #courses #right_panel li:nth-of-type(2) {
                width: 100%;
                margin-top: 15px;
            }

            #courses #right_panel ul {
                padding-left: 15px;
            }

        }


        @media screen and (max-width: 580px) {

            #banner .blob1 {
                min-width: 400px;
                top: 5%;
                left: -15%;
            }

            #banner .blob2 {
                min-width: 150px;
            }

            #banner .blob3 {
                min-width: 420px;
                top: 15%;
                left: 0;
            }

            #banner .blob4 {
                min-width: 90px;
            }



            #about .desc {
                width: 90%;
                margin-top: 10px;
            }

                #about .title {
                    width: 97%;
                }

            #banner #animated_arrow {
                bottom: 15%;
            }

            #section_introduction {
                width: 95%;
                padding: 100px 0 80px 0;
            }

                #section_introduction .left {
                    width: 100%;
                    margin: auto;
                }

                    #section_introduction .left .blob {
                        display: none;
                    }

                #section_introduction .right {
                    width: 85%;
                }


            #section_advantages {
                width: 100%;
                border-radius: 0;
            }

            #section_advantages .left {
                width: 90%;
                margin: auto;
                padding: 30px 0 30px 0;
            }

            #section_advantages .left h1 {
                text-align: center;
            }

            #section_advantages .left p {
                width: 100%;
                text-align: center;
            }

            #section3 {
                padding-top: 100px;
            }

            #terms_content {
                margin-bottom: 50px;
            }

            #terms_content h1 {
                margin: 25px 0 25px 0;
                font-size: 20px;
            }

                #terms_content .term_title {
                    font-size: 14px;
                }

                #terms_content .term_desc {
                    font-size: 13px;
                }



            #error_info h1 {
                font-size: 90px;
            }

            #error_info h2 {
                font-size: 18px;
                margin: 0 0 15px 0;
            }

            #error_info h3 {
                font-size: 14px;
                width: 85%;
                max-width: 500px;
            }

            #error_info #button_main_page {
                width: 85%;
                max-width: 270px;
                margin-top: 15px;
                font-size: var(--font-size-smaller);
                padding: 12px 6px;
            }

            #faq .heading {
                font-size: 18px;
            }

                #faq .question_text {
                    font-size: var(--font-size-smaller);
                }

                .question_text .first_icon {
                    font-size: 18px;
                }

                #faq .answer {
                    font-size: var(--font-size-phone);
                }

                #faq .answer.active {
                    padding: 10px 30px 20px 30px;
                }


        }
        
        
        @media screen and (max-width: 480px) {

            #top_panel .heading {
                width: 100%;
                padding-right: 24%;
            }

                #courses #right_panel .title {
                    font-size: var(--font-size-smaller);
                }

        }


        @media screen and (max-width: 380px) {

            #section_advantages .right {
                height: 320px;
            }

            #section_advantages .right .square_block {
                width: 50%;
                height: 33.33%;
            }

            #section_advantages .right .square_block:nth-child(2n - 1) {
                background: transparent;
            }

            #section_advantages .right .square_block:nth-child(1), #section_advantages .right .square_block:nth-child(4), #section_advantages .right .square_block:nth-child(5) {
                background: #2EB1E8;
            }

        }


        @media screen and (max-width: 320px) {

            #button_all_courses {
                width: 90%;
            }

        }