

#banner {
    overflow: hidden;
    position: relative;
    height: 100vh;
    background: linear-gradient(-135deg, rgba(7, 187, 243,1) 0%, rgba(196, 230, 243,1) 100%);
}


    #about {
        position: relative;
        box-sizing: border-box;
        width: 800px;
        margin: auto;
        top: 30%;
        text-align: center;
        animation: fadeInOpacity 1.7s ease-out;
        z-index: 10;
    }

        #about .title {
            font-size: 50px;
            font-weight: bold;
            margin: 0;
            letter-spacing: 0;
            color: #EDFAFF;
        }

        #about .desc {
            width: 70%;
            margin: 7px auto 60px auto;
            font-size: 16px;
            text-align: center;
            color: #fff;
        }

        #about .desc p {
            margin: 0;
        }

        .button_transparent {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            padding: 12px 0;
            width: 200px;
            background: rgba(211, 235, 243, 0.4);
            color: #fff;
            font-size: 15px;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.3s;
        }

            .button_transparent:hover {
                background: rgba(211, 235, 243, 0.5);
            }

            .button_transparent i {
                font-size: 0;
                width: 0;
                opacity: 0;
                padding-left: 2px;
                transition: all 0.3s;
                color: #fff;
            }


            .button_transparent:hover i {
                font-size: 15px;
                width: 25px;
                opacity: 1;
            }


            /* #about .title_with_shadow {
                position: relative;
                width: 160px;
                font-size: 17px;
                margin: 0 0 7px 0;
            }

            .tit_bck {
                position: absolute;
                width: 50%;
                height: 100%;
                left: -10px;
                top: 0;
                background: linear-gradient(90deg, rgba(240,240,240,1) 20%, rgba(235,235,235,0) 100%);
                z-index: 0;
            }

            #about .tit_text {
                position: relative;
                margin: 0;
                z-index: 1;
            }

            .dot {
                position: relative;
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #03A7DC;
                margin: 0 15px;
            }*/



#banner .floating_square {
    position: absolute;
    pointer-events: none;
    background: #B4E4F3;
    border-radius: 20%;
    animation: animate 20s linear infinite;
    top: 100vh;
    opacity: 0;
}

    #banner .floating_square:nth-child(1) {
        width: 20px;
        height: 20px;
        left: calc(62% - 20px);
        border-radius: 20%;
        animation-duration: 16s;
    }

    #banner .floating_square:nth-child(2) {
        width: 70px;
        height: 70px;
        left: calc(70% - 70px);
        animation-delay: 0.5s;
    }

    #banner .floating_square:nth-child(3) {
        width: 40px;
        height: 40px;
        left: calc(23% - 40px);
        animation-delay: 1s;
    }

    #banner .floating_square:nth-child(4) {
        width: 80px;
        height: 80px;
        left: calc(42% - 80px);
        animation-delay: 3s;
        animation-duration: 18s;
    }

    #banner .floating_square:nth-child(5) {
        width: 35px;
        height: 35px;
        left: calc(10% - 35px);
        animation-delay: 5s;

    }

    #banner .floating_square:nth-child(6) {
        width: 55px;
        height: 55px;
        left: calc(55% - 55px);
        animation-delay: 5.5s;
    }

    #banner .floating_square:nth-child(7) {
        width: 70px;
        height: 70px;
        left: calc(85% - 70px);
        animation-delay: 6.5s;
    }

    #banner .floating_square:nth-child(8) {
        width: 100px;
        height: 100px;
        left: calc(75% - 100px);
        animation-delay: 9s;
    }

    #banner .floating_square:nth-child(9) {
        width: 60px;
        height: 60px;
        left: calc(25% - 60px);
        animation-delay: 8s;
    }

    #banner .floating_square:nth-child(10) {
        width: 30px;
        height: 30px;
        left: calc(42% - 70px);
        animation-delay: 9s;
    }

    #banner .floating_square:nth-child(11) {
        width: 20px;
        height: 20px;
        left: calc(5% - 20px);
        animation-delay: 10s;
    }

    #banner .floating_square:nth-child(12) {
        width: 46px;
        height: 46px;
        left: calc(50% - 46px);
        animation-delay: 12s;
    }

    #banner .floating_square:nth-child(13) {
        width: 20px;
        height: 20px;
        left: calc(90% - 20px);
        animation-delay: 13s;
    }

    #banner .floating_square:nth-child(14) {
        width: 60px;
        height: 60px;
        left: calc(17% - 60px);
        animation-delay: 14s;
    }

    #banner .floating_square:nth-child(15) {
        width: 35px;
        height: 35px;
        left: calc(28% - 35px);
        animation-delay: 14.5s;
    }

    #banner .floating_square:nth-child(16) {
        width: 75px;
        height: 75px;
        left: calc(70% - 75px);
        animation-delay: 15s;
    }

    #banner .floating_square:nth-child(17) {
        width: 60px;
        height: 60px;
        left: calc(85% - 60px);
        animation-delay: 16s;
    }


    #banner .floating_square:nth-child(18) {
        width: 80px;
        height: 80px;
        left: calc(35% - 80px);
        animation-delay: 17s;
    }

    #banner .floating_square:nth-child(19) {
        width: 40px;
        height: 40px;
        left: calc(7% - 40px);
        animation-delay: 18s;
    }


    @keyframes animate {
        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            transform: translateY(-120vh) rotate(720deg);
            opacity: 0;
        }
    }



    #banner #blobs {
        position: relative;
        height: 100vh;
        width: 100%;
    }

        #banner .blob_body {
            position: absolute;
        }

        .blob1 {
            width: 45%;
            top: 0%;
            left: 10%;
            filter: blur(15px);
            animation: fadeInDelay 1.5s ease-out;
            z-index: 2;
        }

        .blob2 {
            width: 15%;
            height: 15%;
            top: 60%;
            left: 15%;
            animation: fadeInOpacity 1.3s ease-out;
            z-index: 4;
        }

        .blob3 {
            width: 42%;
            height: 42%;
            top: 12%;
            left: 30%;
            filter: blur(15px);
            animation: fadeIn 1s ease-out;
            z-index: 2;
        }

        .blob4 {
            width: 10%;
            height: 10%;
            top: 10%;
            left: 70%;
            animation: fadeInOpacity 1.3s ease-out;
            z-index: 4;
        }




        #banner #animated_arrow {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 60px;
            display: flex;
            align-items: center;
            flex-direction: column;
            z-index: 10;
        }


            #animated_arrow .arrow_down {
                position: relative;
                height: 17px;
                font-size: 30px;
                color: #EBFBFF;
                transform: scale(1);
                opacity: 0;
                animation: fadeOut 1.6s linear infinite;
            }

            #animated_arrow .arrow_down:nth-child(2) {
                animation-delay: 0.4s;
            }

            #animated_arrow .arrow_down:nth-child(3) {
                animation-delay: 0.8s;
            }


            @keyframes fadeOut {
                0% {
                    opacity: 1;
                    transform: scale(1);
                }
                45%,90% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            @keyframes fadeIn {
                0% {
                    opacity: 0;
                    transform: scale(0)
                }
                80% {
                    transform: scale(1.1);
                }
                100% {
                    opacity: 1;
                    transform: scale(1)
                }
            }


            @keyframes fadeInDelay {
                0%,20% {
                    opacity: 0;
                    transform: scale(0)
                }
                80% {
                    transform: scale(1.1);
                }
                100% {
                    opacity: 1;
                    transform: scale(1)
                }
            }


            @keyframes fadeInOpacity {
                0%, 50% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }









.corner_top_left_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 160px;
}                

        .corner_top_left_1 {
            position: absolute;
            left: 0%;
            top: 0%;
            width: 3px;
            height: 100%;
            background: var(--color-light-blue);
        }

        .corner_top_left_2 {
            position: absolute;
            top: 0%;
            right: 20%;
            width: 72%;
            height: 3px;
            background: var(--color-light-blue);
        }

        .corner_top_left_3 {
            position: absolute;
            left: 5%;
            bottom: 14%;
            width: 3px;
            height: 81%;
            background: var(--color-light-blue);
        }

        .corner_top_left_4 {
            position: absolute;
            top: 5%;
            right: 14%;
            width: 81%;
            height: 3px;
            background: var(--color-light-blue);
        }







.corner_bottom_right_container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 180px;
    height: 160px;
}                

        .corner_bottom_right_1 {
            position: absolute;
            right: 0%;
            top: 0%;
            width: 3px;
            height: 100%;
            background: var(--color-light-blue);
        }

        .corner_bottom_right_2 {
            position: absolute;
            bottom: 0%;
            left: 20%;
            width: 72%;
            height: 3px;
            background: var(--color-light-blue);
        }

        .corner_bottom_right_3 {
            position: absolute;
            right: 5%;
            top: 14%;
            width: 3px;
            height: 81%;
            background: var(--color-light-blue);
        }

        .corner_bottom_right_4 {
            position: absolute;
            bottom: 5%;
            left: 14%;
            width: 81%;
            height: 3px;
            background: var(--color-light-blue);
        }















#first_section {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    font-size: 0;
    text-align: center;
    background: #fff;
    height: 1400px;
}





#absolute_containers {
    position: absolute;
    width: 1350px;
    height: 300px;
    top: 110px;
    left: 0;
    right: 0;
    z-index: 2;
    margin: auto;
}



        #absolute_containers .block {
            position: relative;
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            font-size: 15px;
            padding: 20px 10px 20px 10px;
            width: 31%;
            height: 220px;
            box-shadow: 0 4px 8px 1px #F0F0F0;
            padding-bottom: 5px;
            background: linear-gradient(to right,rgba(102,202,228,1) 0%, rgba(87,187,252,1) 50%, rgba(41,154,204,1) 100%) left bottom #fff no-repeat; 
            background-size: 100% 5px;
        }


        #absolute_containers .block:first-child {
            border-right: none;
            margin-right: 0%;
        }

        #absolute_containers .block:nth-of-type(2) {
            width: 33%;
            height: 100%;
            top: -30px;
            box-shadow: 0 0 8px 1px #C4C4C4;
            background: var(--color-white);
            z-index: 3;
        }

        #absolute_containers .block:last-child {
            border-right: none;
            margin-right: 0%;
        }


        .block .icon {
            height: 50px;
        }


        .block .title {
            margin: 0;
            padding-top: 4px;
            box-sizing: border-box;
        }


        .block .desc {
            box-sizing: border-box;
            padding: 15px 30px;
            margin: 0;
        }






#section1 {
    position: relative;
    box-sizing: border-box;
    height: 850px;
    width: 100%;
    padding-bottom: 200px;
    margin: auto;
    text-align: center;
    background: #fff;
    font-size: 0;
    margin: auto;
}


    #section1 .inner {
        width: 1300px;
    }



    #section1 .left {
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        width: 35%;
        height: 100%;
        text-align: center;
    }

        #profile_picture {
            position: relative;
            box-sizing: border-box;
            background: #FAFAFA;
            width: 100%;
            height: 100%;
        }


    #section1 .right {
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        width: 55%;
        margin-left: 2.5%;
        height: 100%;
    }


        #section_description {
            position: relative;
            top: 140px;
            width: 100%;
            text-align: center;
        }

            #section1 #section_description .title {
                color: #4D4D4D;
                font-size: 22px;
                margin: 0;
                text-align: left;
            }

            #section1 #section_description .desc {
                text-align: justify;
                color: var(--color-default);
                font-size: var(--font-size-normal);
            }

            #section1 #section_description .desc2 {
                margin-top: 40px;
                color: var(--color-default);
                font-size: var(--font-size-normal);
            }


            #section1 .button_blue {
                position: relative;
                margin: 30px auto 0 auto;
                width: 220px;
            }

            #section1 .button_transparent_border {
                margin: 10px 0 0 10px;
                color: var(--color-title);
                border-color: var(--color-title);
            }




        #section1 .straight_line {
            width: 235px;
            height: 3px;
            margin: 4px 0 12px 0;
        }

        #section1 #images {
            position: relative;
            width: 100%;
            height: 100%;
        }

        #images .image {
            position: absolute;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: #EDEDED;
        }

        #images .image i {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 30px;
        }




        #images .image:nth-child(1) {
            top: 180px;
            left: 30px;
        }

        #images .image:nth-child(2) {
            bottom: 40px;
            left: 90px;
        }

        #images .image:nth-child(3) {
            top: 50px;
            left: 230px;
        }

        #images .image:nth-child(4) {
            top: 30px;
            left: 46%;
        }

        #images .image:nth-child(5) {
            bottom: 70px;
            right: 120px;
        }

        #images .image:nth-child(6) {
            top: 210px;
            right: 20px;
        }

        #images .image:nth-child(7) {
            top: 40px;
            right: 270px;
        }








#section2 {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    font-size: 0;
}


        #section2 .inner {
            height: 100%;
            text-align: center;
        }


        #section2 .left {
            position: relative;
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            width: 20%;
            height: 100%;
        }


        #section2 .shadow {
            position: absolute;
            box-sizing: border-box;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(95,179,227,0.95) 0%, rgba(21,137,203,0.95) 100%);
        }



        #section2 .right {
            position: relative;
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            width: 60%;
            height: 100%;
            padding: 60px 0 100px 0;
        }



                #section2 .right .introduction {
                    color: var(--color-white);
                    font-size: 22px;
                    margin-top: 0;
                    margin-bottom: 40px;
                }



                #section2 .right .section_step {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    width: 180px;
                    height: 180px;
                    margin-right: 150px;
                    font-size: 0;
                }


                #section2 .right .section_step:last-child {
                    margin-right: 0;
                }


                #section2 .right .circle_object {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0 0 8px 1px #AFD0E3;
                    border-radius: 200px;
                    cursor: pointer;
                    transition: all 0.3s;
                    text-align: center;
                }

                #section2 .right .circle_object:hover {
                    background: #393D4F;
                }


                #section2 .right .circle_object .number {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #44A9E3;
                    font-size: 120px;
                    z-index: 1;
                }


                .right .section_step .btn {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #F0F0F0;
                    font-size: 18px;
                    margin: 0 auto 0 auto;
                    padding: 8px;
                    cursor: pointer;
                    width: 125px;
                    transition: all 0.3s;
                    box-shadow: 0 0 10px 2px transparent;
                    z-index: 2;
                }









#section3 {
    position: relative;
    width: 100%;
    background: #FAFAFA;
    padding: 100px 0 150px 0;
}
        

        #section3 .inner {
            width: 940px;
            margin: auto;
            text-align: left;
        }

        #section3 .introduction {
            margin-bottom: 20px;
            margin-left: 10px;
            font-size: 20px;
            color: var(--color-title);
        }

        #courses_list {
            position: relative;
            width: 100%;
            font-size: 0;
        }

                #section3 .dots {
                    position: relative;
                    margin: 40px auto 10px auto;
                    width: 40px;
                    height: 10px;
                    font-size: 0;
                    text-align: center;
                }

                #section3 .dot {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    box-sizing: border-box;
                    width: 10px;
                    height: 10px;
                    margin: 0 5px 0 0;
                    border-radius: 50%;
                    background: #D1D1D1;
                }

                #section3 .dot:last-child {
                    margin: 0;
                }



                #button_all_courses {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 20px auto 0 auto;
                    width: 260px;
                    font-size: 15px;
                }






#courses {
    position: relative;
    width: 100%;
    background: #FAFAFA;
    padding: 100px 0 120px 0;
    font-size: 0;
}

        #courses .inner {
            display: flex;
            flex-direction: row;
            width: 1140px;
            margin: auto;
            text-align: left;
        }



        #courses .left_panel {
            position: relative;
            box-sizing: border-box;
            width: 70%;
        }


            #top_panel {
                position: relative;
                padding-bottom: 0;
                margin-top: 40px;
                width: 100%;
            }

            #top_panel .heading {
                box-sizing: border-box;
                font-size: 18px;
                margin: 0 0 20px 0;
                padding: 0 0 6px 10px;
                border-bottom: 2px solid #eef0f7;
                font-weight: normal;
                color: var(--color-default);
            }

            #top_panel .category {
                font-size: 18px;
                font-weight: normal;
                color: var(--color-light-blue);
            }

            #courses_list {
                position: relative;
                width: 100%;
                font-size: 0;
                min-height: 400px;
            }

            







        #courses #right_panel {
            position: relative;
            box-sizing: border-box;
            width: 30%;
            height: auto;
        }

            #courses #right_panel ul {
                box-sizing: border-box;
                margin-top: 30px;
            }


            #courses #right_panel li {
                margin-bottom: 10px;
            }

            #courses #right_panel li:last-child {
                margin-bottom: 0;
            }


            #courses #right_panel .title {
                font-size: var(--font-size-title);
                font-weight: bold;
                margin: 0 0 8px 0;
                color: var(--color-title);
            }

            #courses #right_panel .checkbox_body {
                margin-bottom: 8px;
            }

            #courses #right_panel .checkbox_body:last-of-type {
                margin-bottom: 0;
            }


            #empty_error {
                position: relative;
                width: 100%;
                padding: 50px 0;
                border: 1px solid #E0E0E0;
                border-radius: 15px;
                box-shadow: 0 10px 10px 2px #F0F0F0;
                text-align: center;
            }

            #empty_error p {
                font-size: 20px;
                color: var(--color-light-red);
                margin: 0;
            }






        @media screen and (max-width: 1200px) {

            #courses .inner {
                width: 800px;
                flex-direction: column-reverse;
            }
    

            #courses .left_panel, #courses #right_panel {
                width: 100%;
            }

            #courses #top_panel {
                transition: all 0.3s;
            }


            #top_panel #filtersToggle {
                position: absolute;
                display: block;
                right: 10px;
                width: 75px;
                top: 0;
                font-size: 18px;
                color: #595959;
                font-weight: bold;
                cursor: pointer;
            }

            #top_panel #filtersToggle.active {
                color: var(--color-blue);
            }

            #top_panel #filtersToggle i {
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                font-size: 20px;
            }





            #courses #right_panel {
                position: absolute;
                top: 90px;
                overflow: hidden;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s;
            }

            #courses #right_panel ul {
                margin: 0;
            }

            #courses #right_panel.active {
                visibility: visible;
                opacity: 1;
            }

            #courses #right_panel li {
                display: inline-block;
                vertical-align: top;
                margin: 0 30px 0 0;
            }

            #courses #right_panel li:first-child {
                width: 320px;
            }

            #courses #right_panel li:nth-of-type(2) {
                width: 180px;
                margin: 0;
            }

            #courses #right_panel li:last-child {
                margin: 0;
            }
        


        }
        
        
        @media screen and (max-width: 850px) {    


            #courses .inner {
                width: 90%;
            }

            #courses #right_panel {
                width: 100%;
            }

        }
        
        @media screen and (max-width: 768px) {

            #courses {
                padding-top: 80px;
            }

            #courses #top_panel {
                margin-top: 0;
            }

                #top_panel .heading {
                    font-size: 16px;
                }

                #top_panel .category {
                    font-size: 16px;
                }

                #courses #right_panel {
                    top: 50px;
                }

                #courses #right_panel .title {
                    font-size: var(--font-size-normal);
                }

                #top_panel #filtersToggle {
                    width: 65px;
                    font-size: 16px;
                }

                #top_panel #filtersToggle i {
                    font-size: 18px;
                }

        }


        @media screen and (max-width: 650px) {

            #courses #right_panel li {
                display: block;
            }

            #courses #right_panel li:first-child {
                margin-top: 0;
                width: 100%;
            }

            #courses #right_panel li:nth-of-type(2) {
                width: 100%;
                margin-top: 15px;
            }

            #courses #right_panel ul {
                padding-left: 15px;
            }

        }
        
        
        @media screen and (max-width:  480px) {
        
            #courses {
                padding-top: 80px;
            }

            #top_panel .heading {
                width: 100%;
                padding-right: 24%;
            }

                #courses #right_panel .title {
                    font-size: var(--font-size-smaller);
                }


        }