
body {
    background: #FAFAFA;
}


#profile_content {
    position: relative;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 80px;
    width: 1350px;
    min-height: 100vh;
    font-size: 0;
    height: auto;
    margin: auto;
}


#content_right {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top; 
    width: 72%;
    margin-left: 3%;
}




        /* Left container */
        .pageable {
            display: none;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .pageable.active {
            display: block;
            opacity: 1;
        }


            #no_payment_history_found {
                margin: 80px auto 0 auto;
            }





/* Right container */
#content_left {
    position: sticky;
    top: 100px;
    display: inline-block;
    vertical-align: top; 
    width: 25%;
}


/* Statistics window */
#statistics {
    display: block;
    padding: 20px 8px;
    text-align: center;
}

        #statistics .section {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
        }


        .progress_background {
            position: relative;
            box-sizing: border-box;
            width: 95%;
            height: 35px;
            border-radius: 10px;
            background: #A3DEFF;
            font-size: var(--font-size-normal);
            color: #1C5473;
            margin: 0 auto 4px auto;
        }

        .progress_background:last-of-type {
            margin-bottom: 0;
        }

        .progress_fill {
            position: absolute;
            box-sizing: border-box;
            width: 0;
            height: 100%;
            transition: width 1.25s;
            border-radius: 10px;
            background: #5CC5FF;
            margin: auto;
        }

        .progresss_info {
            position: absolute;
            left: 8px;
            top: 50%;
            transform: translateY(-50%);
        }


        .progresss_target {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
        }


        #avatar_selection {
            position: relative;
            box-sizing: border-box;
            width: 128px;
            height: 128px;
            margin: auto;
        }

            #avatar_selection .shadow {
                border-radius: 25%;
                background: rgba(0, 0, 0, 0.2);
            }

            #avatar_selection .icon_add {
                color: #fff;
                font-size: 22px;
            }

            #avatar_selection img {
                width: 90%;
                height: 90%;
            }


        #statistics #credentials {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            color: var(--color-default);
            font-size: 16px;
            margin: 10px auto 40px auto;
            background: #F5F5F5;
            padding: 5px;
            border-radius: 8px;
        }

        #statistics .legend {
            position: relative;
            box-sizing: border-box;
            padding: 5px;
            width: 100%;
            margin-top: 40px;
        }

        #statistics .legend .legend_link {
            width: 100%;
            background: transparent;
            font-size: var(--font-size-normal);
            text-align: left;
            margin-top: 10px;
            border-radius: 10px;
            color: var(--color-default);
            cursor: pointer;
            border: none;
            padding: 15px;
            transition: background 0.3s, color 0.3s;
        }


            #statistics .legend .legend_link i {
                margin-right: 5px;
            }


            #statistics .legend .legend_link.active {
                cursor: default;
            }

            #statistics .legend .legend_link.active, #statistics .legend .legend_link:hover {
                background: var(--color-blue);
                color: #fff;
            }


        #logout_button {
            position: relative;
            display: block;
            box-sizing: border-box;
            cursor: pointer;
            margin: 40px auto 0 auto;
            width: 200px;
        }

        #logout_button:hover i {
            font-size: var(--font-size-smaller);
            width: 17px;
        }









/* Payment history window */
#payment_history {
    position: relative;
    box-sizing: border-box;
}


        /* Activity is one payment with details*/
        #payment_history .activity_section {
            position: relative;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
        }

                .activity_section .activity_header {
                    position: relative;
                    box-sizing: border-box;
                    display: flex;
                    width: 100%;
                    text-align: left;
                    padding: 0 8px;
                    font-weight: bold;
                    background: #fff;
                    box-shadow: 0 2px 2px 2px #E6E6E6;
                    border-radius: 15px;
                    z-index: 10;
                }

                .activity_section .activity {
                    position: relative;
                    box-sizing: border-box;
                    display: flex;
                    width: 100%;
                    text-align: left;
                    padding: 8px;
                    border-radius: 15px;
                    background: #fff;
                    margin-top: 10px;
                    box-shadow: 0 2px 2px 2px #E6E6E6;
                    border: 2px solid transparent;
                    transition: border 0.3s;
                }

                .activity_section .activity:hover {
                    border: 2px solid var(--color-light-blue);
                }


                    .activity_section .detail {
                        position: relative;
                        box-sizing: border-box;
                        text-align: center;
                        font-size: 14px;
                    }

                    .activity_section .lp {
                        width: 10%;
                    }

                    .activity_section .activity .lp span {
                        background: var(--color-blue);
                        color: #fff;
                        border-radius: 8px;
                        padding: 4px 12px;
                    }
                
                    .activity_section .date {
                        width: 20%;
                    }

                    .activity_section .title {
                        width: 65%;
                        text-align: left;
                    }

                    .activity_section .price {
                        width: 10%;
                        color: #60768F;
                    }





.modal_content {
    display: block;
    width: 1100px;
    margin: 0 auto 100px auto;
    padding: 50px;
}

    .modal_content.active {
        top: 100px;
    }

    .modal .top .title {
        font-size: 22px;
        padding: 0 0 30px 0;
        color: #999999;
    }

    .modal .avatar_container {
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
    }

    .avatar_container .avatar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        cursor: pointer;
        transition: background 0.3s;
    }

        .avatar_container .avatar img {
            position: relative;
            width: 90%;
            height: 90%;
        }

        .avatar_container .avatar:hover {
            background: #B9E7EB;
        }









    @media screen and (max-width: 1500px) {

        #profile_content {
            width: 1200px;
        }

        #content_right {
            width: 69%;
            text-align: center;
        }

        #content_left {
            width: 28%;
        }
    }



    @media screen and (max-width: 1280px) {

        #profile_content {
            width: 90%;
        }

        #content_right {
            display: inline-block;
            text-align: center;
            margin-right: 0;
        }

            .pageable {
                padding: 0;
            }

        .modal_content {
            width: 80%;
        }

            .modal .top .title {
                font-size: 18px;
                width: 80%;
            }

            .avatar_container {
                gap: 8px;
            }

            .avatar_container .avatar {
                width: 95px;
                height: 96px;
            }

    }


    @media screen and (max-width: 1200px) {


        #statistics {
            width: 57%;
        }

        #payment_history {
            width: 40%;
        }

    }


    @media screen and (max-width: 1000px) {    

        #statistics {
            width: 49%;
        }

        #payment_history {
            width: 49%;
            margin-left: 2%;
        }

    }


    @media screen and (max-width: 768px) {

        #profile_content {
            width: 88%;
            padding-top: 50px;
        }



        #statistics {
            display: block;
            width: 100%;
            min-height: 200px;
            max-height: 250px;
            height: auto;
        }
        
            .progress_background {
                font-size: var(--font-size-smaller);
            }

        #payment_history {
            display: block;
            width: 100%;
            margin-left: 0;
            margin-top: 30px;
        }


            #no_payment_history_found {
                margin-top: 40px;
                width: 70%;
            }

            .activity .data {
                font-size: var(--font-size-smaller);
            }


        .modal_content {
            padding: 15px 10px;
        }

        .modal .top .title {
            font-size: var(--font-size-normal);
        }

        .avatar_container .avatar {
            height: 82px;
            width: 82px;
        }


    }

    @media screen and (max-width: 480px) {

        .progress_background {
            font-size: var(--font-size-phone);
        }

        .activity .circular {
            font-size: var(--font-size-phone);
        }


        #no_payment_history_found {
            width: 100%;
        }

    }
    
    @media screen and (max-width: 380px) {


        #profile_content {
            width: 92%;
        }

        .linear_buttons .button_gray {
            width: 40%;
            min-width: 1px;
        }

    }

    @media screen and (max-width: 280px) {

        .progresss_target {
            display: none;
        }
    }

    @media screen and (max-width: 210px) {

        .activity .date {
            display: block;
            margin: 0;
        }

        .activity .price {
            display: block;
            width: auto;
            margin: 5px 0 0 0;
        }
    }
