
body {
    background: #FAFAFA;
}


#profile_content {
    position: relative;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 80px;
    width: 1350px;
    min-height: 100vh;
    font-size: 0;
    height: auto;
    margin: auto;
}

.window {
    position: relative;
    box-sizing: border-box;
    background: #FCFCFC;
    border: 1px solid #EDEDED;
    box-shadow: 0 5px 5px 2px #E6E6E6;
    border-radius: 7px;
    width: 100%;
}


#content_left {
    position: relative;
    display: inline-block;
    vertical-align: top; 
    width: 74%;
    margin-right: 1%;
}




        #courses_list {
            padding: 15px 20px;
        }

            #profile_content .heading {
                font-size: var(--font-size-title);
                color: var(--color-default);
                font-weight: normal;
                margin: 0 0 20px 0;
                text-align: left;
            }

            #content_left #no_courses_found {
                box-sizing: border-box;
                width: 100%;
                text-align: center;
                font-size: 15px;
                padding: 30px 15px;
            }

            #no_courses_found .center_icon {
                font-size: 80px;
                color: #33B3E8;
                margin-bottom: 15px;
            }

            #no_courses_found .subtitle {
                font-size: 17px;
                margin: 0;
            }

            #no_courses_found .desc {
                font-size: 15px;
                font-weight: normal;
                margin: 7px 0 0 0;
            }

            #no_courses_found .button_gray {
                display: block;
                margin: 20px auto 0 auto;
            }





#content_right {
    position: sticky;
    top: 100px;
    display: inline-block;
    vertical-align: top; 
    width: 25%;
}


    #statistics {
        display: block;
        padding: 30px 15px;
        text-align: center;
    }

            #statistics .section {
                position: relative;
                display: block;
                width: 100%;
                height: auto;
                border-bottom: 1px solid #BFBFBF;
            }

            #statistics .section:last-child {
                border-bottom: none;
            }


            .progress_background {
                position: relative;
                box-sizing: border-box;
                width: 96%;
                height: 35px;
                border-radius: 10px;
                background: #A3DEFF;
                font-size: var(--font-size-normal);
                color: #1C5473;
                margin: 0 auto 4px auto;
            }

            .progress_background:last-of-type {
                margin-bottom: 0;
            }

            .progress_fill {
                position: absolute;
                box-sizing: border-box;
                width: 0;
                height: 100%;
                transition: all 1.25s;
                border-radius: 10px;
                background: #5CC5FF;
                margin: auto;
            }

            .progresss_info {
                position: absolute;
                left: 8px;
                top: 50%;
                transform: translateY(-50%);
            }


            .progresss_target {
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
            }




            




#payment_history {
    display: block;
    min-height: 400px;
    max-height: 500px;
    margin-top: 25px;
    padding: 20px 8px;
}


        /*
        [Custom scroll bar]
        */
        .activity_section::-webkit-scrollbar {
            width: 10px;
        }


        /* Scroll background */
        .activity_section::-webkit-scrollbar-track {
            background: #F0EEF0;
            border-radius: 5px;
        }

        /* Scroll */
        .activity_section::-webkit-scrollbar-thumb {
            background: #C3E1EB;
            border-radius: 5px;
        }

        #payment_history .activity_section {
            position: relative;
            box-sizing: border-box;
            display: block;
            width: 100%;
            height: 100%;
            max-height: 320px;
            padding: 0 12px 10px 0;
            overflow-y: auto;
        }


                .activity {
                    position: relative;
                    box-sizing: border-box;
                    display: block;
                    width: 100%;
                    text-align: left;
                    font-size: 0;
                    padding: 8px 0 8px 8px;
                    border-bottom: 1px solid #BFBFBF;
                }

                .activity .circular {
                    position: relative;
                    padding: 5px 10px;
                    border-radius: 10px;
                    font-size: var(--font-size-smaller);
                    text-align: center;
                    color: #fff;
                }

                .activity .price {
                    display: inline-block;
                    vertical-align: top;
                    background: #6385AD;
                }

                .activity .date {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 2%;
                    background: #6385AD;
                }


                .activity .title {
                    display: block;
                    margin-top: 5px;
                    background: #7F94AD;
                }






    @media screen and (max-width: 1500px) {

        #profile_content {
            width: 1200px;
        }

        #content_left {
            width: 71%;
            text-align: center;
        }

        #content_right {
            width: 28%;
        }
    }



    @media screen and (max-width: 1280px) {

        #profile_content {
            width: 85%;
        }

        #content_left {
            display: inline-block;
            text-align: center;
            width: 100%;
            margin-right: 0;
        }

            #courses_list {
                padding: 0;
            }

        #content_right {
            margin-top: 30px;
            width: 100%;
        }

        #statistics {
            vertical-align: top;
            display: inline-block;
            width: 62%;
            min-height: 180px;
            max-height: 250px;
            height: auto;
        }

        #payment_history {
            vertical-align: top;
            display: inline-block;
            width: 35%;
            margin-left: 3%;
            margin-top: 0;
        }
    }
    
    
    @media screen and (max-width: 1200px) {    


        #statistics {
            width: 57%;
        }

        #payment_history {
            width: 40%;
        }

    }


    @media screen and (max-width: 1000px) {    

        #statistics {
            width: 49%;
        }

        #payment_history {
            width: 49%;
            margin-left: 2%;
        }

    }


    @media screen and (max-width: 768px) {

        #profile_content {
            width: 88%;
            padding-top: 50px;
        }

            #profile_content .heading {
                font-size: var(--font-size-normal);
                margin: 0 0 15px 0;
            }

            #courses_list {
                padding: 40px 10px;
            }

        #statistics {
            display: block;
            width: 100%;
            min-height: 200px;
            max-height: 250px;
            height: auto;
        }
        
            .progress_background {
                font-size: var(--font-size-smaller);
            }

        #payment_history {
            display: block;
            width: 100%;
            margin-left: 0;
            margin-top: 30px;
        }

            .activity .data {
                font-size: var(--font-size-smaller);
            }

            .activity .activity_info {
                font-size: var(--font-size-smaller);
            }


    }

    @media screen and (max-width: 480px) {

        .progress_background {
            font-size: var(--font-size-phone);
        }

        .activity .circular {
            font-size: var(--font-size-phone);
        }

    }
    
    @media screen and (max-width: 380px) {


        #profile_content {
            width: 92%;
        }

        .linear_buttons .button_gray {
            width: 40%;
            min-width: 1px;
        }

    }

    @media screen and (max-width: 280px) {

        .progresss_target {
            display: none;
        }
    }

    @media screen and (max-width: 210px) {

        .activity .date {
            display: block;
            margin: 0;
        }

        .activity .price {
            display: block;
            width: auto;
            margin: 5px 0 0 0;
        }
    }
