
body {
    background: #FAFAFA;
}


#profile_content {
    position: relative;
    box-sizing: border-box;
    display: flex;
    padding-top: 100px;
    width: 1350px;
    min-height: 100vh;
    font-size: 0;
    height: auto;
    margin: auto;
}


#content_right {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-left: 3%;
}




        /* Left container */
        .pageable {
            display: none;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .pageable.active {
            display: block;
            opacity: 1;
        }





#content_left {
    position: sticky;
    padding: 30px 10px;
    height: 80vh;
    width: 33%;
}


/* Statistics window */
#statistics {
    display: block;
    padding: 20px 0;
    text-align: center;
}

        #statistics .progress_background {
            width: 100%;
            height: 35px;
            background: #A3DEFF;
            color: #1C5473;
            margin: 0 auto 4px auto;
        }

        .progress_background:last-of-type {
            margin-bottom: 0;
        }

        .progress_fill {
            position: absolute;
            box-sizing: border-box;
            width: 0;
            height: 100%;
            border-radius: 10px;
            background: #5CC5FF;
            margin: auto;
            transition: width 1.25s;
        }

        .progresss_info {
            position: absolute;
            left: 8px;
            top: 50%;
            transform: translateY(-50%);
        }


        .progresss_target {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
        }


        #avatar_selection {
            position: relative;
            box-sizing: border-box;
            width: 128px;
            height: 128px;
            margin: auto;
        }

            #avatar_selection .shadow {
                border-radius: 25%;
                background: rgba(0, 0, 0, 0.2);
            }

            #avatar_selection .icon_add {
                color: #fff;
                font-size: 22px;
            }

            #avatar_selection img {
                width: 90%;
                height: 90%;
            }

            #content_left #basic_info {
                margin-bottom: 40px;
            }

        #basic_info #credentials {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            color: var(--color-default);
            font-size: 16px;
            margin: 10px 0 0 0;
            background: #F5F5F5;
            padding: 5px;
            border-radius: 8px;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        #content_left .legend {
            position: relative;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 5px;
            width: 100%;
            margin-top: 40px;
        }

        #content_left .legend .legend_link {
            width: 100%;
            background: transparent;
            font-size: var(--font-size-normal);
            text-align: left;
            border-radius: 10px;
            color: var(--color-default);
            cursor: pointer;
            border: none;
            padding: 15px;
            transition: background 0.3s, color 0.3s;
        }


            #content_left .legend .legend_link i {
                margin-right: 5px;
            }


            #content_left .legend .legend_link.active {
                cursor: default;
            }

            #content_left .legend .legend_link.active, #content_left .legend .legend_link:hover {
                background: var(--color-blue);
                color: #fff;
            }


        #logout_button {
            position: relative;
            display: block;
            box-sizing: border-box;
            cursor: pointer;
            margin: 40px auto 0 auto;
            width: 200px;
        }

        #logout_button:hover i {
            font-size: var(--font-size-smaller);
            width: 17px;
        }












/* Payment history window */
#payment_history {
    position: relative;
    box-sizing: border-box;
}


        /* Activity is one payment with details*/
        #payment_history .activity_section {
            position: relative;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
        }

                .activity_section .activity_header {
                    position: relative;
                    box-sizing: border-box;
                    display: flex;
                    width: 100%;
                    text-align: left;
                    padding: 0 8px;
                    font-weight: bold;
                    background: #fff;
                    box-shadow: 0 2px 2px 2px #E6E6E6;
                    border-radius: 15px;
                }

                .activity_section .activity {
                    position: relative;
                    box-sizing: border-box;
                    display: flex;
                    width: 100%;
                    text-align: left;
                    padding: 8px;
                    border-radius: 15px;
                    background: #fff;
                    margin-top: 10px;
                    box-shadow: 0 2px 2px 2px #E6E6E6;
                    border: 2px solid transparent;
                    transition: border 0.3s;
                }

                .activity_section .activity:hover {
                    border: 2px solid var(--color-light-blue);
                }


                    .activity_section .detail {
                        position: relative;
                        box-sizing: border-box;
                        text-align: center;
                        font-size: 14px;
                    }

                    .activity_section .lp {
                        width: 10%;
                        min-width: 65px;
                    }

                    .activity_section .activity .lp span {
                        background: var(--color-blue);
                        color: #fff;
                        border-radius: 8px;
                        padding: 4px 12px;
                    }
                
                    .activity_section .date {
                        min-width: 120px;
                        width: 20%;
                    }

                    .activity_section .title {
                        width: 60%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        text-align: left;
                    }

                    .activity_section .price {
                        width: 10%;
                        min-width: 65px;
                        color: #60768F;
                    }





.modal_content {
    display: block;
    width: 1100px;
    margin: 0 auto 100px auto;
    padding: 50px;
}

    .modal_content.active {
        top: 100px;
    }

    .modal .top .title {
        font-size: 22px;
        padding: 0 0 30px 0;
        color: #999999;
    }

    .modal .avatar_container {
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
    }

    .avatar_container .avatar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        cursor: pointer;
        transition: background 0.3s;
    }

        .avatar_container .avatar img {
            position: relative;
            width: 90%;
            height: 90%;
        }

        .avatar_container .avatar:hover {
            background: #B9E7EB;
        }





        #mobile_left_panel {
            position: fixed;
            display: flex;
            justify-content: center;
            width: 50px;
            height: 100%;
            border-right: 1px solid black;
            background: #fff;
            padding-top: 70px;
            left: 0;
            top: 0;
        }


        #mobile_left_panel #options_panel_button {
            font-size: 24px;
            color: #000;
            cursor: pointer;
        }








    @media screen and (max-width: 1500px) {

        #profile_content {
            width: 1200px;
        }

        #content_left {
            width: 28%;
            min-width: 270px;
        }
    }



    @media screen and (max-width: 1280px) {

        #profile_content {
            width: 90%;
        }

        #content_right {
            text-align: center;
        }

            .pageable {
                padding: 0;
            }


        .modal_content {
            width: 80%;
        }

            .modal .top .title {
                font-size: 18px;
                width: 80%;
            }

            .avatar_container {
                gap: 8px;
            }

            .avatar_container .avatar {
                width: 95px;
                height: 96px;
            }

    }


    @media screen and (max-width: 1024px) {

        #profile_content {
            width: 95%;
        }

        #content_left {
            width: 25%;
            min-width: 240px;
        }

            #avatar_selection {
                width: 110px;
                height: 110px;
            }

            #basic_info #credentials {
                font-size: var(--font-size-smaller);
            }

            .progress_background {
                font-size: var(--font-size-phone);
            }

            #content_left .legend .legend_link {
                font-size: var(--font-size-smaller);
                padding: 12px 15px;
                margin-top: 7px;
            }

            .button_gray {
                font-size: var(--font-size-smaller);
            }


        .activity_section .detail {
            font-size: var(--font-size-phone);
        }

    }


    @media screen and (max-width: 850px) {


        #profile_content {
            width: 100%;
            padding-top: 70px;
            flex-direction: column;
            align-items: center;
            min-height: 100vh;
        }

        #content_left {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            min-height: 240px;
            max-height: 240px;
            width: 95%;
            background: #FCFCFC;
            border: none;
            border-radius: 12px;
            box-shadow: 0 0 4px 2px #E6E6E6;
            padding: 15px 10px;
            margin-bottom: 40px;
            flex: 1;
        }

            #content_left #basic_info {
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: left;
                text-align: left;
                width: auto;
                margin: 0;
                padding: 0;
            }

                #avatar_selection {
                    width: 60px;
                    height: 60px;
                    margin: 0 7px 0 0;
                }

                #basic_info #credentials {
                    width: auto;
                    min-width: 200px;
                    max-width: 260px;
                    text-align: left;
                    padding: 5px 15px;
                    margin: 0;
                }


            #content_left #navigation {
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 10px 0 auto;
                height: 100%;
            }

            #content_left .legend {
                padding: 0;
                margin: 0;
                flex-direction: row;
                gap: 10px;
            }

            #content_left .legend .legend_link {
                text-align: center;
                margin: 0;
                padding: 20px 20px;
            }

            #content_left .legend .legend_link i {
                margin: 0;
            }

            .legend_link_content {
                display: none;
            }


            #content_left #statistics {
                display: block;
                box-sizing: border-box;
                order: 3;
                width: 70%;
                padding: 10px 10px 0 10px;
            }

            #content_left #logout_section {
                display: none;
            }




        #content_right {
            width: 100%;
            padding: 0 25px 50px 25px;
            margin: 0 auto;
            overflow-x: auto;
        }

        #payment_history {
            min-width: 650px;
        }

    }



    @media screen and (max-width: 768px) {

        .modal_content {
            padding: 15px 10px;
        }

            .modal .top .title {
                font-size: var(--font-size-normal);
            }

        .avatar_container .avatar {
            height: 82px;
            width: 82px;
        }

        #content_left .legend .legend_link {
            font-size: var(--font-size-phone);
        }

        .button_gray {
            font-size: var(--font-size-phone);
        }

    }


    @media screen and (max-width: 580px) {

        #basic_info #credentials {
            min-width: 170px;
            max-width: 210px;
        }

            .course_container .right {
                padding-bottom: 40px;
            }

    }


    @media screen and (max-width: 550px) {

        #basic_info #credentials {
            max-width: 195px;
        }

    }


    @media screen and (max-width: 520px) {

        #content_left {
            flex-direction: column;
            max-height: 285px;
            min-height: 285px;
            padding: 0 10px;
        }

        #content_left #basic_info {
            box-sizing: border-box;
            width: 100%;
        }

            #basic_info #credentials {
                margin-right: 5px;
                min-width: calc(100% - 80px);
                max-width: calc(100% - 80px);
            }


        #content_left #navigation {
            width: 100%;
            margin: 0;
            order: 3;
            padding: 15px 0 0 0;
        }

            #content_left .legend {
                justify-content: center;
                gap: 5px;
            }

                #content_left .legend .legend_link {
                    width: auto;
                    flex: 1 0;
                    box-sizing: border-box;
                    padding: 13px 0;
                    font-size: 16px;
                }


        #content_left #statistics {
            width: 95%;
            padding: 15px 0 10px 0;
            order: 2;
        }

        .course_container .right {
            padding: 0 0 25px 0;
        }

        .progress_background {
            font-size: var(--font-size-phone);
        }

    }

    @media screen and (max-width: 300px) {

        #content_left {
            max-height: 330px;
            padding: 10px 5px;
            min-width: 0;
        }

        #content_left #basic_info {
            flex-direction: column;
        }

        #basic_info #credentials {
            min-width: 100%;
            max-width: 100%;
            text-align: center;
            margin: 10px 0;
        }

        #avatar_selection {
            margin-right: 0;
        }

    }


    /*@media screen and (max-width: 280px) {*/

    /*    .progresss_target {*/
    /*        display: none;*/
    /*    }*/
    /*}*/
