<!DOCTYPE HTML>
<html lang="pl">
<head>
    <title>Panel Administracyjny</title>

    <th:block th:insert="~{dependencies :: dependencies}"></th:block>

    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/popup.css"/>
    <link rel="stylesheet" href="/css/modal.css"/>
    <link rel="stylesheet" href="/css/course_container.css"/>
    <link rel="stylesheet" href="/css/admin.css"/>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>

<body>

        <!--
            START header
        -->
        <div th:insert="~{header :: header(active = ${true})}"></div>
        <div th:insert="~{header :: shadow}"></div>
        <div th:insert="~{header :: minHeader}"></div>

        <div id="admin_content">

            <div id="form">
                <div class="left">
                    <h2 class="headline">Wybierz kurs:</h2>

                    <div id="select_course" class="select_menu" style="margin-bottom: 30px;">
                        <button class="select_btn" onclick="toggleSelect('select_course')" th:text="${selectedCourse == null} ? 'Nie wybrano kursu..' : ${selectedCourse.name}" ></button>
                        <i class="fa fa-chevron-left"></i>
                        <ul class="select_content">
                            <li class="select_option" tabindex="0" th:if="${!#lists.isEmpty(courses)}" th:each="course : ${courses}" th:onclick="|openCourse(${course.id})|" th:text="${course.name} + ' [' + ${course.category} + ']'"></li>
                        </ul>
                    </div>

                    <video id="video_template" preload="metadata">
                        <source id="video_source" type="video/mp4">
                    </video>



                    <video id="video_refresh_duration" th:if="${#lists.isEmpty(selectedCourse)}" preload="metadata">
                        <source id="source_refresh_duration" type="video/mp4">
                    </video>



                    <div class="buttons" th:if="${!#lists.isEmpty(selectedCourse)}">
                        <button class="tablinks button_gray" onclick="openTab(event, 'new_chapter')">Dodaj nowy rozdział <i class="fas fa-arrow-circle-right"></i></button>
                        <button class="tablinks button_gray" onclick="openTab(event, 'new_topic')">Dodaj nowy temat <i class="fas fa-arrow-circle-right"></i></button>
                    </div>





                    <div id="new_chapter" class="tabcontent" th:if="${selectedCourse != null}">
                        <label class="headline" for="new_chapter_title"> Nowy rozdział:</label>

                        <div class="input_group">
                            <input class="input" id="new_chapter_title" type="text" placeholder="Wpisz nazwę rozdziału.." maxlength="50">
                            <input class="input_number" id="new_chapter_index" type="number" value="1" min="0">
                        </div>


                        <div class="accept_decline">
                            <button class="button_red" onclick="resetNewChapterAndTopic()">Anuluj <i class="fas fa-arrow-circle-right"></i></button>
                            <button class="button_gray" onclick="confirm('newChapter')">Dodaj <i class="fas fa-arrow-circle-right"></i></button>
                        </div>
                    </div>







                    <div id="new_topic" class="tabcontent" th:if="${selectedCourse != null}">

                        <label class="headline" for="select_chapter">Wybierz rozdział:</label>

                        <div id="select_chapter" class="select_menu" style="margin-bottom: 40px;" th:fragment="chapter_select">
                            <button class="select_btn" onclick="toggleSelect('select_chapter')">Nie wybrano rozdziału..</button>
                            <i class="fa fa-chevron-left"></i>

                            <ul class="select_content" th:if="${!#lists.isEmpty(selectedCourse) || selectedCourse != null}">
                                <li class="select_option" tabindex="0" th:each="chapter : ${selectedCourse.chapters}" th:onclick="|selectOption('select_chapter', this, ${chapter.id})|" th:text="${chapter.index} < 10 ? '0' + ${chapter.index} + ' - ' + ${chapter.title} : ${chapter.index}  + ' - ' + ${chapter.title}"></li>
                            </ul>
                        </div>


                        <label class="headline" for="new_topic_input">Nowy temat:</label>
                        <div class="input_group" style="margin-bottom: 40px;">
                            <input id="new_topic_input" type="text" class ="input" placeholder="Wpisz nazwę tematu.." maxlength="50">
                            <input class="input_number" id="new_topic_index" type="number" value="1" min="0">
                        </div>


                        <label class="headline" for="select_video">Materiał wideo:</label>
                        <div id="select_video" class="select_menu" style="margin-bottom: 30px;">
                            <button class="select_btn" onclick="toggleSelect('select_video')">Nie wybrano pliku wideo..</button>
                            <i class="fa fa-chevron-left"></i>

                            <ul class="select_content">
                                <li class="select_option" tabindex="0" th:each="video, state : ${videos}" th:onclick="|selectOption('select_video', this, ${state.index})|" th:text="${video}"></li>
                            </ul>
                        </div>

                        <div class="accept_decline">
                            <button class="button_red" onclick="resetNewChapterAndTopic()">Anuluj <i class="fas fa-arrow-circle-right"></i></button>
                            <button class="button_gray" onclick="confirm('newTopic')">Dodaj <i class="fas fa-arrow-circle-right"></i></button>
                        </div>
                    </div>
                </div>



                <button th:if="${#lists.isEmpty(selectedCourse)}" id="btn_refresh_duration" class="button_gray" onclick="refreshDurations()">Zaktualizuj czas trwania filmów <i class="fas fa-arrow-circle-right"></i></button>



                <div id="display_panel" th:if="${selectedCourse != null}">

                    <div id="display_content" th:fragment="course_preview">

                        <h1 class="headline" id="introduction"> Podgląd </h1>

                        <!--
                            No Data Found container
                        -->
                        <th:block th:if="${!#lists.isEmpty(selectedCourse)}">
                            <div th:if="${selectedCourse.getChapters() == null || #lists.isEmpty(selectedCourse.getChapters())}" id="no_results_found" class="window no_data_found">

                                <th:block th:insert="dependencies :: noDataFound('big fas fa-exclamation-circle', 'Kurs nie zawiera żadnych materiałów!', 'Utwórz nowy rozdział, aby zobaczyć go w tym miejscu.')"></th:block>

                            </div>
                        </th:block>


                        <div id="right_content" th:if="${!#lists.isEmpty(selectedCourse) || selectedCourse != null}">

                            <div class="chapter_menu" th:each="chapter : ${selectedCourse.chapters}" th:id="'right_chapter_id' + ${chapter.id}">
                                <div class="chapter_header">

                                    <div class="th_type">  <i class="far fa-dot-circle"></i> </div>
                                    <div class="th_index" th:text="${chapter.index}"></div>
                                    <div class="th_title" th:text="${chapter.title}"></div>
                                    <div class="th_operations">
                                        <div class="preview_icons">
                                            <button class="icon_save"><i class="fas fa-pencil-alt" th:onclick="|confirm('editChapter', ${chapter.id})|"></i></button>
                                            <button class="icon_delete"><i class="fas fa-trash" th:onclick="|confirm('deleteChapter', ${chapter.id})|"></i></button>
                                        </div>
                                    </div>

                                </div>


                                <div class="topic_menu" th:if="${chapter.topics != null}">
                                    <div class="topic_header" th:each="topic : ${chapter.topics}" th:id="'right_topic_id_' + ${topic.id}">

                                        <div class="td_type"> <i class="far fa-dot-circle"></i> </div>
                                        <div class="td_index" th:text="${topic.index}"></div>
                                        <div class="td_title" th:text="${topic.title}"></div>
                                        <div class="td_operations">
                                            <div class="preview_icons">
                                                <button class="icon_save"><i class="fas fa-pencil-alt" th:onclick="|confirm('editTopic', ${topic.id})|"></i></button>
                                                <button class="icon_delete"><i class="fas fa-trash" th:onclick="|confirm('deleteTopic', ${topic.id})|"></i></button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div id="modal_confirmation" class="modal">

            <!-- Modal content -->
            <div class="modal_content active">
                <span class="modal_close" tabindex="0" onclick="closeModal()"><i class="fas fa-times"></i></span>

                <div class="top">
                    <h2 class="title" id="modal_title"> Potwierdź akcje!</h2>
                </div>


                <div class="bottom">
                    <div id="js_info">

                        <div th:fragment="editChapter" th:if="${editChapter != null}">
                            <p class="headline">Nazwa i indeks rozdziału:</p>
                            <div class="input_group" th:if="${editChapter != null}">
                                <input class="input" id="edit_chapter_title" type="text" th:value="${editChapter.title}" placeholder="Wpisz nazwę rozdziału.." maxlength="50">
                                <input class="input_number" id="edit_chapter_index" type="number" th:value="${editChapter.index}" min="0">
                            </div>
                        </div>


                        <div th:fragment="editTopic" th:if="${editTopic != null}" style="text-align: left">

                            <p class="headline">Rozdział: </p>
                            <div id="edit_select_chapter" class="select_menu" style="margin-bottom: 40px;" th:data-id="${finalChapter.id}">
                                <button class="select_btn" onclick="toggleSelect('edit_select_chapter')" th:text="${finalChapter.index} < 10 ? '0' + ${finalChapter.index}+ ' - ' + ${finalChapter.title} : ${finalChapter.index} + ' - ' + ${finalChapter.title}"></button>
                                <i class="fa fa-chevron-left"></i>

                                <ul class="select_content" th:if="${!#lists.isEmpty(selectedCourse) || selectedCourse != null}">
                                    <li class="select_option" tabindex="0" th:each="chapter : ${selectedCourse.chapters}" th:onclick="|selectOption('edit_select_chapter', this, ${chapter.id})|" th:text="${chapter.index} < 10 ? '0' + ${chapter.index} + ' - ' + ${chapter.title} : ${chapter.index}  + ' - ' + ${chapter.title}"></li>
                                </ul>
                            </div>

                            <p class="headline">Materiał wideo:</p>
                            <div id="edit_select_video" class="select_menu" style="margin-bottom: 40px;">
                                <button class="select_btn" onclick="toggleSelect('edit_select_video')" th:text="${editTopic.location}"></button>
                                <i class="fa fa-chevron-left"></i>

                                <ul class="select_content">
                                    <li class="select_option" tabindex="0" th:each="video, state : ${videos}" th:onclick="|selectOption('edit_select_video', this, ${state.index})|" th:text="${video}"></li>
                                </ul>

                            </div>


                            <p class="headline">Nazwa oraz indeks tematu:</p>
                            <div class="input_group">
                                <input id="edit_topic_input" type="text" class ="input" th:value="${editTopic.title}" placeholder="Wpisz nazwę tematu.." maxlength="50">
                                <input class="input_number" id="edit_topic_index" type="number" th:value="${editTopic.index}" min="0">
                            </div>

                        </div>

                    </div>

                    <button class="button_red" onclick="closeModal()">Anuluj <i class="fas fa-arrow-circle-right"></i></button>
                    <button id="js_confirm" class="button_gray">Potwierdź <i class="fas fa-arrow-circle-right"></i></button>

                </div>
            </div>
        </div>





        <!--
            START popup
        -->
        <div th:insert="~{popup :: popup}"></div>


        <!--
            START footer
        -->
        <div th:insert="~{footer :: footer}"></div>






        <script src="/js/popup.js"></script>
        <script src="/js/header.js"></script>
        <script src="/js/jquery-1.11.3.js"></script>
    
</body>




    <script th:inline="javascript">


        function openCourse(course_id) {
            window.location.href = '/admin/' + course_id;
        }


        const defaultChapterInfo = "Nie wybrano rozdziału..";
        const defaultVideoInfo   = "Nie wybrano pliku wideo..";





        const modal_confirmation = document.getElementById('modal_confirmation');

        function closeModal() {
            modal_confirmation.classList.remove("active");
        }

        const VideoEnum = Object.freeze({"NewTopic":1, "EditTopic":2});

        const video  = document.getElementById("video_template");
        const source = document.getElementById("video_source");
        let duration = 0;
        let videoOperation = null;

        video.onloadedmetadata = function() {
            duration = video.duration;
            if (Number.isNaN(duration)) duration = 0;
            console.log(duration);

            if (videoOperation == null) return;

            if (videoOperation == VideoEnum.NewTopic) {
            }
        };





        const modalTitle = document.getElementById("modal_title");
        const jsInfo     = document.getElementById("js_info");
        const jsConfirm  = document.getElementById("js_confirm");


        function confirm(type, id) {
            if (type == "newChapter") {
                let chapter_index = document.getElementById("new_chapter_index").value;
                let chapter_name  = document.getElementById("new_chapter_title").value;

                if (chapter_name != "" && chapter_name != null && chapter_index != null && chapter_index != "" && chapter_index >= 0) {

                    modalTitle.innerHTML = "Potwierdź dodawanie nowego rozdziału!";

                    jsInfo.innerHTML = '' +
                        '<div class="chapter_header">' +
                        '   <div class="th_type"> <i class="far fa-dot-circle"></i> </div>' +
                        '   <div class="th_index">' + chapter_index + '</div>' +
                        '   <div class="th_title">' + chapter_name + '</div>' +
                        '</div>';

                    jsConfirm.setAttribute('onclick', 'addNewChapter()');

                } else {
                    alert("Wypełnij wszystkie dane bądź sprawdź ich poprawność!");
                    return;
                }
            }



            if (type == "newTopic") {
                let chapter_id  = document.getElementById("select_chapter").dataset.id;
                let topic_title = document.getElementById("new_topic_input").value;
                let topic_index = document.getElementById("new_topic_index").value;
                let topic_video = document.getElementById("select_video").getElementsByClassName("select_btn")[0].innerHTML;
                let topic_id    = document.getElementById("select_video").dataset.id;

                if (topic_title != null && topic_video != "" && chapter_id != null && chapter_id != "" && chapter_id > 0 && topic_index != null && topic_index != "" && topic_index >= 0 && topic_id != null && topic_id != "" && topic_id >= 0) {

                    if (source.src === "" || source.src == null) {
                        let path = /*[[${videosPath}]]*/"";
                        source.src = path + topic_video;
                        video.load();

                    } else {
                        if (duration == 0) {
                            showPopup("Ładowanie danych na temat filmu..", 0);
                            return;
                        }
                    }

                    videoOperation = VideoEnum.NewTopic;
                    modalTitle.innerHTML = "Potwierdź dodawanie nowego tematu!";

                    jsInfo.innerHTML = '' +
                        '<div class="topic_header">' +
                        '   <div class="td_type"> <i class="far fa-dot-circle"></i> </div>' +
                        '   <div class="td_index">' + topic_index + '</div>' +
                        '   <div class="td_title">' + topic_title + '</div>' +
                        '</div>' +
                        '<h3 id="js_info_title"> Materiał wideo: </h3>' +
                        '<p  id="js_info_desc">' + topic_video + '</p>';

                    jsConfirm.setAttribute('onclick', 'addNewTopic()');

                } else {
                    alert("Wypełnij wszystkie dane bądź sprawdź ich poprawność!");
                    return;
                }
            }




            if (type == "deleteTopic") {
                modalTitle.innerHTML = "Czy na pewno chcesz usunąć temat?";
                jsInfo.innerHTML = "";

                let parent = document.getElementById("right_topic_id_" + id);
                parent = parent.cloneNode(true);
                let child = parent.getElementsByClassName("td_operations")[0];
                parent.removeChild(child);

                if (child != null)
                    jsInfo.appendChild(parent);

                jsConfirm.setAttribute('onclick', 'deleteTopic(' + id + ')');
            }





            if (type == "deleteChapter") {
                modalTitle.innerHTML = "Czy na pewno chcesz usunąć rozdział wraz z tematami?";
                jsInfo.innerHTML = "";

                let parent = getChapterWithTopicsView(id);

                jsInfo.appendChild(parent);
                jsConfirm.setAttribute('onclick', 'deleteChapter(' + id + ')');
            }


            if (type == "editChapter") {
                modalTitle.innerHTML = "Edytowanie rozdziału...";
                jsInfo.innerHTML = "";

                $("#js_info").load('/admin/getChapterEditDetails/' + id);

                jsConfirm.setAttribute('onclick', 'editChapter(' + id + ')');
            }


            if (type == "editTopic") {
                modalTitle.innerHTML = "Edytowanie tematu...";
                jsInfo.innerHTML = "";

                $("#js_info").load('/admin/getTopicEditDetails/' + id + '?courseId=' + selected_course_id);

                jsConfirm.setAttribute('onclick', 'editTopic(' + id + ')');
            }


            modal_confirmation.classList.add("active");
        }





        function getChapterWithTopicsView(id) {
            let parent = document.getElementById("right_chapter_id" + id);
            parent = parent.cloneNode(true);


            let parent2 = parent.getElementsByClassName("chapter_header")[0];
            parent2.childNodes.forEach(c=>{
                if(c.className  == "th_operations"){
                    parent2.removeChild(c);
                }
            });


            let grandChild = parent.getElementsByClassName("topic_menu")[0];
            let grandChilds2 = null;
            if (grandChild != null)
                grandChilds2 = grandChild.getElementsByClassName("topic_header");

            if (grandChilds2 != null) {
                if (grandChilds2.length > 0) {
                    for (let i = 0; i < grandChilds2.length; i++) {
                        let obj = grandChilds2[i];

                        obj.childNodes.forEach(c => {
                            if (c.className == "td_operations") {
                                obj.removeChild(c);
                            }
                        });
                    }
                }
            }

            return parent;
        }






























        const tabcontent  = document.getElementsByClassName("tabcontent");
        const tablinks    = document.getElementsByClassName("tablinks");
        const all_selects = document.getElementsByClassName("select_menu");

        const selected_course  = /*[[${selectedCourse}]]*/ 0;
        let selected_course_id = 0;

        if (selected_course) selected_course_id = selected_course.id;


        function openTab(e, tabName) {
            if (selected_course_id > 0) {
                let i;
                for (i = 0; i < tabcontent.length; i++) {
                    //tabcontent[i].style.block = "none";
                    if (tabcontent[i].classList.contains("active"))
                        tabcontent[i].classList.remove("active");
                }
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                document.getElementById(tabName).classList.add("active")
                e.currentTarget.className += " active";

            } else {
                alert("Wybierz najpierw jeden z dostępnych kursów.");
            }
        }


        function closeAllTabs() {
            for (let i = 0; i < tabcontent.length; i++) {
                //tabcontent[i].style.block = "none";
                if (tabcontent[i].classList.contains("active"))
                    tabcontent[i].classList.remove("active");
            }
            for (let i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
        }

        function resetNewChapterAndTopic() {
            clearInputs();
            closeAllTabs();
        }

        function reloadCourseInformation() {
            $("#display_panel").load('/admin/getCourseInfo/' + selected_course_id);
            $("#select_chapter").load('/admin/getChaptersInfo/' + selected_course_id);
        }

        function clearInputs() {
            document.getElementById("new_topic_input").value = "";
            document.getElementById("new_topic_index").value = 1;

            document.getElementById("new_chapter_title").value = "";
            document.getElementById("new_chapter_index").value = 1;

            document.getElementById("select_chapter").removeAttribute("data-id");
            document.getElementById("select_chapter").getElementsByClassName("select_btn")[0].innerHTML = defaultChapterInfo;
            document.getElementById("select_video").removeAttribute("data-id");
            document.getElementById("select_video").getElementsByClassName("select_btn")[0].innerHTML = defaultVideoInfo;
            clearDuration();
        }

        function clearDuration() {
            source.removeAttribute("src");
            duration = 0;
            videoOperation = null;
            video.load();
        }


        function toggleSelect(selectName) {
            const select = document.getElementById(selectName);

            for (let i=0; i < all_selects.length; i++) {
                if (select != all_selects[i]) all_selects[i].classList.remove("active");
            }

            if (select.classList.contains("active")) {
                select.classList.remove("active");
            } else {
                select.classList.add("active");
            }
        }

        function selectOption(selectName, optionObject, dataId) {
            let select         = document.getElementById(selectName);
            let select_content = select.getElementsByClassName("select_content");
            let select_btn     = select.getElementsByClassName("select_btn")[0];


            select_btn.innerHTML = optionObject.innerHTML;
            select.setAttribute("data-id", dataId);

            select.classList.remove("active");
            select_content[0].classList.remove("active");


            if (selectName === "edit_select_video") {
                videoOperation = VideoEnum.EditTopic;

                let path = /*[[${videosPath}]]*/"";
                source.src = path + optionObject.innerHTML;
                video.load();

                console.log("haha");
            }
        }


        window.addEventListener("click", function(event) {
            if (event.target.className != 'select_btn' && event.target.className != 'select_option') {
                for (let i=0; i< all_selects.length; i++) {
                    all_selects[i].classList.remove("active");
                }
            }

            if (event.target == modal_confirmation) {
                closeModal();
            }
        });






        function addNewChapter() {
            let chapter_index = document.getElementById("new_chapter_index").value;
            let chapter_name  = document.getElementById("new_chapter_title").value;
            if (chapter_name != "" && chapter_name != null && chapter_index != null && chapter_index != "" && chapter_index >= 0) {

                let token = $("meta[name='_csrf']").attr("content");
                let header = $("meta[name='_csrf_header']").attr("content");
            
                $.ajax({
                    type:"POST",
                    dataType:"json",
                    data: { courseId: selected_course_id, chapterTitle: chapter_name, chapterIndex: chapter_index},
                    url:"/admin/addNewChapter",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token)
                    },
                    success: function(data) {

                        showPopup(data.message, data.success);
                        clearInputs();
                        reloadCourseInformation();
                        closeModal();

                    }, 
                    error: function(xhr, status, error) {
                        alert(error);
                        console.warn(xhr.responseText);
                    }
                });
            } else {
                alert("Wypełnij wszystkie dane bądź sprawdź ich poprawność!");
            }
        }



        function addNewTopic() {
            let chapter_id  = document.getElementById("select_chapter").dataset.id;
            let topic_title = document.getElementById("new_topic_input").value;
            let topic_index = document.getElementById("new_topic_index").value;
            let topic_video = document.getElementById("select_video").getElementsByClassName("select_btn")[0].innerHTML;

            if (topic_title != "" && topic_video != "" && chapter_id != null && chapter_id != "" && chapter_id > 0 && topic_index != null && topic_index != "" && topic_index >= 0) {


                if (videoOperation == VideoEnum.NewTopic && duration === 0) {
                    showPopup("Ładowanie danych na temat filmu..", 0);
                    return;
                }
                if (duration < 0) duration = 0;


                let token = $("meta[name='_csrf']").attr("content");
                let header = $("meta[name='_csrf_header']").attr("content");
            
                $.ajax({
                    type:"POST",
                    dataType:"json",
                    data: { chapterId: chapter_id, topicTitle: topic_title, topicIndex: topic_index, topicVideo: topic_video, duration: duration},
                    url:"/admin/addNewTopic",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token)
                    },
                    success: function(data) {

                        showPopup(data.message, data.success);
                        clearInputs();
                        reloadCourseInformation();
                        closeModal();

                    }, 
                    error: function(xhr, status, error) {
                        alert(error);
                        console.warn(xhr.responseText);
                    }
                });
            } else {
                alert("Wypełnij wszystkie dane bądź sprawdź ich poprawność!");
            }
        }









        function editChapter(chapterId) {
            let chapter_index = document.getElementById("edit_chapter_index").value;
            let chapter_name  = document.getElementById("edit_chapter_title").value;
            if (chapter_name != "" && chapter_name != null && chapter_index != null && chapter_index != "" && chapter_index >= 0) {

                let token = $("meta[name='_csrf']").attr("content");
                let header = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    type:"POST",
                    dataType:"json",
                    data: { chapterId: chapterId, chapterTitle: chapter_name, chapterIndex: chapter_index},
                    url:"/admin/editChapter",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token)
                    },
                    success: function(data) {

                        showPopup(data.message, data.success);
                        reloadCourseInformation();
                        closeModal();

                    },
                    error: function(xhr, status, error) {
                        alert(error);
                        console.warn(xhr.responseText);
                    }
                });
            } else {
                alert("Wypełnij wszystkie dane bądź sprawdź ich poprawność!");
            }
        }






        function editTopic(topicId) {
            let chapter_id  = document.getElementById("edit_select_chapter").dataset.id;
            let topic_title = document.getElementById("edit_topic_input").value;
            let topic_index = document.getElementById("edit_topic_index").value;
            let topic_video = document.getElementById("edit_select_video").getElementsByClassName("select_btn")[0].innerHTML;

            if (topic_title != "" && topic_video != "" && chapter_id != null && chapter_id != "" && chapter_id > 0 && topic_index != null && topic_index != "" && topic_index >= 0) {


                if (videoOperation == VideoEnum.EditTopic && duration === 0) {
                    showPopup("Ładowanie danych na temat filmu..", 0);
                    return;
                }
                if (duration < 0) duration = 0;


                let token = $("meta[name='_csrf']").attr("content");
                let header = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    type:"POST",
                    dataType:"json",
                    data: { topicId: topicId, chapterId: chapter_id, topicTitle: topic_title, topicIndex: topic_index, topicVideo: topic_video, duration: duration},
                    url:"/admin/editTopic",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token)
                    },
                    success: function(data) {

                        showPopup(data.message, data.success);
                        reloadCourseInformation();
                        closeModal();
                        clearDuration();

                    },
                    error: function(xhr, status, error) {
                        alert(error);
                        console.warn(xhr.responseText);
                    }
                });
            } else {
                alert("Wypełnij wszystkie dane bądź sprawdź ich poprawność!");
            }
        }






        function deleteTopic(topic_id) {
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            if (topic_id != null && topic_id != "" && topic_id > 0) {

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: {topicId: topic_id},
                    url: "/admin/deleteTopic",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token)
                    },
                    success: function (data) {

                        showPopup(data.message, data.success);
                        reloadCourseInformation();
                        closeModal();

                    },
                    error: function (xhr, status, error) {
                        alert(error);
                        console.warn(xhr.responseText);
                    }
                });

            } else {
                alert("Uzupełnij wszystkie dane!");
            }
        }




        function deleteChapter(chapter_id) {
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            if (chapter_id != null && chapter_id != "" && chapter_id > 0) {

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: {chapterId: chapter_id},
                    url: "/admin/deleteChapter",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token)
                    },
                    success: function (data) {

                        showPopup(data.message, data.success);
                        reloadCourseInformation();
                        closeModal();

                    },
                    error: function (xhr, status, error) {
                        alert(error);
                        console.warn(xhr.responseText);
                    }
                });

            } else {
                alert("Uzupełnij wszystkie dane!");
            }
        }


        let updateDurationTotal = 0;
        let updateDurationCounter = 0;

        function refreshDurations() {
            let list = /*[[${videos}]]*/"";
            let videoPath = /*[[${videosPath}]]*/"";
            let index = 0;
            updateDurationTotal = list.length;

            if (updateDurationTotal == 0 || updateDurationTotal == null) {
                showPopup("Nie znaleziono żadnych filmów na serwerze!", 0);
                return;
            }

            let videoElement = document.getElementById("video_refresh_duration");
            let sourceElement = document.getElementById("source_refresh_duration");
            updateSingleVideo(videoElement, sourceElement, videoPath, list, index);

            updateDurationTotal = 0;
            updateDurationCounter = 0;
        }


        function updateSingleVideo(videoElement, sourceElement, videoPath, list, index) {
            if (index == list.length) return;
            let videoLocation = list[index];

            sourceElement.src = (videoPath + videoLocation);
            videoElement.load();

            videoElement.onloadedmetadata = function() {
                duration = videoElement.duration;
                if (Number.isNaN(duration)) duration = 0;
                updateDurationDatabase(videoLocation, duration);

                updateSingleVideo(videoElement, sourceElement, videoPath, list, (index + 1));
            };
        }



        function updateDurationDatabase(videoLocation, duration) {
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            if (videoLocation != null && videoLocation != "" && duration != null && duration != "" && duration > 0.0) {

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: {videoLocation: videoLocation, duration: duration},
                    url: "/admin/updateDuration",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token)
                    },
                    success: function (data) {

                        updateDurationCounter++;
                        showPopup("Zaktualizowano " + updateDurationCounter + "/" + updateDurationTotal + " plików video.", 1);

                    },
                    error: function (xhr, status, error) {
                    }
                });

            } else {
                alert("Nieprawidłowe dane!");
            }
        }



    </script>



</html>