<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>

    <th:block th:fragment="dependencies">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/css/elements.css">
    <link rel="stylesheet" href="/css/all-styles.css">
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.0/css/all.css"/>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </th:block>

</head>

<body>

    <th:block th:fragment="noDataFound(icon, title, description)">
        <i th:class="${icon == null ? 'center_icon fas fa-info-circle' : 'center_icon ' + icon}"></i>

        <h2 class="title" th:if="${title != null}" th:text="${title}"></h2>
        <p class="description" th:if="${description != null}" th:text="${description}"></p>
    </th:block>

</body>

</html>