<!DOCTYPE html>
<html lang="pl">
<head>

    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


    <div id="footer" th:fragment="footer">
        <div class="inner">

            <div id="footer_heading">

                <div id="footer_left">
                    <p class="title">Kontakt</p>

                    <p class="desc">W razie pytań zachęcamy do kontaktu na adres email:
                        <br>
                    <ul class="href"><li><a class="list_link" href="mailto:pomoc@kursowo.pl">pomoc@kursowo.pl</a>.</li></ul>

                </div>


                <div id="footer_right">
                    <p class="title bold">Zapoznaj się</p>

                    <ul class="href">
                        <li><a class="list_link" id="regulamin" th:href="@{/terms}">Regulamin</a></li>
                        <li><a class="list_link" href="">Polityka prywatności</a></li>
                    </ul>
                </div>
            </div>


            <div id="footer_bottom">
                <p class="info">Kursowo.pl © 2023. Wszelkie prawa zastrzeżone.</p>

                <div id="social">
                    <a href="https://www.linkedin.com/in/bartosz-malec-a6a36418b/" target="_blank" class="social_media"><i id="linkedin" class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/Vertonowsky" target="_blank" class="social_media"><i id="github" class="fab fa-github"></i></a>
                </div>

            </div>
        </div>

    </div>

</body>
</html>