<!DOCTYPE html>
<html lang="pl">
<head>

    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


    <div id="footer" th:fragment="footer">
        <div class="inner">

            <div id="footer_heading">

                <div id="footer_left">
                    <p class="title">Kontakt</p>

                    <p class="desc">W razie pytań zachęcamy do kontaktu na adres email:
                        <br>
                    <ul class="href"><li><a class="list_link" href="">pomoc@egzaminy24.pl</a>.</p></li></ul>

                </div>


                <div id="footer_right">
                    <p class="title bold">Zapoznaj się</p>

                    <ul class="href">
                        <li><a class="list_link" id="regulamin" href="">Regulamin</a></li>
                        <li><a class="list_link" href="">Polityka prywatności</a></li>
                    </ul>
                </div>
            </div>


            <div id="footer_bottom">
                <p class="info">Napewno nie stuprocentowo © 2021. Wszelkie prawa zastrzeżone.</p>

                <div id="social">
                    <a href="" id="facebook" class="social_media"><i class="fab fa-facebook-f"></i></a>
                    <a href="" id="youtube" class="social_media"><i class="fab fa-youtube"></i></a>
                </div>

            </div>
        </div>

    </div>

</body>
</html>