<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <title>Title</title>
    <meta charset="UTF-8">

</head>
<body>

<div id="header" th:fragment="header">

    <a th:href="@{/}" id="nav_logo"><img alt="" src="/images/logo3.png"/></a>

    <div class="header_nav_buttons visible">
        <a class="header_button" th:href="@{/lista-kursow}"><i class="fas fa-laptop"></i> Nasze kursy</a>
        <a class="header_button" href=""><i class="fas fa-phone"></i> Kontakt</a>
    </div>

    <div class="header_auth_buttons">

        <!--
            CHECK IF USER IS LOOGED IN - IF HE IS THEN SHOW LOGOUT BUTTON
        -->

        <div sec:authorize="isAnonymous()">
            <a th:href="@{/logowanie}" class="login_button">Zaloguj</a>
            <a th:href="@{/rejestracja}" class="register_button">Zarejestruj<i class="fas fa-arrow-circle-right"></i></a>
        </div>


        <div sec:authorize="isAuthenticated()">
            <div class="dropdown">
                <a class="dropbtn" th:href="@{/profil}"><div> [[${#authentication.getPrincipal().getUsername()}]] <i class="fas fa-caret-down"></i></div></a>

                <div class="dropdown_content">

                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}" class="dropdown_link"><i class="fas fa-tools"></i> Panel administracyjny </a>

                    <a class="dropdown_link" th:href="@{/profil}"><i class="fas fa-user-circle"></i> Moje konto</a>
                    <a class="dropdown_link" th:href="@{/kontynnuj_kurs}"><i class="fas fa-file-video"></i> Kontynuuj kurs</a>
                    <form th:action="@{/logout}" method="POST" modelAttribute="_csrf">
                        <!--<button type="submit"> Logout </button>-->
                        <button class="dropdown_link" type="submit"><i class="far fa-arrow-alt-circle-left"></i> Wyloguj się</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <a id="navPanelToggle"><i class="fa fa-bars"></i></a>

</div>


<div id="shadow" th:fragment="shadow"></div>

<div id="minHeader" th:fragment="minHeader">


    <!--
        CHECK IF USER IS LOOGED IN - IF HE IS THEN SHOW LOGOUT BUTTON
    -->

    <div class="header_auth_buttons">

        <div sec:authorize="isAnonymous()">
            <a th:href="@{/logowanie}" class="login_button">Zaloguj</a>
            <a th:href="@{/rejestracja}" class="register_button">Zarejestruj<i class="fas fa-arrow-circle-right"></i></a>

            <div class="menu_content" style="margin-top: 50px">
                <a class="menu_link" th:href="@{/lista-kursow}"><i class="fas fa-laptop"></i> Nasze kursy</a>
                <a class="menu_link" href="" style="margin-top: 15px;"><i class="fas fa-phone"></i> Kontakt</a>
            </div>
        </div>


        <div sec:authorize="isAuthenticated()">
            <div class="menu_content">
                <a class="menu_link" th:href="@{/profil}"><i class="fas fa-user-circle"></i> Moje konto</a>

                <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}" class="menu_link"><i class="fas fa-tools"></i> Panel administracyjny </a>

                <a class="menu_link" th:href="@{/kontynnuj_kurs}"><i class="fas fa-file-video"></i> Kontynuuj kurs</a>
                <a class="menu_link" th:href="@{/lista-kursow}"><i class="fas fa-laptop"></i> Nasze kursy</a>
                <a class="menu_link" href=""><i class="fas fa-phone"></i> Kontakt</a>
                <form th:action="@{/logout}" method="POST" modelAttribute="_csrf">
                    <button class="menu_link" type="submit"><i class="far fa-arrow-alt-circle-left"></i> Wyloguj się</button>
                </form>
            </div>
        </div>
    </div>

</div>




</body>
</html>