<!DOCTYPE html>
<html lang="pl">
<head>

    <title>Title</title>
    <meta charset="UTF-8">

</head>
<body>

<div id="header" th:fragment="header">

    <a th:href="@{/}" id="nav_logo"><img alt="" src="/images/logo3.png"/></a>

    <div id="navPanel">
        <div id="header_buttons" class="visible">
            <a class="header_button" th:href="@{/lista-kursow}">Nasze kursy</a>
            <a class="header_button" href="">Kontakt</a>
        </div>

        <div id="buttons">';

            <!--
                CHECK IF USER IS LOOGED IN - IF HE IS THEN SHOW LOGOUT BUTTON
            -->

            <a th:href="@{/logowanie}" class="button_transparent_underline" id="login_button">Zaloguj</a>
            <a th:href="@{/rejestracja}" class="button_white" id="register_button">Zarejestruj<i class="fas fa-arrow-circle-right"></i></a>';

        </div>
    </div>

    <a onclick="openNav()" id="navPanelToggle"><i class="fa fa-bars"></i></a>

</div>

</body>
</html>