<!DOCTYPE HTML>
<html lang="pl">
<head>
    <title>Kursowo.pl</title>

    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/course_container.css">

    <div th:insert="~{dependencies :: dependencies}"></div>

</head>

<body>

        <!--
            START header
        -->
        <div th:insert="~{header :: header(active = ${false})}"></div>
        <div th:insert="~{header :: shadow}"></div>
        <div th:insert="~{header :: minHeader}"></div>

        <div id="content">

            <div id="banner">
                <div id="blobs">

                    <div class="blob1 blob_body">
                        <svg viewBox="0 0 200 200">
                            <defs>
                                <linearGradient id="gradient" gradientTransform="rotate(-45 .5 .5)">
                                    <stop offset="0%" style="stop-color: #74D1F5"></stop>
                                    <stop offset="100%" style="stop-color: #0EBFF4;"></stop>
                                </linearGradient>
                            </defs>
                            <path fill="url(#gradient)" transform="translate(100 100)">
                                <animate attributeName="d"
                                         dur="20000ms"
                                         repeatCount="indefinite"

                                         values="M53.6,-22.8C66,-9.5,70.1,16.7,59.8,25.4C49.5,34,24.7,25.2,-2,26.4C-28.8,27.6,-57.6,38.7,-66.5,30.8C-75.5,22.9,-64.6,-4,-50.2,-18.5C-35.8,-32.9,-17.9,-34.9,1.4,-35.7C20.6,-36.5,41.2,-36.1,53.6,-22.8Z;
                                        M57.9,-41.9C60.6,-28.9,38.2,-9.8,24.4,1.8C10.6,13.5,5.3,17.8,-6.9,21.8C-19.1,25.8,-38.2,29.5,-51.9,17.8C-65.7,6.2,-74,-20.6,-64.4,-37.7C-54.9,-54.7,-27.4,-62,0.1,-62C27.6,-62.1,55.3,-55,57.9,-41.9Z;
                                        M61.8,-30.8C73.3,-15.9,70.9,11.8,58.3,24.6C45.7,37.4,22.8,35.2,4.2,32.8C-14.5,30.4,-29,27.8,-40.5,15.6C-52,3.4,-60.6,-18.2,-53.3,-30.7C-46.1,-43.2,-23,-46.5,1.1,-47.1C25.2,-47.8,50.4,-45.7,61.8,-30.8Z;
                                        M49.5,-37.5C51.6,-24.9,32.1,-8.8,20.3,7.8C8.5,24.3,4.2,41.3,-11.1,47.7C-26.5,54.2,-53.1,50,-63.1,34.6C-73.1,19.1,-66.6,-7.8,-53.3,-26.8C-40,-45.9,-20,-57.1,1.8,-58.2C23.7,-59.2,47.3,-50.1,49.5,-37.5Z;
                                        M53.6,-22.8C66,-9.5,70.1,16.7,59.8,25.4C49.5,34,24.7,25.2,-2,26.4C-28.8,27.6,-57.6,38.7,-66.5,30.8C-75.5,22.9,-64.6,-4,-50.2,-18.5C-35.8,-32.9,-17.9,-34.9,1.4,-35.7C20.6,-36.5,41.2,-36.1,53.6,-22.8Z
                        "></animate>
                            </path>
                        </svg>
                    </div>



                    <div class="blob2 blob_body">
                        <svg viewBox="0 0 200 200">
                            <defs>
                                <linearGradient id="gradient2" gradientTransform="rotate(135 .5 .5)">
                                    <stop offset="0%" style="stop-color: #53CAF3"></stop>
                                    <stop offset="100%" style="stop-color: #74D1F5;"></stop>
                                </linearGradient>
                            </defs>
                            <path fill="url(#gradient2)" transform="translate(100 100)">
                                <animate attributeName="d"
                                         dur="5000ms"
                                         repeatCount="indefinite"

                                         values="M44.6,-57.3C58.9,-51,72.3,-39.4,73.8,-26C75.4,-12.6,65.2,2.6,59.5,19C53.7,35.5,52.6,53.1,43.4,57.2C34.3,61.2,17.1,51.7,-0.1,51.8C-17.4,52,-34.8,61.9,-46.1,58.5C-57.5,55.2,-62.8,38.7,-67.9,22.2C-72.9,5.8,-77.7,-10.5,-71.5,-21.3C-65.4,-32.1,-48.2,-37.5,-34.5,-44C-20.7,-50.4,-10.4,-58,2.4,-61.3C15.2,-64.6,30.3,-63.6,44.6,-57.3Z;
                                 M33.5,-49.5C43.1,-39.1,50.4,-29,50.8,-18.7C51.1,-8.4,44.5,2,40.4,12.6C36.2,23.2,34.4,34.1,28.1,46.6C21.8,59.2,10.9,73.4,-3.8,78.6C-18.4,83.8,-36.8,79.9,-50.4,69.7C-64,59.5,-72.9,43,-70.9,28C-68.9,13,-56.2,-0.6,-49.2,-14.1C-42.2,-27.6,-41,-41.2,-33.7,-52.3C-26.5,-63.4,-13.3,-72.1,-0.7,-71.2C11.9,-70.3,23.9,-59.8,33.5,-49.5Z;
                                        M31.1,-42.8C42.2,-34.7,54.6,-28.2,58.2,-18.6C61.8,-8.9,56.7,3.9,51,15.1C45.3,26.3,39.1,35.7,30.5,45.4C21.9,55.1,11,65,-1.3,66.9C-13.6,68.7,-27.3,62.5,-38.9,53.8C-50.6,45.1,-60.2,33.9,-66,20.4C-71.9,6.9,-73.9,-8.9,-70.9,-24.5C-67.9,-40.2,-59.8,-55.7,-47.1,-63.3C-34.5,-71,-17.2,-70.8,-3.6,-65.8C10,-60.8,19.9,-51,31.1,-42.8Z;
                                        M32.3,-40.8C42.6,-37.1,52,-28.5,61,-16.2C70,-3.9,78.5,12.2,72.8,21.8C67.1,31.4,47.2,34.5,32.7,42.2C18.2,49.9,9.1,62.1,-4.4,68.2C-18,74.4,-36,74.3,-48.1,65.9C-60.2,57.4,-66.4,40.5,-71.2,23.6C-75.9,6.8,-79.2,-10,-73.3,-22.5C-67.4,-34.9,-52.3,-43,-38.5,-45.6C-24.8,-48.1,-12.4,-45.2,-0.7,-44.3C11,-43.3,22.1,-44.5,32.3,-40.8Z;
                                        M44.6,-57.3C58.9,-51,72.3,-39.4,73.8,-26C75.4,-12.6,65.2,2.6,59.5,19C53.7,35.5,52.6,53.1,43.4,57.2C34.3,61.2,17.1,51.7,-0.1,51.8C-17.4,52,-34.8,61.9,-46.1,58.5C-57.5,55.2,-62.8,38.7,-67.9,22.2C-72.9,5.8,-77.7,-10.5,-71.5,-21.3C-65.4,-32.1,-48.2,-37.5,-34.5,-44C-20.7,-50.4,-10.4,-58,2.4,-61.3C15.2,-64.6,30.3,-63.6,44.6,-57.3Z
                        "></animate>
                            </path>
                        </svg>
                    </div>



                    <div class="blob3 blob_body">
                        <svg viewBox="0 0 200 200">
                            <defs>
                                <linearGradient id="gradient3" gradientTransform="rotate(-45 .5 .5)">
                                    <stop offset="0%" style="stop-color: #29C3F3"></stop>
                                    <stop offset="100%" style="stop-color: #6DCEF3;"></stop>
                                </linearGradient>
                            </defs>
                            <path fill="url(#gradient3)" transform="translate(100 100)">
                                <animate attributeName="d"
                                         dur="20000ms"
                                         repeatCount="indefinite"

                                         values="M38.5,-38.9C52.5,-34.2,68.1,-24.5,74.6,-9.8C81.2,4.8,78.6,24.4,67.9,35.7C57.2,47.1,38.3,50.3,20.7,56.6C3.1,62.9,-13.3,72.3,-25.6,68.6C-37.9,64.9,-46.1,48.1,-56.4,31.8C-66.7,15.5,-79.2,-0.3,-80,-17.3C-80.9,-34.3,-70.1,-52.5,-54.8,-56.9C-39.5,-61.4,-19.8,-52,-3.7,-47.6C12.3,-43.1,24.6,-43.5,38.5,-38.9Z;
                                        M37,-41.8C52.1,-31.4,71.5,-23.7,80.1,-9.1C88.6,5.5,86.3,27,75.4,41.4C64.5,55.8,45.1,63,26.6,67.3C8.1,71.6,-9.5,73,-25.5,68C-41.6,63.1,-56.1,51.9,-61.7,37.8C-67.3,23.6,-64,6.4,-59.2,-8.6C-54.3,-23.6,-47.8,-36.4,-37.7,-47.8C-27.5,-59.1,-13.8,-69,-1.4,-67.3C10.9,-65.6,21.8,-52.3,37,-41.8Z;
                                        M31.4,-40.1C44.3,-26.7,60.7,-20.1,69.5,-6.9C78.3,6.4,79.4,26.4,71.3,41.8C63.2,57.1,45.9,67.8,27.3,74.1C8.8,80.5,-11,82.5,-28,76.4C-44.9,70.4,-59.1,56.4,-68.9,39.7C-78.6,23,-83.9,3.6,-79.8,-13C-75.6,-29.7,-62,-43.7,-47.1,-56.7C-32.3,-69.8,-16.1,-81.9,-3.4,-77.8C9.3,-73.7,18.6,-53.5,31.4,-40.1Z;
                                        M54.5,-61.5C70.4,-51.7,82.7,-34.2,82.9,-17C83.1,0.2,71,17.1,59.7,32.2C48.3,47.2,37.5,60.3,24,64.7C10.5,69,-5.7,64.6,-20.8,58.5C-35.9,52.4,-49.9,44.7,-59.3,32.3C-68.7,20,-73.6,3.1,-67,-8C-60.5,-19.1,-42.7,-24.3,-29.6,-34.6C-16.5,-45,-8.3,-60.3,5.5,-66.9C19.3,-73.5,38.7,-71.3,54.5,-61.5Z;
                                        M50.9,-53.6C64.3,-49.4,72.5,-31.8,74.8,-13.9C77.1,4,73.6,22.2,65.3,38.8C57.1,55.4,44.1,70.4,27.4,77.5C10.7,84.5,-9.7,83.6,-23.8,74.5C-37.8,65.4,-45.5,48.1,-53.1,32.1C-60.6,16.1,-68,1.4,-69.4,-16C-70.8,-33.3,-66.2,-53.3,-53.6,-57.7C-41,-62,-20.5,-50.7,-0.9,-49.6C18.7,-48.6,37.4,-57.8,50.9,-53.6Z;
                                        M38.5,-38.9C52.5,-34.2,68.1,-24.5,74.6,-9.8C81.2,4.8,78.6,24.4,67.9,35.7C57.2,47.1,38.3,50.3,20.7,56.6C3.1,62.9,-13.3,72.3,-25.6,68.6C-37.9,64.9,-46.1,48.1,-56.4,31.8C-66.7,15.5,-79.2,-0.3,-80,-17.3C-80.9,-34.3,-70.1,-52.5,-54.8,-56.9C-39.5,-61.4,-19.8,-52,-3.7,-47.6C12.3,-43.1,24.6,-43.5,38.5,-38.9Z
                        "></animate>
                            </path>
                        </svg>
                    </div>



                    <div class="blob4 blob_body">
                        <svg viewBox="0 0 200 200">
                            <defs>
                                <linearGradient id="gradient4" gradientTransform="rotate(180 .5 .5)">
                                    <stop offset="0%" style="stop-color: #74D1F5;"></stop>
                                    <stop offset="100%" style="stop-color: #0EBFF4"></stop>
                                </linearGradient>
                            </defs>
                            <path fill="url(#gradient4)" transform="translate(100 100)">
                                <animate attributeName="d"
                                         dur="5000ms"
                                         repeatCount="indefinite"

                                         values="M38.5,-38.9C52.5,-34.2,68.1,-24.5,74.6,-9.8C81.2,4.8,78.6,24.4,67.9,35.7C57.2,47.1,38.3,50.3,20.7,56.6C3.1,62.9,-13.3,72.3,-25.6,68.6C-37.9,64.9,-46.1,48.1,-56.4,31.8C-66.7,15.5,-79.2,-0.3,-80,-17.3C-80.9,-34.3,-70.1,-52.5,-54.8,-56.9C-39.5,-61.4,-19.8,-52,-3.7,-47.6C12.3,-43.1,24.6,-43.5,38.5,-38.9Z;
                                        M37,-41.8C52.1,-31.4,71.5,-23.7,80.1,-9.1C88.6,5.5,86.3,27,75.4,41.4C64.5,55.8,45.1,63,26.6,67.3C8.1,71.6,-9.5,73,-25.5,68C-41.6,63.1,-56.1,51.9,-61.7,37.8C-67.3,23.6,-64,6.4,-59.2,-8.6C-54.3,-23.6,-47.8,-36.4,-37.7,-47.8C-27.5,-59.1,-13.8,-69,-1.4,-67.3C10.9,-65.6,21.8,-52.3,37,-41.8Z;
                                        M31.4,-40.1C44.3,-26.7,60.7,-20.1,69.5,-6.9C78.3,6.4,79.4,26.4,71.3,41.8C63.2,57.1,45.9,67.8,27.3,74.1C8.8,80.5,-11,82.5,-28,76.4C-44.9,70.4,-59.1,56.4,-68.9,39.7C-78.6,23,-83.9,3.6,-79.8,-13C-75.6,-29.7,-62,-43.7,-47.1,-56.7C-32.3,-69.8,-16.1,-81.9,-3.4,-77.8C9.3,-73.7,18.6,-53.5,31.4,-40.1Z;
                                        M54.5,-61.5C70.4,-51.7,82.7,-34.2,82.9,-17C83.1,0.2,71,17.1,59.7,32.2C48.3,47.2,37.5,60.3,24,64.7C10.5,69,-5.7,64.6,-20.8,58.5C-35.9,52.4,-49.9,44.7,-59.3,32.3C-68.7,20,-73.6,3.1,-67,-8C-60.5,-19.1,-42.7,-24.3,-29.6,-34.6C-16.5,-45,-8.3,-60.3,5.5,-66.9C19.3,-73.5,38.7,-71.3,54.5,-61.5Z;
                                        M50.9,-53.6C64.3,-49.4,72.5,-31.8,74.8,-13.9C77.1,4,73.6,22.2,65.3,38.8C57.1,55.4,44.1,70.4,27.4,77.5C10.7,84.5,-9.7,83.6,-23.8,74.5C-37.8,65.4,-45.5,48.1,-53.1,32.1C-60.6,16.1,-68,1.4,-69.4,-16C-70.8,-33.3,-66.2,-53.3,-53.6,-57.7C-41,-62,-20.5,-50.7,-0.9,-49.6C18.7,-48.6,37.4,-57.8,50.9,-53.6Z;
                                        M38.5,-38.9C52.5,-34.2,68.1,-24.5,74.6,-9.8C81.2,4.8,78.6,24.4,67.9,35.7C57.2,47.1,38.3,50.3,20.7,56.6C3.1,62.9,-13.3,72.3,-25.6,68.6C-37.9,64.9,-46.1,48.1,-56.4,31.8C-66.7,15.5,-79.2,-0.3,-80,-17.3C-80.9,-34.3,-70.1,-52.5,-54.8,-56.9C-39.5,-61.4,-19.8,-52,-3.7,-47.6C12.3,-43.1,24.6,-43.5,38.5,-38.9Z
                        "></animate>
                            </path>
                        </svg>
                    </div>



                    <div id="about">

                        <div class="straight_line"></div>

                        <h1 class="title">Profesjonalne Kursy Online</h1>
                        <div class="desc"><p>Autorski program kursów przygotowujących do egzaminu ósmoklasisty zapewniający skuteczny wynik.</p></div>

                        <a th:href="@{lista-kursow}" class="button_transparent">Nasza oferta<i class="fas fa-arrow-circle-right"></i></a>

                    </div>

                    <div id="animated_arrow">
                        <i class="arrow_down fas fa-chevron-down"></i>
                        <i class="arrow_down fas fa-chevron-down"></i>
                        <i class="arrow_down fas fa-chevron-down"></i>
                    </div>

                </div>


                <span class="floating_square"></span>
                <span class="floating_square"></span>
                <span class="floating_square"></span>
                <span class="floating_square"></span>
                <span class="floating_square"></span>
                <span class="floating_square"></span>
                <span class="floating_square"></span>
                <span class="floating_square"></span>
                <span class="floating_square"></span>
                <span class="floating_square"></span>

                <span class="floating_square"></span>
                <span class="floating_square"></span>
                <span class="floating_square"></span>
                <span class="floating_square"></span>
                <span class="floating_square"></span>
                <span class="floating_square"></span>
                <span class="floating_square"></span>
                <span class="floating_square"></span>
                <span class="floating_square"></span>

            </div>




            <div id="section1">
                <div class="inner">
                    <div class="left">
                        <div id="profile_picture">

                        </div>
                    </div>

                    <div class="right">

                        <div id="images">

                            <div id="section_description">
                                <h1 class="title bold">Cześć! Jestem Bartek i też kiedyś byłem w Twojej sytuacji!</h1>
                                <div class="straight_line"></div>

                                <p class="desc">Już za chwilę matura, a zadania z matematyki dalej są okropnie trudne.. Czas ucieka coraz szybciej, a to tylko zwiększa rosnący stres. Postanowiłem, że pomogę wszystkim osobom w podobnej sytuacji. Dokładnie przeanalizowałem zadania maturalne z poprzednich lat i na ich podstawie opracowałem kurs, dzięki któremu <b>masz gwarancję</b>, że na przestrzeni <b>30 dni</b> systematycznej pracy zdasz maturę na naprawdę zadowalający wynik!</p>

                                <p class="desc2">Skorzystaj z <b>darmowej wersji kursu</b> i przekonaj się sam!</p>
                                <a th:href="@{/kurs}" class="button_transparent_border">Darmowy kurs<i class="fas fa-arrow-circle-right"></i></a>
                                <a th:href="@{/lista-kursow}" class="button_transparent_border">Wszystkie kursy<i class="fas fa-arrow-circle-right"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>





            <!--
                START section2
            -->
            <div id="section2">
                <div class="shadow">
                    <div class="inner">

                        <img class="left" src="/images/zoba.svg">


                        <div class="right">
                            <h1 class="introduction">Uzyskaj dostęp do pełnego kursu w dwóch prostych krokach</h1>


                            <div class="section_step">
                                <div class="circle_object" id="ss">
                                    <div class="number">1</div>
                                    <div id="dd" class="btn" href="">Załóż konto</div>
                                </div>
                            </div>


                            <div class="section_step">
                                <div class="circle_object">
                                    <div class="number">2</div>
                                    <div id="aa" class="btn" href="">Wykup dostęp</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
                END section2
            -->



            <!--
                START section3
            -->
            <div id="section3">
                <div class="inner">
                    <h1 class="introduction">Nasze kursy:</h1>
                    <div id="courses_list">
                    </div>

                    <div class="dots">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                    <a th:href="@{/lista-kursow}" id="button_all_courses" class="button_gray">Więcej kursów<i class="fas fa-arrow-circle-right"></i></a>

                </div>
            </div>
            <!--
                END section3
            -->



            <!--
                START footer
            -->
            <div th:insert="~{footer :: footer}"></div>

        </div>


        <script src="/js/jquery-1.11.3.js"></script>
        <script src="/js/header.js"></script>
        <script src="/js/manipulation.js"></script>


</body>


<script>

    $(function() {
        loadCourses(typeFilters, categoryFilters);
    })

    const myNav = document.getElementById("header");

    window.onscroll = function () {
        if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40)
            myNav.classList.add("nav_active");
        else
            myNav.classList.remove("nav_active");
    };

</script>


</html>