<!DOCTYPE HTML>
<html lang="pl">
<head>
    <title>Kursowo.pl</title>

    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/course_container.css">

    <div th:insert="~{dependencies :: dependencies}"></div>

</head>

<body>

        <!--
            START header
        -->
        <div th:insert="~{header :: header}"></div>

        <div id="content">

            <!--
                START banner
            -->
            <div id="demo_bg">

                <div class="inner">
                    <div id="about">

                        <div class="straight_line"></div>

                        <h1 class="title">Profesjonalne Kursy Online</h1>
                        <div class="desc"><p>Autorski program kursów przygotowujących do egzaminu ósmoklasisty zapewniający skuteczny wynik.</p></div>

                        <a href="kurs.php" class="button_transparent_border">Darmowy kurs<i class="fas fa-arrow-circle-right"></i></a>

                        <div id="linkers">
                            <div class="title_with_shadow">
                                <div class="tit_bck"></div>
                                <p class="tit_text">Social Media</p>
                            </div>

                            <div class="social_link">Facebook</div>
                            <div class="dot"></div>
                            <div class="social_link">YouTube</div>
                            <div class="dot"></div>
                            <div class="social_link">Twitter</div>
                        </div>

                    </div>

                    <div id="banner_image">
                        <div id="banner_bck">

                            <div id="square_bottom_left"></div>
                            <div id="squares_top_right">
                                <div class="square_right"></div>
                                <div class="square_right"></div>
                                <div class="square_right"></div>
                                <div class="square_right"></div>
                                <div class="square_right"></div>
                            </div>

                        </div>


                        <img src="/images/banner.jpg">
                    </div>
                </div>

                <div id="right_styling">
                    <div id="squares_hehe">
                        <div class="right_one"></div>
                        <div class="right_two"></div>
                        <div class="right_one"></div>
                    </div>
                </div>
            </div>




            <div id="section1">
                <div class="inner">
                    <div class="left">
                        <div id="profile_picture">

                            <div class="corner_top_left_container">
                                <div class="corner_top_left_1"></div>
                                <div class="corner_top_left_2"></div>
                                <div class="corner_top_left_3"></div>
                                <div class="corner_top_left_4"></div>
                            </div>

                            <div class="corner_bottom_right_container">
                                <div class="corner_bottom_right_1"></div>
                                <div class="corner_bottom_right_2"></div>
                                <div class="corner_bottom_right_3"></div>
                                <div class="corner_bottom_right_4"></div>
                            </div>

                        </div>
                    </div>

                    <div class="right">

                        <div id="images">

                            <div id="section_description">
                                <h1 class="title bold">Cześć! Jestem Bartek i też kiedyś byłem w Twojej sytuacji!</h1>
                                <div class="straight_line"></div>

                                <p class="desc">Już za chwilę matura, a zadania z matematyki dalej są okropnie trudne.. Czas ucieka coraz szybciej, a to tylko zwiększa rosnący stres. Postanowiłem, że pomogę wszystkim osobom w podobnej sytuacji. Dokładnie przeanalizowałem zadania maturalne z poprzednich lat i na ich podstawie opracowałem kurs, dzięki któremu <b>masz gwarancję</b>, że na przestrzeni <b>30 dni</b> systematycznej pracy zdasz maturę na naprawdę zadowalający wynik!</p>

                                <p class="desc2">Skorzystaj z <b>darmowej wersji kursu</b> i przekonaj się sam!</p>
                                <a th:href="@{/kurs}" class="button_transparent_border">Darmowy kurs<i class="fas fa-arrow-circle-right"></i></a>
                                <a th:href="@{/lista-kursow}" class="button_transparent_border">Wszystkie kursy<i class="fas fa-arrow-circle-right"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>





            <!--
                START section2
            -->
            <div id="section2">
                <div class="shadow">
                    <div class="inner">

                        <img class="left" src="/images/zoba.svg">


                        <div class="right">
                            <h1 class="introduction">Uzyskaj dostęp do pełnego kursu w dwóch prostych krokach</h1>


                            <div class="section_step">
                                <div class="circle_object" id="ss">
                                    <div class="number">1</div>
                                    <div id="dd" class="btn" href="">Załóż konto</div>
                                </div>
                            </div>


                            <div class="section_step">
                                <div class="circle_object">
                                    <div class="number">2</div>
                                    <div id="aa" class="btn" href="">Wykup dostęp</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
                END section2
            -->



            <!--
                START section3
            -->
            <div id="section3">
                <div class="inner">
                    <h1 class="introduction">Nasze kursy:</h1>
                    <div id="courses_list">
                    </div>

                    <div class="dots">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                    <a th:href="@{/lista-kursow}" id="button_all_courses" class="button_gray">Więcej kursów<i class="fas fa-arrow-circle-right"></i></a>

                </div>
            </div>
            <!--
                END section3
            -->



            <!--
                START footer
            -->
            <div th:insert="~{footer :: footer}"></div>

        </div>


        <script src="/js/jquery-1.11.3.js"></script>
        <script src="/js/header.js"></script>
        <script src="/js/manipulation.js"></script>


</body>


<script>

    $(function() {
        loadCourses(typeFilters, categoryFilters);
    })

    const header_buttons = document.getElementById("header_buttons");
    const myNav          = document.getElementById("header");

    window.onscroll = function () {
        if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
            myNav.classList.add("nav_active");

            header_buttons.classList.remove("hidden");
            header_buttons.classList.add("visible");

        } else {
            myNav.classList.remove("nav_active");

            header_buttons.classList.remove("visible");
            header_buttons.classList.add("hidden");
        }
    };

</script>


</html>