<!DOCTYPE HTML>
<html lang="pl">
<head>
    <title>Kursowo | Rozdział</title>

    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/kurs.css"/>
    <link rel="stylesheet" href="/css/course_container.css"/>

    <div th:insert="~{dependencies :: dependencies}"></div>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>


<body>


        <!--
            START header
        -->
        <div th:insert="~{header :: header}"></div>

        <div id="content_course">
            <div id="course_left" class="active">
                <!--<div id="navigation_container">
                    <div id="complete"><div id="complete_fill"></div></div>
                    <p id="course_finised">Ukończono 37%</p>
                </div>-->

                <div id="all_topics" th:if="${data != null}">

                    <div class="chapter_menu" th:each="chapterDto : ${data}" th:id="'right_chapter_id' + ${chapterDto.chapter.id}">
                        <div class="chapter_header">

                            <div class="th_type">  <i class="far fa-dot-circle"></i> </div>
                            <div class="th_title" th:text="${chapterDto.chapter.index} < 10 ? '0' + ${chapterDto.chapter.index} + ' - ' + ${chapterDto.chapter.title} : ${chapterDto.chapter.index} + ' - ' + ${chapterDto.chapter.title}"></div>

                        </div>

                        <div class="topic_menu" th:if="${!#lists.isEmpty(chapterDto.topicDtoList)}">
                            <div th:each="topicDto : ${chapterDto.topicDtoList}" th:class="${topicDto.active} ?  'topic_header ' + ${topicDto.getStatusAsString()} + ' active' : 'topic_header ' + ${topicDto.getStatusAsString()}" th:onclick="${topicDto.blocked} ? '' : ' openTopic(' + ${topicDto.topic.id} + ')'" th:attr="data-id=${topicDto.topic.getId()}">

                                <div class="td_left">
                                    <i th:if="${topicDto.getStatusAsString()} == 'available'" class="far fa-circle"></i>
                                    <i th:if="${topicDto.getStatusAsString()} == 'finished'" class="fas fa-check-circle"></i>
                                    <i th:if="${topicDto.getStatusAsString()} == 'blocked'" class="fas fa-minus-circle"></i>
                                    <div class="duration" th:text="'[' + ${topicDto.topic.formatDuration()} + ']'"></div>
                                </div>

                                <div class="td_right">
                                    <div class="td_type"> <i class="far fa-dot-circle"></i> </div>
                                    <div class="td_title" th:text="${topicDto.topic.title}"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>








            <div id="course_center">

                <div id="video_container" tabindex="0">
                    <video id="video">
                        <source id="source" type="video/mp4" th:src="${videosPath} + ${topic.location}">
                    </video>
                    <div id="volume_display_info"></div>
                    <div id="center_info" class="active"><i id="center_info_icon" class="fas fa-play"></i></div>


                    <div id="video-controls">
                        <div id="timeline_container">
                            <input id="timeline_slider" type="range" min="0" value="0" class="timeline_slider" step="0.001">
                            <output id="bubble"></output>
                        </div>


                        <!--<div id="timeline_buffered_container">
                            <input id="timeline_buffered_slider" type="range" min="0" value="0" class="timeline_buffered_slider" step="0.001">
                        </div>-->




                        <div class="left">
                            <button id="video-play">
                                <i class="o-play-btn__icon">
                                    <div class="o-play-btn__mask"></div>
                                </i>
                            </button>
                            <div id="video_volume" data-state="1"><i onclick="mute()" id="video_volume_icon" class=""></i>
                                <div id="volume_slider_container">
                                    <input id="volume_slider" type="range" min="0" max="100" class="slider_volume">
                                </div>
                            </div>
                            <div id="video_time">0:00</div>

                        </div>


                        <div class="right">
                            <button id="video_speed" type="button" data-state="1" onclick="videoSpeed()"><i class="fas fa-cog"></i></button>
                            <div id="video_settings">
                                <h1>Predkosc odtwarzania</h1>
                                <ul>
                                    <li onclick="changeSpeed(this, 0.25)" class="video_speed_option">0.25</li>
                                    <li onclick="changeSpeed(this, 0.5) " class="video_speed_option">0.50</li>
                                    <li onclick="changeSpeed(this, 0.75)" class="video_speed_option">0.75</li>
                                    <li onclick="changeSpeed(this, 1)   " class="video_speed_option active">Normalna</li>
                                    <li onclick="changeSpeed(this, 1.5) " class="video_speed_option">1.5</li>
                                    <li onclick="changeSpeed(this, 1.75)" class="video_speed_option">1.75</li>
                                    <li onclick="changeSpeed(this, 2)   " class="video_speed_option">2</li>
                                </ul>
                            </div>
                            <button id="video-fullscreen" type="button" data-state="0"><i class="fas fa-expand"></i></button>
                        </div>
                    </div>
                </div>

                <div id="below_video_options">

                    <div id="topic_type"> <i class="far fa-dot-circle"></i> </div>
                    <div id="topic_title" th:text="${topic.title}"></div>
                    <div th:if="${loggedIn}" id="button_completed" th:class="${selectedTopicFinished} ? 'active' : ''" onclick="markAsFinished()">Oznacz jako wykonane! <i class="fas fa-check"></i></div>

                </div>



                <!--<div id="exercises_container">
                    <div class="task">
                        <h1 class="task_number">Zadanie 1</h1>
                        <p class="title">Maja i Kaja jadą samochodem z prędkością 45km/h. Kiedy Kaja pierdolnie w drzewo?</p>
                        <ol class="answers">
                            <li class="answer"><span class="index">A.</span> Gdy zobaczy kto do niej dzwoni na telefonie</li>
                            <li class="answer"><span class="index">B.</span> Gdy dowie się, że musi zajebać 180 stopni na jednokierunkowej</li>
                            <li class="answer"><span class="index">C.</span> Jak zobaczy słodkiego pieska za zakrętem</li>
                            <li class="answer"><span class="index">D.</span> Gdy nie trafi w srającą sarne</li>

                        </ol>

                    </div>

                    <div class="task">
                        <h1 class="task_number">Zadanie 1</h1>
                        <p class="title">Maja i Kaja jadą samochodem z prędkością 45km/h. Kiedy Kaja pierdolnie w drzewo?</p>
                        <ol class="answers">
                            <li class="answer"><span class="index">A.</span> Gdy zobaczy kto do niej dzwoni na telefonie</li>
                            <li class="answer"><span class="index">B.</span> Gdy dowie się, że musi zajebać 180 stopni na jednokierunkowej</li>
                            <li class="answer"><span class="index">C.</span> Jak zobaczy słodkiego pieska za zakrętem</li>
                            <li class="answer"><span class="index">D.</span> Gdy nie trafi w srającą sarne</li>

                        </ol>

                    </div>


                    <div class="task">
                        <h1 class="task_number">Zadanie 1</h1>
                        <p class="title">Maja i Kaja jadą samochodem z prędkością 45km/h. Kiedy Kaja pierdolnie w drzewo?</p>
                        <ol class="answers">
                            <li class="answer"><span class="index">A.</span> Gdy zobaczy kto do niej dzwoni na telefonie</li>
                            <li class="answer"><span class="index">B.</span> Gdy dowie się, że musi zajebać 180 stopni na jednokierunkowej</li>
                            <li class="answer"><span class="index">C.</span> Jak zobaczy słodkiego pieska za zakrętem</li>
                            <li class="answer"><span class="index">D.</span> Gdy nie trafi w srającą sarne</li>

                        </ol>

                    </div>

                </div>-->







            </div>
        </div>




        <script src="/js/jquery-1.11.3.js"></script>
        <script src="/js/manipulation.js"></script>

</body>




    <script th:inline="javascript">


        const myNav = document.getElementById("header");
        window.onload = function () {
            myNav.classList.add("nav_active");
        };

        /*<![CDATA[*/
        let courseId = /*[[${courseId}]]*/ "";
        function openTopic(topic_id) {
            window.location.href = "/kurs/" + courseId + "?topicId=" + topic_id;
        }

        /*]]>*/











        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return "";
        }
































        const button_play       = document.getElementById("video-play");
        const button_fullscreen = document.getElementById("video-fullscreen");
        const center_info       = document.getElementById("center_info");
        const center_info_icon  = document.getElementById("center_info_icon");

        const video_container = document.getElementById("video_container");
        const video = document.getElementById("video");


        let fullscreen = false;
        let muted  = false;
        let paused = true;
        let volume = 0;
        let delay2, timer2;



        center_info.onclick = function() {
            playVideo();
        }

        button_play.onclick = function(){
            playVideo();
        };

        video.onclick = function(){
            playVideo();
        }

        video.ondblclick = function(){
            if (!fullscreen) openFullscreen(video_container);
            if (fullscreen) closeFullscreen();
        }

        button_fullscreen.onclick = function(){
            if (!fullscreen) openFullscreen(video_container);
            if (fullscreen) closeFullscreen();
        };




        $('#video_container').on('fullscreenchange webkitfullscreenchange mozfullscreenchange', function() {
            if (document.fullscreenElement) {
                fullscreen = true;
            } else {
                fullscreen = false;
            }
        });









        function showCenterInfo(type, visible) {
            if (type == "pause") {
                center_info_icon.className = "fas fa-pause";
                center_info.style.padding = "18px";
            }

            if (type == "play") {
                center_info_icon.className = "fas fa-play";
                center_info.style.padding = "18px 18px 18px 22px";
            }

            if (type == "back") {
                center_info_icon.className = "fas fa-undo-alt";
            }

            if (type == "forward") {
                center_info_icon.className = "fas fa-redo-alt";
            }

            center_info.classList.add("active");
            delay2 = 2;
        }



        function closeCenterInfo() {
            delay2--;
            
            if (delay2 < 0) {
                clearTimeout(timer2);
                timer2 = null;
                return;
            }
            
            if (delay2 > 0) {
                //show popup
                clearTimeout(timer2);
            }
            
            if (delay2 == 0) {
                center_info.classList.remove("active");
            }
            timer2 = setTimeout("closeCenterInfo()", 500);
        }



        function closeVolumeInfo() {
            delay--;
            
            if (delay < 0) {
                clearTimeout(timer);
                timer = null;
                return;
            }
            
            if (delay > 0) {
                //show popup
                clearTimeout(timer);
            }
            
            if (delay == 0) {
                volume_display_info.classList.remove("active");
            }
            timer = setTimeout("closeVolumeInfo()", 500);
        }




















        function playVideo() {
            if (video.paused) {
                video.play();
                paused = false;
                button_play.classList.add("o-play-btn--playing");
                showCenterInfo("pause");
                closeCenterInfo();
            }
            else {
                video.pause();
                paused = true;
                button_play.className = " ";
                showCenterInfo("play");
            }
        }

        





        /* Open fullscreen */
        function openFullscreen(elem) {
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.webkitRequestFullscreen) { /* Safari */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE11 */
                elem.msRequestFullscreen();
            }
        }



        /* Close fullscreen */
        function closeFullscreen() {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.webkitExitFullscreen) { /* Safari */
                document.webkitExitFullscreen();
            } else if (document.msExitFullscreen) { /* IE11 */
                document.msExitFullscreen();
            }
        }



        function mute() {
            if (!muted) {
                muted = true;
                volume = 0;
                volume_slider.value = volume;
                volume_slider.style.background = 'linear-gradient(to right, var(--color-white) 0%, var(--color-white) ' + volume + '%, #414345 ' + volume + '%, #414345 100%)';
                document.cookie = "video_muted=" + muted + "; expires=Fri, 31 Dec 9999 23:59:59 GMT";
                volume_icon.className = "fas fa-volume-mute";
                video.volume = volume/100;
                console.log(muted);
                return;
            }

            if (muted) {
                muted = false;
                let vol = getCookie("video_volume")
                if (vol != null) {
                    volume = vol;
                }
                volume_slider.value = volume;
                volume_slider.style.background = 'linear-gradient(to right, var(--color-white) 0%, var(--color-white) ' + volume + '%, #414345 ' + volume + '%, #414345 100%)';
                document.cookie = "video_muted=" + muted + "; expires=Fri, 31 Dec 9999 23:59:59 GMT";
                volume_icon.className = "fas fa-volume-up";
                video.volume = volume/100;
                console.log(muted);
                return;
            }
        }











            let delay, timer;

            function updateVolume(vol) {
                video.volume = vol/100;
                volume = vol;


                if (vol == 0) {
                    volume_icon.className = "fas fa-volume-mute";
                    muted = true;
                }

                if (vol > 0) {
                    if (muted) {
                        volume_icon.className = "fas fa-volume-up";
                        muted = false;
                    }
                }

                document.cookie = "video_volume=" + volume + "; expires=Fri, 31 Dec 9999 23:59:59 GMT";
                document.cookie = "video_muted=" + muted + "; expires=Fri, 31 Dec 9999 23:59:59 GMT";

                volume_slider.value = vol;
                volume_slider.style.background = 'linear-gradient(to right, var(--color-white) 0%, var(--color-white) ' + vol + '%, #414345 ' + vol + '%, #414345 100%)';
                volume_display_info.classList.add("active");
                volume_display_info.innerHTML = vol + "%";

                delay = 3;
                closeVolumeInfo();
            }









            const volume_container   = document.getElementById("volume_slider_container");
            const game_volume        = document.getElementById("video_volume");
            const volume_icon        = document.getElementById("video_volume_icon")
            const volume_slider      = document.getElementById("volume_slider");
            const volume_slider_info = document.getElementById("volume_display_info");
            const video_controls     = document.getElementById("video-controls");


            const timeline_slider    = document.getElementById("timeline_slider");
            const bubble             = document.getElementById("bubble");

            const video_time         = document.getElementById("video_time");


            const timeline_buffered_slider    = document.getElementById("timeline_buffered_slider");


            volume_slider.oninput = function() {
                updateVolume(this.value);
            };


            volume_icon.addEventListener("mouseenter", function() {
                volume_container.classList.add('active');
            });


            video_controls.addEventListener("mouseleave", function() {
                volume_container.className = "";
            });









            $(document).ready(function() {
                let vol   = getCookie("video_volume");
                let mute = getCookie("video_muted");
                if (mute == "true") {
                    muted = true;
                } else {
                    muted = false;
                }

                if (vol != "") {
                    volume = vol;
                    if (muted) volume = 0;
                } else if (muted == "" || vol == "") {
                    volume = 50;
                }

                video.volume = volume/100;
                volume_slider.value = volume;
                volume_slider.style.background  = 'linear-gradient(to right, var(--color-white) 0%, var(--color-white) ' + volume_slider.value + '%, #414345 ' + volume_slider.value + '%, #414345 100%)';
                volume_slider_info.innerHTML = volume_slider.value + "%";

                if (muted) volume_icon.className = "fas fa-volume-mute";
                else if (!muted) volume_icon.className = "fas fa-volume-up";
            });
            















            video.onloadedmetadata = function() {
                let duration = video.duration;
                if (Number.isNaN(duration)) duration = 0;
                timeline_slider.max = parseInt(duration);
                updateVideoTime();
                timeline_slider.style.background  = 'linear-gradient(to right, var(--color-white) 0%, var(--color-white) ' + timeline_slider.value + '%, rgba(200, 200, 200, 0.5) ' + timeline_slider.value + '%, rgba(200, 200, 200, 0.5) 100%)';
            };




            timeline_slider.addEventListener('mousemove', function(e) {
                setBubble(timeline_slider, calcSliderPos(e).toFixed(3));
                bubble.classList.add("active");
            });


            timeline_slider.oninput = function() {
                let percentage = (this.value*100)/this.max;
                timeline_slider.style.background = 'linear-gradient(to right, #26C6FE 0%, #26C6FE ' + percentage + '%, rgba(200, 200, 200, 0.5) ' + percentage + '%, rgba(200, 200, 200, 0.5) 100%)';
                video.currentTime = this.value;
                video.pause();
            }

            timeline_slider.onmouseup = function() {
                if (!paused) playVideo();
            }


            timeline_slider.addEventListener('mouseleave', function(e) {
                bubble.classList.remove("active");
            });


            video.ontimeupdate = function() {
                timeline_slider.value = this.currentTime;
                let percentage = (timeline_slider.value*100)/timeline_slider.max;
                timeline_slider.style.background = 'linear-gradient(to right, #26C6FE 0%, #26C6FE ' + percentage + '%, rgba(200, 200, 200, 0.5) ' + percentage + '%, rgba(200, 200, 200, 0.5) 100%)';
                updateVideoTime();
            };



            function calcSliderPos(e) {
                return (e.offsetX / e.target.clientWidth) *  parseInt(e.target.getAttribute('max'),10);
            }


            function setBubble(range, val) {
                if (val < 0) val = 0;
                if (parseFloat(val) > range.max) val = range.max;
                const min = range.min ? range.min : 0;
                const max = range.max ? range.max : 100;
                const newVal = Number(((val - min) * 100) / (max - min));


                // Insert time
                bubble.innerHTML = secondsToTime(val);
                // Sort magic numbers based on size of the native UI thumb
                bubble.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;
            }



            function secondsToTime(duration) {
                let hours   = parseInt(duration/3600);
                let minutes = parseInt((duration % 3600) / 60);
                let seconds = parseInt(duration % 60);

                if (minutes < 10) minutes = "0" + minutes;
                if (seconds < 10) seconds = "0" + seconds;

                if (hours > 0)
                    return hours + ":" + minutes + ":" + seconds;

                return minutes + ":" + seconds;
            }




            function updateVideoTime() {
                let currentTime = parseInt(video.currentTime);
                let duration    = parseInt(video.duration);

                if (Number.isNaN(video.currentTime)) currentTime = 0;
                if (Number.isNaN(video.duration))    duration = 0;

                let time;
                let maxTime;
                
                time    = secondsToTime(currentTime);
                maxTime = secondsToTime(duration);

                video_time.innerHTML = time + " / " + maxTime;
            }






            function updateBufferedTime() {
                var size = video.buffered.length;

                console.log(size);

                /*for (var i=0; i<size; i++) {
                    console.log(video.buffered.start(i));
                    console.log(video.buffered.end(i));
                }*/



                let percentage = (video.buffered.end(size-1)*100)/timeline_slider.max;


                timeline_buffered_slider.style.background  = 'linear-gradient(to right, var(--color-white) 0%, var(--color-white) ' + percentage + '%, rgba(200, 200, 200, 0.5) ' + percentage + '%, rgba(200, 200, 200, 0.5) 100%)';


            }










            video_container.addEventListener("keydown", e => {
                if (e.keyCode >= 37 && e.keyCode <= 40) e.preventDefault();

                if (e.isComposing || e.keyCode === 229) {
                    return;
                }

                if (e.keyCode == 37) {
                    let time = video.currentTime - 10;
                    if (time < 0) time = 0;
                    video.currentTime = time;

                    showCenterInfo("back");
                    closeCenterInfo();
                    return;
                }

                
                if (e.keyCode == 39) {
                    let time = video.currentTime + 10;
                    if (time > video.duration) time = video.duration;
                    video.currentTime = time;

                    showCenterInfo("forward");
                    closeCenterInfo();
                    return;
                }


                if (e.keyCode == 38) {
                    let vol = parseInt((video.volume*100) + 5);
                    if (vol > 100) vol = 100;
                    updateVolume(vol);
                    return;
                }


                if (e.keyCode == 40) {
                    let vol = parseInt((video.volume*100) - 5);
                    if (vol < 0) vol = 0;
                    updateVolume(vol);
                    return;
                }

                if (e.keyCode == 32) {
                    playVideo();
                }
            });



            const video_settings = document.getElementById("video_settings");
            const video_speed    = document.getElementById("video_speed");

            function videoSpeed() {
                if (video_settings.classList.contains("active")) {
                    video_settings.classList.remove("active");
                    return;
                }

                if (!video_settings.classList.contains("active")) {
                    video_settings.classList.add("active");
                    return;
                }
            }



            function setActive(element) {
                if (element.classList.contains("active")) {
                    element.classList.remove("active");
                    return;
                }

                if (!element.classList.contains("active")) {
                    element.classList.add("active");
                    return;
                }
            }




            function changeSpeed(element, speed) {
                let options = document.getElementsByClassName('video_speed_option');
                for (let i=0; i < options.length; i++) {
                    options[i].classList.remove("active");
                }

                setActive(element);
                video.playbackRate = speed;
            }













        function markAsFinished() {
            let topicId = /*[[${topic.id}]]*/ "";
            if (topicId == null || topicId == "" || topicId <= 0) {
                alert("Wystąpił problem podczas wykonywania żądania.");
                return;
            }

            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                type:"POST",
                dataType:"json",
                data: { topicId: topicId },
                url:"/kurs/markAsFinished",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token)
                },
                success: function(data) {

                    const btn = document.getElementById('button_completed');
                    const topic_headers = document.getElementsByClassName("topic_header");
                    let topicHeaderElement = null;

                    for (let i = 0; i < topic_headers.length; i++) {
                        if (topic_headers[i].getAttribute("data-id") == topicId) { // <div class="topic_header">
                            let children = topic_headers[i].getElementsByClassName('td_left')[0]; // <div class="td_left">
                            if (children != null && children.querySelectorAll('i')[0] != null)
                                topicHeaderElement = children.querySelectorAll('i')[0];
                            break;
                        }
                    }

                    if (data.type == 1) {
                        btn.classList.add("active");
                        if (topicHeaderElement != null)
                            topicHeaderElement.className = "fas fa-check-circle";
                    } else {
                        btn.classList.remove("active");
                        if (topicHeaderElement != null)
                            topicHeaderElement.className = "far fa-circle";
                    }
                    //alert(data.message + ";" + data.success);

                },
                error: function(xhr, status, error) {
                    alert(error);
                    console.warn(xhr.responseText);
                }
            });
        }




</script>


</html>