<!DOCTYPE HTML>
<html lang="pl">
<head>
    <title th:text="'Kursowo | ' + ${topic.title}"></title>

    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/kurs.css"/>
    <link rel="stylesheet" href="/css/course_container.css"/>

    <div th:insert="~{dependencies :: dependencies}"></div>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>


<body>


        <!--
            START header
        -->
        <div th:insert="~{header :: header(active = ${true})}"></div>
        <div th:insert="~{header :: shadow}"></div>
        <div th:insert="~{header :: minHeader}"></div>

        <div id="content_course">
            <div id="course_left">

                <div id="all_topics" th:if="${data != null}">

                    <div class="chapter_menu" th:each="chapterDto : ${data}" th:id="'right_chapter_id' + ${chapterDto.chapter.id}">
                        <div class="chapter_header">

                            <div class="th_type">  <i class="far fa-dot-circle"></i> </div>
                            <div class="th_title" th:text="${chapterDto.chapter.index} < 10 ? '0' + ${chapterDto.chapter.index} + ' - ' + ${chapterDto.chapter.title} : ${chapterDto.chapter.index} + ' - ' + ${chapterDto.chapter.title}"></div>

                        </div>

                        <div class="topic_menu" th:if="${!#lists.isEmpty(chapterDto.topicDtoList)}">
                            <div th:each="topicDto : ${chapterDto.topicDtoList}" th:class="${topicDto.active} ?  'topic_header ' + ${topicDto.getStatusAsString()} + ' active' : 'topic_header ' + ${topicDto.getStatusAsString()}" th:onclick="${topicDto.blocked} ? '' : ' openTopic(' + ${topicDto.topic.id} + ')'" th:attr="data-id=${topicDto.topic.getId()}">

                                <div class="td_left">
                                    <i th:if="${topicDto.getStatusAsString()} == 'available'" class="far fa-circle"></i>
                                    <i th:if="${topicDto.getStatusAsString()} == 'finished'" class="fas fa-check-circle"></i>
                                    <i th:if="${topicDto.getStatusAsString()} == 'blocked'" class="fas fa-minus-circle"></i>
                                    <div class="duration" th:text="'[' + ${topicDto.topic.formatDuration()} + ']'"></div>
                                </div>

                                <div class="td_right">
                                    <div class="td_type"> <i class="far fa-dot-circle"></i> </div>
                                    <div class="td_title" th:text="${topicDto.topic.title}"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>








            <div id="course_center">

                <div id="video_container" tabindex="0">
                    <h1 id="video_controls_title" th:text="${topic.title}"></h1>

                    <video id="video" onloadeddata="initializeVideo()" th:src="${videosPath} + ${topic.location}">
                    </video>

                    <div id="center_volume_info"></div>
                    <div id="center_play_info" class="active"><i id="center_play_info_icon" class="fas fa-play"></i></div>




                    <div id="video_controls">
                        <div id="timeline_container">
                            <input id="timeline_slider" type="range" min="0" value="0" class="timeline_slider" step="0.001">
                            <output id="bubble"></output>
                        </div>



                        <div class="left">

                            <div class="playpause" id="button_play"></div>

                            <div id="video_volume" data-state="1"><i onclick="mute()" id="button_volume_icon" class=""></i>
                                <div id="volume_slider_container">
                                    <input id="volume_slider" type="range" min="0" max="100" class="slider_volume">
                                </div>
                            </div>
                            <div id="video_time">0:00</div>

                        </div>


                        <div class="right">

                            <button id="button_speed" type="button" data-state="1" onclick="toggleSpeedContainer()"><i class="fas fa-cog"></i></button>
                            <div id="speed_container">
                                <h1>Predkosc odtwarzania</h1>
                                <ul>
                                    <li onclick="changeSpeed(this, 0.25)" class="button_speed_option">0.25</li>
                                    <li onclick="changeSpeed(this, 0.5) " class="button_speed_option">0.50</li>
                                    <li onclick="changeSpeed(this, 0.75)" class="button_speed_option">0.75</li>
                                    <li onclick="changeSpeed(this, 1)   " class="button_speed_option active">Normalna</li>
                                    <li onclick="changeSpeed(this, 1.5) " class="button_speed_option">1.5</li>
                                    <li onclick="changeSpeed(this, 1.75)" class="button_speed_option">1.75</li>
                                    <li onclick="changeSpeed(this, 2)   " class="button_speed_option">2</li>
                                </ul>
                            </div>
                            <button id="button_fullscreen" type="button" data-state="0"><i class="fas fa-expand"></i></button>

                        </div>
                    </div>
                </div>

                <div id="below_video_options">

                    <div id="topic_info">
                        <div id="topic_type"> <i class="far fa-dot-circle"></i> </div>
                        <div id="topic_title" th:text="${topic.title}"></div>
                    </div>
                    <div th:if="${loggedIn}" id="button_completed" th:class="${selectedTopicFinished} ? 'active' : ''" onclick="markAsFinished()">Wykonano! <i class="fas fa-check"></i></div>

                </div>



                <!--<div id="exercises_container">
                    <div class="task">
                        <h1 class="task_number">Zadanie 1</h1>
                        <p class="title">Maja i Kaja jadą samochodem z prędkością 45km/h. Kiedy Kaja pierdolnie w drzewo?</p>
                        <ol class="answers">
                            <li class="answer"><span class="index">A.</span> Gdy zobaczy kto do niej dzwoni na telefonie</li>
                            <li class="answer"><span class="index">B.</span> Gdy dowie się, że musi zajebać 180 stopni na jednokierunkowej</li>
                            <li class="answer"><span class="index">C.</span> Jak zobaczy słodkiego pieska za zakrętem</li>
                            <li class="answer"><span class="index">D.</span> Gdy nie trafi w srającą sarne</li>

                        </ol>

                    </div>

                    <div class="task">
                        <h1 class="task_number">Zadanie 1</h1>
                        <p class="title">Maja i Kaja jadą samochodem z prędkością 45km/h. Kiedy Kaja pierdolnie w drzewo?</p>
                        <ol class="answers">
                            <li class="answer"><span class="index">A.</span> Gdy zobaczy kto do niej dzwoni na telefonie</li>
                            <li class="answer"><span class="index">B.</span> Gdy dowie się, że musi zajebać 180 stopni na jednokierunkowej</li>
                            <li class="answer"><span class="index">C.</span> Jak zobaczy słodkiego pieska za zakrętem</li>
                            <li class="answer"><span class="index">D.</span> Gdy nie trafi w srającą sarne</li>

                        </ol>

                    </div>


                    <div class="task">
                        <h1 class="task_number">Zadanie 1</h1>
                        <p class="title">Maja i Kaja jadą samochodem z prędkością 45km/h. Kiedy Kaja pierdolnie w drzewo?</p>
                        <ol class="answers">
                            <li class="answer"><span class="index">A.</span> Gdy zobaczy kto do niej dzwoni na telefonie</li>
                            <li class="answer"><span class="index">B.</span> Gdy dowie się, że musi zajebać 180 stopni na jednokierunkowej</li>
                            <li class="answer"><span class="index">C.</span> Jak zobaczy słodkiego pieska za zakrętem</li>
                            <li class="answer"><span class="index">D.</span> Gdy nie trafi w srającą sarne</li>

                        </ol>

                    </div>

                </div>-->







            </div>
        </div>

        <!--
            START footer
        -->
        <div th:insert="~{footer :: footer}"></div>


        <script src="/js/jquery-1.11.3.js"></script>
        <script src="/js/header.js"></script>

</body>




<script th:inline="javascript">


    /*<![CDATA[*/
    const courseId = /*[[${courseId}]]*/ "";
    function openTopic(topic_id) {
        if (all_topics.scrollTop > 0)
            window.location.href = "/kurs/" + courseId + "?topicId=" + topic_id + "&s=" + all_topics.scrollTop;
        else
            window.location.href = "/kurs/" + courseId + "?topicId=" + topic_id;

    }
    /*]]>*/




    let supportsTouch = ( 'ontouchstart' in window ) || ( navigator.maxTouchPoints > 0 ) || ( navigator.msMaxTouchPoints > 0 );


    const button_volume_icon = document.getElementById("button_volume_icon")
    const button_play        = document.getElementById("button_play");

    const video_time      = document.getElementById("video_time");
    const volume_slider   = document.getElementById("volume_slider");
    const timeline_slider = document.getElementById("timeline_slider");
    const bubble          = document.getElementById("bubble");

    const center_play_info_icon = document.getElementById("center_play_info_icon");
    const center_play_info      = document.getElementById("center_play_info");
    const center_volume_info    = document.getElementById("center_volume_info");

    const speed_container      = document.getElementById("speed_container");
    const volume_container     = document.getElementById("volume_slider_container");
    const video_container      = document.getElementById("video_container");
    const video_controls       = document.getElementById("video_controls");
    const video_controls_title = document.getElementById("video_controls_title");
    const all_topics           = document.getElementById("all_topics");
    const video                = document.getElementById("video");


    let mouseInsideVideo = false;
    let fullscreen = false;
    let muted  = false;
    let paused = true;
    let volume = 0;
    let delay = 0, delay2 = 0;
    let timer = null, timer2 = null;



    if (video.readyState >= 2) {
        initializeVideo();
    }


    /**
     * Detect FullScreen toggle
     */
    $("#video_container").on('fullscreenchange webkitfullscreenchange mozfullscreenchange', function() {
        if (document.fullscreenElement) fullscreen = true;
        else fullscreen = false;
    });



    $("#button_fullscreen").click(function() {
        if (!fullscreen) openFullscreen(video_container);
        if (fullscreen) closeFullscreen();
    });



    /* Open fullscreen */
    function openFullscreen(elem) {
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.webkitRequestFullscreen) { /* Safari */
            elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE11 */
            elem.msRequestFullscreen();
        }
    }



    /* Close fullscreen */
    function closeFullscreen() {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.webkitExitFullscreen) { /* Safari */
            document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) { /* IE11 */
            document.msExitFullscreen();
        }

        if (document.documentElement.scrollTop != 0)
            document.documentElement.scrollTop = 0;
    }



    /**
     * Enum for icon in the middle of the video
     */
    const IconTypes = Object.freeze({
        PLAY: "fas fa-play",
        PAUSE: "fas fa-pause",
        BACKWARD: "fas fa-undo-alt",
        FORWARD: "fas fa-redo-alt"
    });


    /**
     * Shows one of the following icons in the middle
     * of the video: [Play, Pause, Backward, Forward]
     *
     * Parameters:
     *  type -> defines type of the icon
     */
    function showCenterInfo(type) {
        if (type == undefined) return;

        center_play_info_icon.className = type;

        center_play_info.classList.add("active");
        delay2 = 2;
    }






    /**
     * Hides icon in the middle of the video with delay
     */
    function closeCenterWithDelay() {
        delay2--;

        if (delay2 < 0) {
            clearTimeout(timer2);
            timer2 = null;
            return;
        }

        if (delay2 > 0)
            clearTimeout(timer2);

        if (delay2 == 0) {
            center_play_info.classList.remove("active");
            if (paused)
                showCenterInfo(IconTypes.PLAY)
        }
        timer2 = setTimeout("closeCenterWithDelay()", 500);
    }




    /**
     * Hides icon in the middle of the video without any delay
     */
    function closeCenterInfo() {
        center_play_info.classList.remove("active");
    }




    $("#center_play_info").click(function() {
        playVideo(true);
    });

    $(button_play).click(function() {
        playVideo(true);
    });



    $(button_play).mouseover(function() {
        if (!button_play.classList.contains("hover"))
            button_play.classList.add("hover");
    });


    $(button_play).mouseout(function() {
        if (button_play.classList.contains("hover"))
            button_play.classList.remove("hover");
    });


    volume_slider.oninput = function() {
        updateVolume(this.value);
    };


    button_volume_icon.addEventListener("mouseenter", function() {
        volume_container.classList.add('hover');
    });


    video_controls.addEventListener("mouseleave", function() {
        volume_container.className = "";
    });



    /**
     * Plays or stops the video
     *
     * Parameters:
     *  hidePanel -> boolean. Should control panel be hidden?
     */
    function playVideo(hidePanel) {
        if (video.paused) {
            video.play();
            paused = false;
            button_play.classList.add("paused");
            showCenterInfo(IconTypes.PAUSE);

            if (!hidePanel) return;
            closeCenterInfo();

            if (!supportsTouch) return;
            if (isControlPanelVisible()) hideControlPanel();

        } else {
            video.pause();
            paused = true;
            button_play.classList.remove("paused");
            showCenterInfo(IconTypes.PLAY);
            showControlPanel();
        }
    }


    video.onclick = function(event) {
        //Handle SingleClick
        if (event.detail === 1) {

            if (supportsTouch) {
                if (isControlPanelVisible()) {
                    hideControlPanel();
                    closeCenterInfo();

                } else {
                    showControlPanel();
                    if (paused) showCenterInfo(IconTypes.PLAY);
                    else showCenterInfo(IconTypes.PAUSE);
                }
                return;
            }

            playVideo(true);


            // Handle DoubleClick
        } else if (event.detail === 2) {


            if (supportsTouch) return;
            if (!fullscreen) openFullscreen(video_container);
            if (fullscreen) closeFullscreen();


        }

    }


    video_container.onmouseover = function() {
        mouseInsideVideo = true;
    };




    /**
     * Shows control panel
     */
    function showControlPanel() {
        if (isControlPanelVisible()) return;

        video_controls.classList.remove("hidden");
        video_controls_title.classList.remove("hidden");
    }



    /**
     * Hides control panel
     */
    function hideControlPanel() {
        if (!isControlPanelVisible()) return;
        closeCenterInfo();

        video_controls.classList.add("hidden");
        video_controls_title.classList.add("hidden");
    }



    /**
     * Return true or false baesed on control panel visibility
     */
    function isControlPanelVisible() {
        return !video_controls.classList.contains("hidden");
    }



    /**
     * Listen for keyboard clicking.
     * Function handles:
     *  space      -> Play/Pause the video
     *  esc        -> Leave fullscreen
     *  arrowLeft  -> Rewind the video 10 seconds backwards
     *  arrowUp    -> Volume up
     *  arrowRight -> Rewind the video 10 seconds forwards
     *  arrowDown  -> Volume down
     */
    window.addEventListener("keydown", e => {
        if (e.keyCode >= 37 && e.keyCode <= 40) e.preventDefault();

        if (e.isComposing || e.keyCode === 229) {
            return;
        }

        // [Left Arrow] - Go back 10 seconds
        if (e.keyCode == 37) {
            skipVideo(false);
            return;
        }


        // [Right Arrow] - Go forward 10 seconds
        if (e.keyCode == 39) {
            skipVideo(true);
            return;
        }


        // [Top Arrow] - Volume up
        if (e.keyCode == 38) {
            let vol = parseInt((video.volume*100) + 5);
            if (vol > 100) vol = 100;
            updateVolume(vol);
            return;
        }


        // [Bottom Arrow] - Volume down
        if (e.keyCode == 40) {
            let vol = parseInt((video.volume*100) - 5);
            if (vol < 0) vol = 0;
            updateVolume(vol);
            return;
        }


        // [Space] - Play/Pause video
        if (e.keyCode == 32) {
            e.preventDefault()
            playVideo(true);
        }
    });




    /**
     * Listen for window resize and show control panel if it is hidden
     */
    window.addEventListener("resize", () => {
        if (paused) return;

        if (!isControlPanelVisible())
            showControlPanel();
    } );




    /**
     * Skips video forwards or backwards
     *
     * Parameters:
     *  forward -> [Boolean]. True  stands for rewinding the video 10 seconds forwards
     *                        False stands for rewinding the video 10 seconds backwards
     */
    function skipVideo(forward) {
        let time = 0;
        if (forward) {
            time = video.currentTime + 10;
            if (time > video.duration) time = video.duration;
            showCenterInfo(IconTypes.FORWARD);

        } else {
            time = video.currentTime - 10;
            if (time < 0) time = 0;
            showCenterInfo(IconTypes.BACKWARD);
        }

        video.currentTime = time;
        closeCenterWithDelay();
    }




    /**
     * Listen for inactivity. If user is inactive for more than 2.5 seconds, then hide control panel
     */
    let inactivityTime = function() {
        let time;
        window.onload = resetTimer;
        window.onmousemove = resetTimer;
        window.onmousedown = resetTimer;  // catches touchscreen presses as well
        window.ontouchstart = resetTimer; // catches touchscreen swipes as well
        window.ontouchmove = resetTimer;  // required by some devices
        window.onclick = resetTimer;      // catches touchpad clicks as well
        window.onkeydown = resetTimer;

        document.onkeydown = resetTimer;

        function hidePanelAndCursor() {
            //Don't do anything if the video is paused
            if (paused) return;

            if (isControlPanelVisible()) hideControlPanel();
            if (mouseInsideVideo) video_container.style.cursor = "none";
        }

        function resetTimer() {
            if (!supportsTouch) {
                if (mouseInsideVideo) {
                    video_container.style.cursor = "default";

                    if (!isControlPanelVisible())
                        showControlPanel();
                }
            }

            clearTimeout(time);
            time = setTimeout(hidePanelAndCursor, 2500)
        }
    };




    $(window).load(function() {
        inactivityTime();
    });




    /**
     * Updates GUI with current time and full duration
     */
    function updateVideoTime() {
        let currentTime = parseInt(video.currentTime);
        let duration    = parseInt(video.duration);

        if (Number.isNaN(video.currentTime)) currentTime = 0;
        if (Number.isNaN(video.duration))    duration = 0;

        let time;
        let maxTime;

        time    = secondsToTime(currentTime);
        maxTime = secondsToTime(duration);

        video_time.innerHTML = time + " / " + maxTime;
    }



    /**
     * Calculates video time to "hh:mm:ss" format
     */
    function secondsToTime(duration) {
        let hours   = parseInt(duration/3600);
        let minutes = parseInt((duration % 3600) / 60);
        let seconds = parseInt(duration % 60);

        if (minutes < 10) minutes = "0" + minutes;
        if (seconds < 10) seconds = "0" + seconds;

        if (hours > 0)
            return hours + ":" + minutes + ":" + seconds;

        return minutes + ":" + seconds;
    }


    /**
     * Hides volume icon in the middle with delay
     */
    function closeVolumeInfo() {
        delay--;

        if (delay < 0) {
            clearTimeout(timer);
            timer = null;
            return;
        }

        if (delay > 0)
            clearTimeout(timer);

        if (delay == 0)
            center_volume_info.classList.remove("active");

        timer = setTimeout("closeVolumeInfo()", 500);
    }





    /**
     * Toggle volume mute
     */
    function mute() {
        if (!muted) {
            muted = true;
            volume = 0;
            video.volume = volume/100;
            updateVolumeSlider(volume);
            document.cookie = "video_muted=" + muted + "; expires=Fri, 31 Dec 9999 23:59:59 GMT";
            button_volume_icon.className = "fas fa-volume-mute";
            return;
        }

        if (muted) {
            muted = false;
            let vol = getCookie("video_volume")
            if (vol != null) {
                volume = vol;
            }
            updateVolumeSlider(volume);
            document.cookie = "video_muted=" + muted + "; expires=Fri, 31 Dec 9999 23:59:59 GMT";
            button_volume_icon.className = "fas fa-volume-up";
            video.volume = volume/100;
            return;
        }
    }



    function updateVolumeSlider(vol) {
        volume_slider.value = vol;
        volume_slider.style.background = 'linear-gradient(to right, var(--color-white) 0%, var(--color-white) ' + vol + '%, #787D80 ' + vol + '%, #787D80 100%)';
    }




    /**
     * Changes the video volume
     *
     * Parameters:
     *  vol -> [Int] new volume of the video
     */
    function updateVolume(vol) {
        video.volume = vol/100;
        volume = vol;


        if (vol == 0) {
            button_volume_icon.className = "fas fa-volume-mute";
            muted = true;
        }

        if (vol > 0) {
            if (muted) {
                button_volume_icon.className = "fas fa-volume-up";
                muted = false;
            }
        }

        document.cookie = "video_volume=" + volume + "; expires=Fri, 31 Dec 9999 23:59:59 GMT";
        document.cookie = "video_muted=" + muted + "; expires=Fri, 31 Dec 9999 23:59:59 GMT";

        updateVolumeSlider(vol);
        center_volume_info.classList.add("active");
        center_volume_info.innerHTML = vol + "%";

        delay = 3;
        closeVolumeInfo();
    }




    /**
     * Toggle video speed menu
     */
    function toggleSpeedContainer() {
        if (!speed_container.classList.contains("active")) speed_container.classList.add("active");
        else closeSpeedContainer();
    }

    function closeSpeedContainer() {
        if (speed_container.classList.contains("active")) speed_container.classList.remove("active");
    }


    /**
     * Set clicked speed option element to active.
     */
    function setSpeedElementActive(element) {
        if (element.classList.contains("active")) element.classList.remove("active");
        else element.classList.add("active");
    }


    /**
     * Change video speed
     *
     * Paramters:
     *  element -> [Object] represents clicked option
     *  speed   -> [Double] new speed
     */
    function changeSpeed(element, speed) {
        let options = document.getElementsByClassName('button_speed_option');
        for (let i=0; i < options.length; i++) {
            options[i].classList.remove("active");
        }

        setSpeedElementActive(element);
        video.playbackRate = speed;
    }






    /**
     * Marks topic as finished. Sends ajax request to
     * Controller and then data is proceeded by Java.
     */
    function markAsFinished() {
        let topicId = /*[[${topic.id}]]*/ "";
        if (topicId == null || topicId == "" || topicId <= 0) {
            alert("Wystąpił problem podczas wykonywania żądania.");
            return;
        }

        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");

        $.ajax({
            type:"POST",
            dataType:"json",
            data: { topicId: topicId },
            url:"/kurs/markAsFinished",
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token)
            },
            success: function(data) {

                const btn = document.getElementById('button_completed');
                const topic_headers = document.getElementsByClassName("topic_header");
                let topicHeaderElement = null;

                for (let i = 0; i < topic_headers.length; i++) {
                    if (topic_headers[i].getAttribute("data-id") == topicId) { // <div class="topic_header">
                        let children = topic_headers[i].getElementsByClassName('td_left')[0]; // <div class="td_left">
                        if (children != null && children.querySelectorAll('i')[0] != null)
                            topicHeaderElement = children.querySelectorAll('i')[0];
                        break;
                    }
                }

                if (data.type == 1) {
                    btn.classList.add("active");
                    if (topicHeaderElement != null)
                        topicHeaderElement.className = "fas fa-check-circle";
                } else {
                    btn.classList.remove("active");
                    if (topicHeaderElement != null)
                        topicHeaderElement.className = "far fa-circle";
                }
                //alert(data.message + ";" + data.success);

            },
            error: function(xhr, status, error) {
                alert(error);
                console.warn(xhr.responseText);
            }
        });
    }




    /**
     * Load cookies to check whether user muted the video
     * or set custom volume.
     */
    $(document).ready(function() {
        let vol   = getCookie("video_volume");
        let mute  = getCookie("video_muted");
        if (mute == "true" ? muted = true : muted = false);

        if (vol != "") {
            volume = vol;
            if (muted) volume = 0;
        } else if (vol == "") volume = 50;

        video.volume = volume/100;
        updateVolumeSlider(volume);
        center_volume_info.innerHTML = volume_slider.value + "%";

        if (muted) button_volume_icon.className = "fas fa-volume-mute";
        else if (!muted) button_volume_icon.className = "fas fa-volume-up";



        // Current page
        let url_string = window.location.href;
        let url = new URL(url_string);
        let s = url.searchParams.get("s");
        if (!(s == undefined || parseInt(s) <= 0 || parseInt(s) > all_topics.scrollHeight)) all_topics.scrollTop = parseInt(s);

    });




    /**
     * Get the cookie with specified name. Returns
     * empty string [""] if doesn't find any
     *
     * Parameters:
     *  cname -> name of the cookie
     */
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }






    /**
     * Loads timeline when video is successfully loaded
     */
    function initializeVideo() {
        let duration = video.duration;
        if (Number.isNaN(duration)) duration = 0;
        timeline_slider.max = parseInt(duration);
        updateVideoTime();
        timeline_slider.style.background  = 'linear-gradient(to right, var(--color-white) 0%, var(--color-white) ' + timeline_slider.value + '%, rgba(200, 200, 200, 0.5) ' + timeline_slider.value + '%, rgba(200, 200, 200, 0.5) 100%)';
    }



    timeline_slider.addEventListener('mousemove', function(e) {
        setBubble(timeline_slider, calcSliderPos(e).toFixed(3));
        bubble.classList.add("active");
    });


    timeline_slider.ontouchstart = function(e) {
        showBubbleOnTouchScreenDevices(e)
    }

    timeline_slider.ontouchmove = function(e) {
        showBubbleOnTouchScreenDevices(e)
    }

    function showBubbleOnTouchScreenDevices(e) {
        if (!supportsTouch) return;
        setBubble(timeline_slider, calcSliderPosForTouchScreenDevices(e).toFixed(3));
        bubble.classList.add("active");
    }


    timeline_slider.oninput = function() {
        let percentage = (this.value*100)/this.max;
        timeline_slider.style.background = 'linear-gradient(to right, #26C6FE 0%, #26C6FE ' + percentage + '%, rgba(200, 200, 200, 0.5) ' + percentage + '%, rgba(200, 200, 200, 0.5) 100%)';
        video.currentTime = this.value;
        video.pause();
    }

    timeline_slider.onmouseup = function() {
        if (!paused) playVideo(true);
    }

    timeline_slider.ontouchend = function() {
        if (!paused) playVideo(false);
    }


    timeline_slider.addEventListener('mouseleave', function(e) {
        bubble.classList.remove("active");
    });

    timeline_slider.addEventListener('touchend', function(e) {
        bubble.classList.remove("active");
    });


    /**
     * Updates timeline
     */
    video.ontimeupdate = function() {
        timeline_slider.value = this.currentTime;
        let percentage = (timeline_slider.value*100)/timeline_slider.max;
        timeline_slider.style.background = 'linear-gradient(to right, #26C6FE 0%, #26C6FE ' + percentage + '%, rgba(200, 200, 200, 0.5) ' + percentage + '%, rgba(200, 200, 200, 0.5) 100%)';
        updateVideoTime();
    };



    function calcSliderPos(e) {
        return (e.offsetX / e.target.clientWidth) *  parseInt(e.target.getAttribute('max'), 10);
    }

    function calcSliderPosForTouchScreenDevices(e) {
        const rect    = e.target.getBoundingClientRect();
        const offsetX = (e.touches[0].clientX - window.pageXOffset - rect.left);
        return (offsetX / e.target.clientWidth) *  parseInt(e.target.getAttribute('max'), 10);
    }


    /**
     * Loads bubble with time above timeline
     *
     * Parameters:
     *  range -> [Object] timeline
     *  val   -> current possition
     */
    function setBubble(range, val) {
        if (val < 0) val = 0;
        if (parseFloat(val) > range.max) val = range.max;
        const min = range.min ? range.min : 0;
        const max = range.max ? range.max : 100;
        const newVal = Number(((val - min) * 100) / (max - min) / 100);

        let offsetWidth = range.offsetWidth;  // width of the timeline
        let halfBubble = bubble.offsetWidth / 2;  // half width of the bubble
        let finalPosition = newVal * offsetWidth;  // percentage of the timeline [newVal] * full timeline width [offsetWidth]

        // If exceeds the container from the left side then make it start at left boundary
        if (finalPosition - halfBubble <= 0) finalPosition = halfBubble;
        // If exceeds the container from the right side then make it end at the very end boundary
        else if (finalPosition + halfBubble >= offsetWidth) finalPosition = offsetWidth - halfBubble;



        // Insert time
        bubble.innerHTML = secondsToTime(val);
        // Sort magic numbers based on size of the native UI thumb
        bubble.style.left = `${finalPosition}px`;
    }


</script>

</html>