<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Logowanie</title>

    <link rel="stylesheet" href="/css/auth.css"/>
    <link rel="stylesheet" href="/css/popup.css"/>

    <th:block th:insert="~{dependencies :: dependencies}"></th:block>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>


        <!--
            START popup
        -->
        <div th:insert="~{popup :: popup}"></div>


        <div id="auth_content">


            <!--
                No Data Found container
            -->
            <div id="registration_info_bg" th:if="${!#strings.isEmpty(verified)}">
                <div class="window no_data_found" id="registration_info" >

                    <th:block th:if="${verified}" th:insert="dependencies :: noDataFound('big fas fa-check-circle', 'Proces rejestracji zakończony sukcesem!', 'Możesz się teraz zalogować na swoje konto.')"></th:block>

                    <th:block th:if="!${verified}" th:insert="dependencies :: noDataFound('big red fas fa-times-circle', 'Weryfikacja adresu email zakończona niepowodzeniem!', ${verificationMessage})"></th:block>

                    <div class="button_gray" onclick="closeRegistrationInfo()">Zamknij <i class="fas fa-arrow-circle-right"></i></div>
                </div>
            </div>



            <div class="left" th:fragment="authLeftRegisterPanel">

                <a th:href="@{/}" id="nav_logo"><img alt="Logo serwisu kursowo.pl" src="/images/logo-image.png"/><span>Kursowo.pl</span></a>

                <p id="left_title">Pierwszy raz u nas?</p>
                <p id="left_desc">Załóż darmowe konto i skorzystaj z wysokiej jakości kursów online przygotowanych przez specjalistów!</p>
                <a th:href="@{/rejestracja}" class="button_blue">Rejestracja <i class="fas fa-arrow-circle-right"></i></a>

            </div>





            <div class="right">

                <!--
                    START auth_container
                -->
                <div id="auth_container">

                    <div class="title_with_shadow">
                        <div class="tit_bck"></div>
                        <p class="tit_text">Witamy ponownie</p>
                    </div>

                    <p class="desc">Zaloguj się, aby mieć dostęp do posiadanych kursów</p>


                    <form id="login_form" th:action="@{/logowanie}" method="POST">

                        <!--
                            INPUT GROUP - Input with its elements
                        -->
                        <div class="input_group">
                            <input th:value="${#strings.isEmpty(dataEmail)} ? '' : ${dataEmail}" id="login_data_email" class="input" type="text" name="email" autofocus autocomplete="email" oninput="checkInputData(0, AuthDataTypeEnum.Email, this.value)">
                            <label for="login_data_email"> Email: </label>

                            <!--
                                TOOLTIP - Information about corectness of data
                            -->
                            <div class="tooltip">
                                <i class="fas tooltip_icon"></i>
                                <span class="tooltip_text"></span>
                            </div>
                        </div>



                        <!--
                            INPUT GROUP - Input with its elements
                        -->
                        <div class="input_group">
                            <input th:value="${#strings.isEmpty(dataPassword)} ? '' : ${dataPassword}" id="login_data_password" class="input" type="password" name="password" autocomplete="current-password" oninput="checkInputData(1, AuthDataTypeEnum.PasswordLogin, this.value)">
                            <label for="login_data_password"> Hasło: </label>

                            <!--
                                TOOLTIP - Information about corectness of data
                            -->
                            <div class="tooltip">
                                <i class="fas tooltip_icon"></i>
                                <span class="tooltip_text"></span>
                            </div>
                        </div>

                        <a th:if="${optionalErrorInfo != null}" th:href="${optionalErrorInfo}" id="optionalErrorInfo" class="type_login"><i class="fas fa-mouse-pointer"></i> Kliknij aby ponowić proces weryfikacji adresu email.</a>


                        <div id="under_inputs">
                                <a class="list_link" id="pass_remember" th:href="@{/przywracanie-hasla}">Nie pamiętasz hasła?</a>

                            <button type="submit" id="button_login" class="button_blue">Logowanie <i class="fas fa-arrow-circle-right"></i></button>
                        </div>

                    </form>



                    <div id="other_login_methods">

                        <a th:href="${googleUrl}" class="other_login_button">
                            <img alt="Logo firmy google" src="/images/-logo-google.svg" class="img"/> Zaloguj się za pomocą konta Google
                        </a>


                        <!--
                        <div class="other_login_button">
                            <div class="text"> <img alt="Logo firmy facebook" src="/images/-logo-facebook.svg" class="img"/> Zaloguj się za pomocą konta Facebook</div>
                        </div>
                         -->

                    </div>

                </div>
                <!--
                    END auth_container
                -->

            </div>

            <a th:href="@{/}" id="button_go_back"><i style="font-size: 13px;" class="fas fa-chevron-left"></i> Strona główna</a>
            <a th:href="@{/rejestracja}" id="button_go_next">Rejestracja <i style="font-size: 13px;" class="fas fa-chevron-right"></i></a>

        </div>


        <script src="/js/jquery-1.11.3.js"></script>
        <script src="/js/validator.js"></script>
        <script src="/js/popup.js"></script>


</body>


<script th:inline="javascript">


    $("#login_form").submit(function(e) {
        let correctData = 0; // Count correct data
        if (checkInputData(0, AuthDataTypeEnum.Email, document.getElementById("login_data_email").value)) correctData++;
        if (checkInputData(1, AuthDataTypeEnum.PasswordLogin, document.getElementById("login_data_password").value)) correctData++;

        if (correctData != 2)
            e.preventDefault(); // AVOID TO EXECUTE THE ACTUAL SUBMIT OF THE FORM.
    });

    function closeRegistrationInfo() {
        const info = document.getElementById("registration_info_bg");
        info.style.display = "none";
    }

    /*<![CDATA[*/
        let error = /*[[${error}]]*/ "";
        let optionalErrorInfo = /*[[${optionalErrorInfo}]]*/ "";

        if (error != "" && error != null) {
            showPopup(error,  0);
            checkInputData(0, AuthDataTypeEnum.Email, document.getElementById("login_data_email").value);
            checkInputData(1, AuthDataTypeEnum.PasswordLogin, document.getElementById("login_data_password").value);
        }

        if (optionalErrorInfo != "" && optionalErrorInfo != null) {
            const optionalError = document.getElementById("optionalErrorInfo");
            if (!optionalError.classList.contains("active"))
                optionalError.classList.add("active");
        }
    /*]]>*/

</script>


</html>