<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Logowanie</title>

    <link rel="stylesheet" href="/css/auth.css"></link>
    <link rel="stylesheet" href="/css/popup.css"></link>

    <div th:insert="~{dependencies :: dependencies}"></div>

</head>
<body>


        <!--
            START popup
        -->
        <div th:insert="~{popup :: popup}"></div>


        <div id="auth_content">

            <div class="left">

                <a th:href="@{/}" id="nav_logo">Kursowo.pl</a>

                <p id="left_title">Pierwszy raz u nas?</p>
                <p id="left_desc">Załóż darmowe konto i skorzystaj z wysokiej jakości kursów online przygotowanych przez specjalistów!</p>
                <a th:href="@{/rejestracja}" class="button_blue">Rejestracja <i class="fas fa-arrow-circle-right"></i></a>

            </div>





            <div class="right">

                <!--
                    START auth_container
                -->
                <div id="auth_container">

                    <div class="title_with_shadow">
                        <div class="tit_bck"></div>
                        <p class="tit_text">Witamy ponownie</p>
                    </div>

                    <div class="desc">Zaloguj się, aby mieć dostęp do posiadanych kursów</div>



                    <div th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>


                    <form id="login_form" th:action="@{/logowanie2}" method="POST">

                        <!--
                            INPUT GROUP - Input with its elements
                        -->
                        <div class="input_group">
                            <input value="" id="login_data_email" class="input" type="text" name="email" autofocus oninput="checkInputData(0, 'email', this.value)">
                            <label> Email: </label>

                            <!--
                                TOOLTIP - Information about corectness of data
                            -->
                            <div class="tooltip">
                                <i class="fas tooltip_icon"></i>
                                <span class="tooltip_text"></span>
                            </div>
                        </div>



                        <!--
                            INPUT GROUP - Input with its elements
                        -->
                        <div class="input_group">
                            <input value="" id="login_data_password" class="input" type="password" name="password" oninput="checkInputData(1, 'passwordLogin', this.value)">
                            <label> Hasło: </label>

                            <!--
                                TOOLTIP - Information about corectness of data
                            -->
                            <div class="tooltip">
                                <i class="fas tooltip_icon"></i>
                                <span class="tooltip_text"></span>
                            </div>
                        </div>


                        <div id="under_inputs">
                            <ul class="href">
                                <li><a class="list_link" id="pass_remember" th:href="@{/przywracanie-hasla}" tabindex="-1">Nie pamiętasz hasła?</a></li>
                            </ul>

                            <button type="submit" id="button_login" class="button_blue">Logowanie <i class="fas fa-arrow-circle-right"></i></button>
                        </div>

                    </form>


                    <div id="other_login_methods">

                        <div class="other_login_button">
                            <div class="text"><img alt="" src="/images/-logo-google.svg" class="img"/> Zaloguj się za pomocą konta Google</div>
                        </div>

                        <div class="other_login_button">
                            <div class="text"><img alt="" src="/images/-logo-facebook.svg" class="img"/> Zaloguj się za pomocą konta Facebook</div>
                        </div>

                    </div>

                </div>
                <!--
                    END auth_container
                -->

            </div>

            <a th:href="@{/}" id="button_go_back"><i style="font-size: 13px;" class="fas fa-chevron-left"></i> Strona główna</a>
            <a th:href="@{/rejestracja}" id="button_go_next">Rejestracja <i style="font-size: 14px;" class="fas fa-chevron-right"></i></a>


            <div id="respond">
                <i class="fas fa-exclamation-triangle"></i>
                <label id="respond_text"></label>
                <i id="close_respond" class="fas fa-times" onclick="closePopup()"></i>
            </div>

        </div>


        <script src="/js/jquery-1.11.3.js"></script>
        <script src="/js/validator.js"></script>
        <script src="/js/popup.js"></script>


</body>


<script>

    $("#login_form").submit(function(e) {
        e.preventDefault(); // AVOID TO EXECUTE THE ACTUAL SUBMIT OF THE FORM.
        sendAuthenticationData("login", $(this), document.getElementById("login_data_email").value, document.getElementById("login_data_password").value, null, null);
    });

</script>


</html>