<!DOCTYPE HTML>
<html lang="pl">
<head>
    <title>Panel użytkownika</title>

    <th:block th:insert="~{dependencies :: dependencies}"></th:block>

    <link rel="stylesheet" href="/css/popup.css"/>
    <link rel="stylesheet" href="/css/course_container.css">
    <link rel="stylesheet" href="/css/profil.css"/>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>

<body>

        <!--
            START header
        -->
        <div th:insert="~{header :: header(active = ${true})}"></div>
        <div th:insert="~{header :: shadow}"></div>
        <div th:insert="~{header :: minHeader}"></div>

        <div id="profile_content">


            <div id="content_left">
                <div id="statistics" class="window">
                    <div class="section">

                        <div id="avatar_selection">
                            <div id="avatar" th:fragment="avatar_detail">
                                <img th:alt="${user.avatar.name}" th:src="${serverUrl + user.avatar.url}"/>
                                <div class="shadow" onclick="listAvatars()">
                                    <i class="fas fa-pencil-alt icon_add"></i>
                                </div>
                            </div>
                        </div>

                        <p id="credentials"> [[${#authentication.getPrincipal().getEmail()}]] </p>


                        <div class="progress_background">
                            <div class="progress_fill" th:attr="data-done=${lastDayPercentage}"></div>  <!-- Percentage progress through the same day. -->
                            <span class="progresss_info" th:text="'Dzisiejszy cel [' + ${lastDay} + ']'"></span>
                            <span class="progresss_target">1 kurs</span>
                        </div>


                        <div class="progress_background">
                            <div class="progress_fill" th:attr="data-done=${lastWeekPercentage}"></div>  <!-- Percentage progress through whole week. -->
                            <span class="progresss_info" th:text="'Ostatnie 7 dni [' + ${lastWeek} + ']'"></span>
                            <span class="progresss_target">7 kursów</span>
                        </div>


                        <div class="progress_background">
                            <div class="progress_fill" th:attr="data-done=${lastMonthPercentage}"></div>  <!-- Percentage progress through whole month. -->
                            <span class="progresss_info" th:text="'Ostatnie 30 dni [' + ${lastMonth} + ']'"></span>
                            <span class="progresss_target">30 kursów</span>
                        </div>
                    </div>


                    <div class="legend">

                        <button class="legend_link active" data-id="1" onclick="openTab(this)"> <i class="fas fa-laptop"></i> Kursy </button>
                        <button class="legend_link" data-id="2" onclick="openTab(this)"> <i class="fas fa-history"></i> Historia transakcji </button>
                        <button class="legend_link" data-id="3" onclick="openTab(this)"> <i class="fas fa-user-circle"></i> Moje dane </button>
                        <button class="legend_link" data-id="4" onclick="openTab(this)"> <i class="fas fa-cog"></i> Ustawienia </button>

                    </div>

                    <form th:action="@{/logout}" method="POST" modelAttribute="_csrf">
                        <button id="logout_button" class="button_gray" type="submit"><i class="far fa-arrow-alt-circle-left"></i> Wyloguj się</button>
                    </form>

                </div>

            </div>






            <div id="content_right">

                <div id="courses_list" class="pageable active" th:fragment="course-list">

                    <!--
                        No Data Found container
                    -->
                    <div th:if="${#lists.isEmpty(user.courses)}" id="no_results_found" class="window no_data_found">

                        <th:block th:insert="dependencies :: noDataFound('big fas fa-exclamation-circle', 'Nie posiadasz jeszcze żadnego kursu.', 'Zobacz naszą pełną ofertę i wybierz kurs, który interesuje Cię najbardziej!')"></th:block>
                        <a th:href="@{/lista-kursow}" class="button_gray">Lista kursów <i class="fas fa-arrow-circle-right"></i></a>

                    </div>


                    <div th:each="ownedCourseDto : ${user.courses}" class="course_container">

                        <div class="left">
                            <div class="photo">
                                <img alt="Miniaturka kursu" th:src="@{'/images/course_photo_' + ${ownedCourseDto.course.id} + '.png'}"/>
                            </div>
                            <div class="title_with_shadow_hidden">
                                <span class="tit_text" th:inline="text"> [[${ownedCourseDto.course.name}]] <div class="tit_bck"></div></span>
                            </div>
                            
                            <p class="category" th:text="'[' + ${ownedCourseDto.course.getCategoryAsString()} + ']'"></p>
                        </div>

                        <div class="right">
                            <div class="description">
                                <div class="title_with_shadow" >
                                    <span class="tit_text" th:inline="text"> [[${ownedCourseDto.course.name}]] <div class="tit_bck"></div></span>
                                </div>

                                <div class="linear_buttons">
                                    <div class="progress_background">
                                        <div class="progress_fill" th:attr="data-done=${ownedCourseDto.percentage}"></div>
                                        <span class="progresss_info" th:text="'Ukończono ' + ${ownedCourseDto.percentage} + '%'"></span>
                                    </div>
                                    <a class="button_gray" th:href="@{'/kurs/' + ${ownedCourseDto.course.id}}">Kontynuuj <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="expires" th:if="${ownedCourseDto.expiryDate.after(#dates.createNow())}" th:text="'Ważny do: ' + ${#dates.format(ownedCourseDto.expiryDate, 'dd.MM.yyyy')} + 'r'"></div>
                        <div class="expires expired" th:if="${ownedCourseDto.expiryDate.before(#dates.createNow())}"> <i class="expired_icon fas fa-exclamation-triangle"></i> Kurs utracił ważność dnia: [[${#dates.format(ownedCourseDto.expiryDate, 'dd.MM.yyyy')}]]r</div>

                    </div>
                </div>





                <div id="payment_history" class="pageable" th:fragment="payment_history">

                    <!--
                        No Data Found container
                    -->
                    <div th:if="${#lists.isEmpty(paymentHistory)}" id="no_payment_history_found" class="no_data_found">
                        <th:block th:insert="dependencies :: noDataFound('fas fa-hourglass-half', null, 'Tutaj pojawi się historia Twoich zakupów po nabyciu pierwszego kursu!')"></th:block>
                    </div>


                    <div class="activity_section" th:if="${!#lists.isEmpty(paymentHistory)}">

                        <div class="activity_header">
                            <p class="lp detail">Lp. <p>
                            <p class="date detail">Data zakupu</p>
                            <p class="title detail">Nazwa</p>
                            <p class="price detail">Cena</p>
                        </div>

                        <div class="activity" th:each="payment, iteration : ${paymentHistory}">
                            <p class="lp detail"><span th:text="'#' + ${iteration.count}"></span></p>
                            <p class="date detail" th:text="${#dates.format(payment.proceedDate, 'dd.MM.yyyy')}"></p>
                            <p class="title detail" th:text="${payment.course.name}"></p>
                            <p class="price detail" th:text="${payment.getAmountInt()} + ' zł'"></p>
                        </div>

                    </div>

                </div>


            </div>

        </div>



        <div id="modal_avatar" class="modal">

            <!-- Modal content -->
            <div class="modal_content active">
                <span class="modal_close" tabindex="0"><i class="fas fa-times"></i></span>

                <div class="top">
                    <h2 class="heading">Wybierz swój avatar:</h2>

                    <div id="avatar_view">
                        <dic class="avatar_container" th:fragment="avatar_container" th:if="${avatars != null}">

                            <div class="avatar" th:each="avatar : ${avatars}" th:data-id="${avatar.id}">
                                <img th:alt="${avatar.name}" th:src="${serverUrl + avatar.url}">
                            </div>

                        </dic>
                    </div>
                </div>
            </div>
        </div>



        <!--
            START popup
        -->
        <div th:insert="~{popup :: popup}"></div>


        <!--
            START footer
        -->
        <div th:insert="~{footer :: footer}"></div>




        <script src="/js/jquery-1.11.3.js"></script>
        <script src="/js/header.js"></script>




    <script>

        let myNav = document.getElementById("header");
        window.onload = function () {
            myNav.classList.add("nav_active");
            animateProgress();
        };


        function animateProgress() {
            let progress_fill = document.getElementsByClassName("progress_fill");

            for (let i=0; i < progress_fill.length; i++) {
                progress_fill[i].style.width = progress_fill[i].dataset.done + "%";
            }
        }






        const tabcontent  = document.getElementsByClassName("pageable");
        const tablinks    = document.getElementsByClassName("legend_link");


        function openTab(e) {
            let tabIndex = e.getAttribute('data-id');
            for (let i = 0; i < tabcontent.length; i++) {
                if (tabcontent[i].classList.contains("active"))
                    tabcontent[i].classList.remove("active");
            }
            for (let i = 0; i < tablinks.length; i++) {
                tablinks[i].classList.remove("active");
            }

            if (tabcontent[tabIndex -1] != null)
                tabcontent[tabIndex -1].classList.add("active")

            e.classList.add("active");
        }






        const modal_avatar = document.getElementById('modal_avatar');

        // Get the button that opens the modal
        const button_buy = document.getElementById("button_buy");

        // Get the <span> element that closes the modal
        const close_btn = document.getElementsByClassName("modal_close")[0];


        // When the user clicks the button, open the modal
        function openModal() {
            modal_avatar.classList.add("active");
        }

        function closeModal() {
            modal_avatar.classList.remove("active");
        }

        // When the user clicks on <span> (x), close the modal
        close_btn.onclick = function() {
            closeModal();
        }

        // When the user clicks anywhere outside of the modal, close it
        window.addEventListener("click", function(event) {
            if (event.target == modal_avatar) {
                closeModal();
            }
        });



        function listAvatars() {
            $("#avatar_view").load('/api/avatar/view', function(response, status) {
                if (status == "success") {
                    openModal();

                    $('.avatar').click(function(){
                        let id = $(this).attr('data-id');
                        changeAvatar(id);
                    });
                }
            });
        }




        function changeAvatar(id) {
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                type:"POST",
                dataType:"json",
                data: { id: id, type: "PROFILE"},
                url:"/api/avatar/change",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token)
                },
                success: function() {

                    $("#avatar_selection").load('/api/avatar/detail?type=PROFILE');
                    if (document.getElementById("header_dropbtn") != null)
                        $("#header_dropbtn").load('/api/avatar/detail?type=HEADER');

                    if (document.getElementById("mobile_avatar") != null)
                        $("#mobile_avatar").load('/api/avatar/detail?type=HEADER');

                    closeModal();

                },
                error: function(xhr, status, error) {
                    alert(error);
                    console.warn(xhr.responseText);
                }
            });
        }




    </script>

</body>
</html>