<!DOCTYPE HTML>
<html lang="pl">
<head>
    <title>Panel użytkownika</title>

    <link rel="stylesheet" href="/css/profil.css"/>
    <link rel="stylesheet" href="/css/popup.css"/>
    <link rel="stylesheet" href="/css/course_container.css">

    <th:block th:insert="~{dependencies :: dependencies}"></th:block>

</head>

<body>

        <!--
            START header
        -->
        <div th:insert="~{header :: header(active = ${true})}"></div>
        <div th:insert="~{header :: shadow}"></div>
        <div th:insert="~{header :: minHeader}"></div>

        <div id="profile_content">

            <div id="content_left">
                <div id="courses_list">
                    <h1 class="heading">Kursy</h1>

                    <div th:if="${#lists.isEmpty(ownedCourses)}" id="no_courses_found" class="window">
                        <i class="center_icon fas fa-exclamation-circle"></i>

                        <h2 class="subtitle">Nie posiadasz jeszcze żadnego kursu.</h2>
                        <h3 class="desc">Zobacz naszą pełną ofertę i wybierz kurs, który interesuje Cię najbardziej!</h3>
                        <a th:href="@{/lista-kursow}" class="button_gray">Lista kursów <i class="fas fa-arrow-circle-right"></i></a>

                    </div>


                    <div th:each="ownedCourseDto : ${ownedCourses}" class="course_container">

                        <div class="left">
                            <div class="photo">
                                <img alt="zdjecie" th:src="@{'/images/course_photo_' + ${ownedCourseDto.course.id} + '.png'}"/>
                            </div>
                            <div class="title_with_shadow_hidden">
                                <span class="tit_text" th:inline="text"> [[${ownedCourseDto.course.name}]] <div class="tit_bck"></div></span>
                            </div>
                            
                            <p class="category" th:text="'[' + ${ownedCourseDto.course.getCategoryAsString()} + ']'"></p>
                        </div>

                        <div class="right">
                            <div class="description">
                                <div class="title_with_shadow" >
                                    <span class="tit_text" th:inline="text"> [[${ownedCourseDto.course.name}]] <div class="tit_bck"></div></span>
                                </div>

                                <div class="linear_buttons">
                                    <div class="progress_background">
                                        <div class="progress_fill" th:attr="data-done=${ownedCourseDto.percentage}"></div>
                                        <span class="progresss_info" th:text="'Ukończono ' + ${ownedCourseDto.percentage} + '%'"></span>
                                    </div>
                                    <a class="button_gray" th:href="@{'/kurs/' + ${ownedCourseDto.course.id}}">Kontynuuj <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="expires" th:if="${ownedCourseDto.expiryDate.after(#dates.createNow())}" th:text="'Ważny do: ' + ${#dates.format(ownedCourseDto.expiryDate, 'dd.MM.yyyy')} + 'r'"></div>
                        <div class="expires expired" th:if="${ownedCourseDto.expiryDate.before(#dates.createNow())}"> <i class="expired_icon fas fa-exclamation-triangle"></i> Kurs utracił ważność dnia: [[${#dates.format(ownedCourseDto.expiryDate, 'dd.MM.yyyy')}]]r</div>

                    </div>
                </div>
            </div>


            <div id="content_right">
                <div id="statistics" class="window">
                    <div class="section">
                        <h2 class="heading">Osiągnięte cele</h2>

                        <div class="progress_background">
                            <div class="progress_fill" th:attr="data-done=${lastDayPercentage}"></div>  <!-- Percentage progress through the same day. -->
                            <span class="progresss_info" th:text="'Dzisiejszy cel [' + ${lastDay} + ']'"></span>
                            <span class="progresss_target">1 kurs</span>
                        </div>


                        <div class="progress_background">
                            <div class="progress_fill" th:attr="data-done=${lastWeekPercentage}"></div>  <!-- Percentage progress through whole week. -->
                            <span class="progresss_info" th:text="'Ostatnie 7 dni [' + ${lastWeek} + ']'"></span>
                            <span class="progresss_target">7 kursów</span>
                        </div>


                        <div class="progress_background">
                            <div class="progress_fill" th:attr="data-done=${lastMonthPercentage}"></div>  <!-- Percentage progress through whole month. -->
                            <span class="progresss_info" th:text="'Ostatnie 30 dni [' + ${lastMonth} + ']'"></span>
                            <span class="progresss_target">30 kursów</span>
                        </div>
                    </div>
                </div>



                <div id="payment_history" class="window">
                    <h2 class="heading">Historia transakcji</h2>

                    <div th:if="${#lists.isEmpty(paymentHistory)}" id="no_payment_history_found">
                        <i class="center_icon fas fa-hourglass-half"></i>
                        <h2 class="desc">Tutaj pojawi się historia Twoich zakupów po nabyciu pierwszego kursu!</h2>
                    </div>


                    <div class="activity_section" th:if="${!#lists.isEmpty(paymentHistory)}">

                        <div class="activity" th:each="payment : ${paymentHistory}">
                            <p class="date circular" th:text="${#dates.format(payment.proceedDate, 'dd.MM.yyyy')}"></p>
                            <p class="price circular" th:text="${payment.getAmountInt()} + 'zł'"></p>

                            <p class="title circular" th:text="${payment.course.name}"></p>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!--
            START popup
        -->
        <div th:insert="~{popup :: popup}"></div>


        <!--
            START footer
        -->
        <div th:insert="~{footer :: footer}"></div>




        <script src="/js/jquery-1.11.3.js"></script>
        <script src="/js/header.js"></script>




    <script>

        let myNav = document.getElementById("header");
        window.onload = function () {
            myNav.classList.add("nav_active");
            animateProgress();
        };


        function animateProgress() {
            let progress_fill = document.getElementsByClassName("progress_fill");

            for (let i=0; i < progress_fill.length; i++) {
                progress_fill[i].style.width = progress_fill[i].dataset.done + "%";
            }
        }

    </script>

</body>
</html>