<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="'Rejestracja'">form</h1>
<p th:text="${message}"> </p>
<form th:action="@{/registration}" th:object="${user}" method="POST">
    <div>
        <label th:text="'Adres email'">email</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <label th:text="'Podaj hasło'">password</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <label th:text="'Powtorz hasło'">confirm</label>
        <input type="password" name="matchingPassword"/>
    </div>
    <button type="submit" th:text="'Wyślij'">submit</button>
</form>

<a th:href="@{/login.html}" th:text="'Przejdz do logowania.'">login</a>
</body>
</html>