<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Rejestracja</title>

    <link rel="stylesheet" href="/css/auth.css"/>
    <link rel="stylesheet" href="/css/popup.css"/>

    <th:block th:insert="~{dependencies :: dependencies}"></th:block>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>

        <div id="auth_content">

            <div class="left">

                <a th:href="@{/}" id="nav_logo"><img alt="Logo serwisu kursowo.pl" src="/images/logo-image.png"/><span>Kursowo.pl</span></a>

                <p id="left_title">Masz już konto?</p>
                <p id="left_desc">Załóż darmowe konto i skorzystaj z wysokiej jakości kursów online przygotowanych przez specjalistów!</p>
                <a th:href="@{/logowanie}" class="button_blue"> Logowanie <i class="fas fa-arrow-circle-right"></i></a>

            </div>





            <div class="right">

                <!--
                    START auth_container
                -->
                <div id="auth_container">

                    <div class="title_with_shadow">
                        <div class="tit_bck"></div>
                        <p class="tit_text">Witamy</p>
                    </div>

                    <p class="desc">Założ darmowe konto i ciesz się nową wiedzą</p>


                    <div id="register_square" class="tab_content">
                        <form id="register_form" th:action="@{/rejestracja}" th:object="${user}" method="POST">

                            <!--
                                INPUT GROUP - Input with its elements
                            -->
                            <div class="input_group">
                                <input th:value="${#strings.isEmpty(dataEmail)} ? '' : ${dataEmail}" id="register_data_email" class="input" type="text" name="email" autofocus autocomplete="email" oninput="checkInputData(0, AuthDataTypeEnum.Email, this.value)">
                                <label for="register_data_email"> Email: </label>

                                <!--
                                    TOOLTIP - Information about corectness of data
                                -->
                                <div class="tooltip">
                                    <i class="fas tooltip_icon"></i>
                                    <span class="tooltip_text"></span>
                                </div>
                            </div>



                            <!--
                                INPUT GROUP - Input with its elements
                            -->
                            <div class="input_group">
                                <input th:value="${#strings.isEmpty(dataPassword)} ? '' : ${dataPassword}" id="register_data_password" class="input" type="password" name="password" autocomplete="new-password" oninput="checkInputData(1, AuthDataTypeEnum.Password, this.value)" onfocusout="checkPasswordsEquality()">
                                <label for="register_data_password"> Hasło: </label>

                                <!--
                                    TOOLTIP - Information about corectness of data
                                -->
                                <div class="tooltip">
                                    <i class="fas tooltip_icon"></i>
                                    <span class="tooltip_text"></span>
                                </div>
                            </div>



                            <!--
                                INPUT GROUP - Input with its elements
                            -->
                            <div class="input_group" style="margin-bottom: 0;">
                                <input th:value="${#strings.isEmpty(dataPasswordRepeat)} ? '' : ${dataPasswordRepeat}" id="register_data_password_repeat" class="input" type="password" name="passwordRepeat" autocomplete="new-password" oninput="checkInputData(2, AuthDataTypeEnum.PasswordRepeat, this.value)" onfocusout="checkPasswordsEquality()">
                                <label for="register_data_password_repeat"> Powtórz hasło: </label>

                                <!--
                                    TOOLTIP - Information about corectness of data
                                -->
                                <div class="tooltip">
                                    <i class="fas tooltip_icon"></i>
                                    <span class="tooltip_text"></span>
                                </div>
                            </div>



                            <!--
                                PASSWORD STRENGTH - Bar describing the strength of the password
                            -->
                            <div id="password_strength">
                                <div id="password_strength_inside"></div>
                            </div>
                            <p id="optionalErrorInfo"> <i class='fas fa-times error'></i> Podane hasła nie są identyczne! </p>


                            <div id="under_inputs">
                                <!--
                                    CHECKBOX - custom checkbox input
                                -->
                                <div class="checkbox_body">
                                    <div style="display: block;" class="standard-checkbox">
                                        <label class="checkbox-border">
                                            <input th:checked="${#strings.isEmpty(dataTerms)} ? false : ${dataTerms}" name="terms" oninput="checkInputData(3, AuthDataTypeEnum.Terms, this.checked)" id="register_data_terms" type="checkbox" class="invisible">
                                            <div class="checkbox">
                                                <svg tabindex="0" width="20px" height="20px" viewBox="0 0 20 20">
                                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                    <polyline points="4 11 8 15 16 6"></polyline>
                                                </svg>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="checkbox-label">Akceptuję <a class="list_link" th:href="@{/terms}">regulamin</a> serwisu</div>


                                    <!--
                                        TOOLTIP - Information about corectness of data
                                    -->
                                    <div class="tooltip" style="top: -2px; left: -30px;">
                                        <i class="fas tooltip_icon"></i>
                                        <span class="tooltip_text"></span>
                                    </div>
                                </div>


                                <button type="submit" id="button_register" class="button_blue">Zarejestruj <i class="fas fa-arrow-circle-right"></i></button>

                            </div>
                        </form>

                    </div>

                </div>
                <!--
                    END auth_container
                -->

            </div>

            <a th:href="@{/}" id="button_go_back"><i style="font-size: 13px;" class="fas fa-chevron-left"></i> Strona główna</a>
            <a th:href="@{/logowanie}" id="button_go_next">Logowanie <i style="font-size: 14px;" class="fas fa-chevron-right"></i></a>


            <!--
                START popup
            -->
            <div th:insert="~{popup :: popup}"></div>

            <!--<div id="respond">
                <i class="fas fa-exclamation-triangle"></i>
                <label id="respond_text"></label>
                <i id="close_respond" class="fas fa-times" onclick="closePopup()"></i>
            </div>
            -->

        </div>


        <script src="/js/jquery-1.11.3.js"></script>
        <script src="/js/validator.js"></script>
        <script src="/js/popup.js"></script>


</body>


<script th:inline="javascript">

    /*$("#register_form").submit(function(e) {
        e.preventDefault(); // AVOID TO EXECUTE THE ACTUAL SUBMIT OF THE FORM.
        sendAuthenticationData("register", $(this), document.getElementById("register_data_email").value, document.getElementById("register_data_password").value, document.getElementById("register_data_password_repeat").value, document.getElementById("register_data_terms").checked);
    });*/


    $("#register_form").submit(function(e) {
        let correctData = 0; // Count correct data
        if (checkInputData(0, AuthDataTypeEnum.Email, document.getElementById("register_data_email").value)) correctData++;
        if (checkInputData(1, AuthDataTypeEnum.Password, document.getElementById("register_data_password").value)) correctData++;
        if (checkInputData(2, AuthDataTypeEnum.PasswordRepeat, document.getElementById("register_data_password_repeat").value)) correctData++;
        if (checkInputData(3, AuthDataTypeEnum.Terms, document.getElementById("register_data_terms").checked)) correctData++;

        if (correctData != 4 || document.getElementById("register_data_password").value != document.getElementById("register_data_password_repeat").value)
            e.preventDefault(); // AVOID TO EXECUTE THE ACTUAL SUBMIT OF THE FORM.
    });


    /*<![CDATA[*/
        let error = /*[[${error}]]*/ "";

        if (error != "" && error != null) {
            showPopup(error,  0);
            checkInputData(0, AuthDataTypeEnum.Email, document.getElementById("register_data_email").value);
            checkInputData(1, AuthDataTypeEnum.Password, document.getElementById("register_data_password").value);
            checkInputData(2, AuthDataTypeEnum.PasswordRepeat, document.getElementById("register_data_password_repeat").value);
            checkInputData(3, AuthDataTypeEnum.Terms, document.getElementById("register_data_terms").value);
        }
    /*]]>*/


</script>


</html>