<!DOCTYPE html>
<html lang="pl">
<head>
		<title>Kursowo.pl | Regulamin</title>

		<link rel="stylesheet" href="/css/main.css"/>

		<div th:insert="~{dependencies :: dependencies}"></div>

	</head>
	<body>

		<!--
			START header
		-->
		<div th:insert="~{header :: header(active = ${true})}"></div>
		<div th:insert="~{header :: shadow}"></div>
		<div th:insert="~{header :: minHeader}"></div>


		<!-- Terms_of_use_body -->
		<div id="terms_content">
			<h1>Regulamin</h1>

			<ol>
				<li class="term_title"> Definicje</li>
				<ol>

					<li class="term_desc"> kursowo.pl - serwis społecznościowy oferujący kursy naukowe, którego właścicielem oraz osobą uprawnioną do administrowania płatnościami jest Bartosz Malec.</li>
					<li class="term_desc"> Strona Internetowa - oznacza strony internetowe prowadzone przez sprzedawcę, działające w domenie kursowo.pl</li>
					<li class="term_desc"> Użytkownik / klient / uczeń - każdy podmiot dokonujący zakupów za pośrednictwem sklepu.</li>
					<li class="term_desc"> Usługa - cyfrowy przedmiot/licencja na witrynie kursowo.pl</li>
					<li class="term_desc"> Nick - unikalna nazwa identyfikująca konto klienta na portalu internetowym.</li>

				</ol>

				<li class="term_title"> Postanowienia ogólne</li>
				<ol>

					<li class="term_desc"> Właściciel strony i sklepu zastrzega sobie pełne prawo do wprowadzenia zmian w poniższym regulaminie.</li>
					<li class="term_desc"> Właściciel strony i sklepu zastrzega sobie pełne prawo do zmian w prowadzonych usługach oraz cenach usług świadczonych przez firmę obsługującą płatności.</li>

				</ol>

				<li class="term_title"> Płatności</li>
				<ol>

					<li class="term_desc"> Informacje zawarte na Stronie Internetowej stanowią ofertę sprzedawcy zawarcia umowy sprzedaży Usługi.</li>
					<li class="term_desc"> Ceny na Stronie Internetowej zamieszczone przy danej Usłudze stanowią ceny brutto (z podatkiem VAT) i określone są w złotych polskich.</li>
					<li class="term_desc"> Płatności Direct Billing obsługuje firma SimPay ul. Słoneczna 4 06-212 Krasnosielc, NIP: 7571485069 | REGON: 369120445.</li>
					<li class="term_desc"> Płatności Online oraz przelewy obsługuje firma PayPro SA ul. Kanclerska 15, 60-327 Poznań, NIP: 779-236-98-87 | Regon: 301345068.</li>
					<li class="term_desc"> Zamówienie Usługi realizowane jest natychmiastowo po zweryfikowaniu płatności przez operatora.</li>
					<li class="term_desc"> Właściciel strony i sklepu nie odpowiada za błędy popełnione przez klienta podczas używania sklepu.</li>
					<li class="term_desc"> Właściciel strony i sklepu nie ponosi odpowiedzialności za błędy popełnione przez pośredników dostarczających systemy obsługi sprzedaży tj. Przelewy24, SimPay.</li>

				</ol>

				<li class="term_title"> Reklamacje</li>
				<ol>

					<li class="term_desc"> W przypadku problemów z płatnościami należy skontaktować się z odpowiednią firmą:</li>
					<ul style="list-style-type:square;">
						<li class="term_desc"> Płatności Online oraz przelewy: <a target="blank" href="https://www.przelewy24.pl/kontakt/reklamacja">https://www.przelewy24.pl/kontakt/reklamacja</a></li>
						<li class="term_desc"> Płatności Online oraz przelewy: <a target="blank" href="https://simpay.pl/reklamacje">https://simpay.pl/reklamacje</a></li>
						<li class="term_desc"> Właściciel strony i sklepu lub firma obsługująca płatności ma prawo uzyskać szczegółowe dane zawarte podczas transakcji w celu poprawnego rozpatrzenia problemu.</li>
					</ul>

					<li class="term_desc"> W przypadku nieotrzymania zakupionej Usługi istnieje możliwość złożenia reklamacji poprzez adres email: bartosz.malec@onet.pl.</li>
					<li class="term_desc"> Sprzedawca niezwłocznie, lecz nie później niż w terminie 14 (czternaście) dni rozpatruje reklamacje i udziela odpowiedzi na adres poczty elektronicznej Klienta, podany w zgłoszeniu reklamacji.</li>

				</ol>

				<li class="term_title"> Odstąpienie od umowy</li>
				<ol>

					<li class="term_desc"> Klient może odstąpić od umowy sprzedaży bez podania przyczyn, składając stosowne oświadczenie na piśmie w terminie 14 (czternaście) dni od dnia dostawy. Do zachowania tego terminu wystarczy wysłanie oświadczenia przed jego upływem.</li>
					<li class="term_desc"> Prawo odstąpienia od Umowy sprzedaży nie przysługuje Klientowi będącemu Konsumentem w odniesieniu do umów o dostarczanie treści cyfrowych, które nie są zapisane na nośniku materialnym, jeżeli spełnianie świadczenia rozpoczęło się za wyraźną zgoda Konsumenta przed upływem terminu do odstąpienia od umowy.</li>
					<li class="term_desc"> Prawo odstąpienia od Umowy sprzedaży nie przysługuje Klientowi będącemu Konsumentem w odniesieniu do umów o świadczenie usług, jeżeli Sprzedawca wykonał w pełni usługę za wyraźną zgodą Klienta będącego Konsumentem.</li>

				</ol>

				<li class="term_title"> Postanowienia końcowe</li>
				<ol>

					<li class="term_desc"> Administratorem danych osobowych Klientów uzyskanych przez Sprzedawcę w ramach zawieranej Umowy sprzedaży lub innych okoliczności określonych w Regulaminie, jest Sprzedawca.</li>
					<li class="term_desc"> Sprzedawca nie przekazuje, nie sprzedaje i nie użycza zgromadzonych danych osobowych Klientów innym osobom lub instytucjom, chyba że dzieje się to za wyraźną zgodą lub na życzenie Klienta, zgodnie z obowiązującymi przepisami prawa lub też na wniosek sądu, prokuratury, policji lub innego uprawnionego organu, w przypadku naruszenia przez Klientów przepisów prawa.</li>
					<li class="term_desc"> W przypadku sporu, istnieje możliwość skorzystania z pozasądowego rozpatrywania reklamacji w postaci wysłania wiadomości email na adres bartosz.malec@onet.pl.</li>
					<li class="term_desc"> Regulamin wchodzi w życie z dniem 01-03-2023r.</li>

				</ol>
			</0l>
		</div>

		<!--
			START footer
		-->
		<div th:insert="~{footer :: footer}"></div>



		<script src="/js/jquery-1.11.3.js"></script>
		<script src="/js/manipulation.js"></script>
		<script src="/js/header.js"></script>

	</body>
</html>