<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Weryfikacja | Kursowo.pl </title>

    <link rel="stylesheet" href="/css/auth.css"/>
    <link rel="stylesheet" href="/css/popup.css"/>

    <th:block th:insert="~{dependencies :: dependencies}"></th:block>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>


        <!--
            START popup
        -->
        <div th:insert="~{popup :: popup}"></div>


        <div id="auth_content">

            <!--
                Insert left panel
            -->
            <th:block th:insert="~{rejestracja :: authLeftLoginPanel}"></th:block>


            <div class="right">

                <!--
                    START #auth_info
                -->
                <div id="auth_info" class="window no_data_found">


                    <th:block th:if="${verificationType == T(com.example.vertonowsky.VerificationType).EMAIL_VERIFICATION_NEW.getIndex()}">
                        <th:block th:insert="dependencies :: noDataFound('fas fas fa-info-circle', 'Cześć, ' + ${email} + '!', null)"></th:block>

                        <p class="description"> Dziękujemy za rejestrację na <a class="list_link" th:href="@{/}">kursowo.pl</a>. Na podany przez Ciebie adres email został wysłany link aktywacyjny. Kliknij go, aby aktywować konto!</p>

                    </th:block>

                    <div th:if="${verificationType == T(com.example.vertonowsky.VerificationType).EMAIL_VERIFICATION_LOGIN_ATTEMPT.getIndex()}">

                        <th:block th:insert="dependencies :: noDataFound('red fas fas fa-info-circle', 'Cześć, ' + ${email} + '!', 'Adres email połączony z Twoim kontem wymaga weryfikacji. Upewnij się, że Twoja skrzynka pocztowa nie zawiera wiadomości kończącej proces rejestracji.')"></th:block>

                    </div>

                    <th:block th:if="${verificationType == T(com.example.vertonowsky.VerificationType).PASSWORD_RECOVER_NEW.getIndex()}">

                        <th:block th:insert="dependencies :: noDataFound('fas fas fa-info-circle', 'Cześć, ' + ${email} + '!', 'Na podany przez Ciebie adres email została wysłana wiadomość potwierdzająca rozpoczęcie procesu odzyskiwania hasła. Podążaj za instrukacjami zawartymi w otrzymanej wiadomości.')"></th:block>

                    </th:block>


                    <p id="resend_email"> Email weryfikacyjny nie dotarł?</p>

                    <button id="send_email" class="list_link" th:attr="onclick=|resendEmail(&quot;${email}&quot;)|" > Wyślij email ponownie! </button>

                    <span id="timer" class="hidden"></span>

                </div>
                <!--
                    END auth_info
                -->



            </div>

            <a th:href="@{/}" id="button_go_back"><i style="font-size: 13px;" class="fas fa-chevron-left"></i> Strona główna</a>
            <a th:href="@{/logowanie}" id="button_go_next">Logowanie <i style="font-size: 14px;" class="fas fa-chevron-right"></i></a>

        </div>


        <script src="/js/jquery-1.11.3.js"></script>
        <script src="/js/validator.js"></script>
        <script src="/js/popup.js"></script>


</body>


<script th:inline="javascript">


    /*<![CDATA[*/
        let error = /*[[${error}]]*/ "";
        let resendUrl = /*[[${resendUrl}]]*/ "";

        if (error != "" && error != null) {
            showPopup(error,  0);
            //checkInputData(0, AuthDataTypeEnum.Email, document.getElementById("login_data_email").value);
            //checkInputData(1, AuthDataTypeEnum.PasswordLogin, document.getElementById("login_data_password").value);
        }
    /*]]>*/


    function resendEmail(email) {
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");

        $.ajax({
            data: { "email": email }, // Serializes the form's elements
            type: "POST",
            dataType: "json",
            url: resendUrl,
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token)
            },
            success: function(data) {

                if (data == null) {
                    showPopup("Wystąpił błąd podczas komunikacji z serwerem.", 0);
                    return;
                }

                showPopup(data.message, data.success);

                const timer = document.getElementById("timer");
                if (timer.classList.contains("hidden"))
                    startTimer(data.tokenCooldown, document.getElementById("timer"));


            },
            error: function(xhr) {
                let data = xhr.responseJSON;
                if (data != null)
                    showPopup(data.message, 0);
            }
        });
    }


    let intervalId = 0;
    function startTimer(duration, display) {
        display.classList.remove("hidden");
        clearInterval(intervalId);


        function updateTimer() {
            let minutes, seconds;
            minutes = parseInt(duration / 60, 10);
            seconds = parseInt(duration % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            duration--;

            if (duration < 0) {
                clearInterval(intervalId);
                display.classList.add("hidden");
            }
        }

        updateTimer();
        intervalId = setInterval(updateTimer, 1000);
    }

</script>

</html>