<!DOCTYPE html>
<html lang="pl">
<head>
    <title th:text="${course.name}"></title>

    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/course_container.css"/>
    <link rel="stylesheet" href="/css/display.css"/>
    <link rel="stylesheet" href="/css/popup.css"/>

    <th:block th:insert="~{dependencies :: dependencies}"></th:block>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>

<!--

Wczytanie advantages

-->


        <!--
            START header
        -->
        <div th:insert="~{header :: header(active = ${true})}"></div>
        <div th:insert="~{header :: shadow}"></div>
        <div th:insert="~{header :: minHeader}"></div>

        <!-- Trzeba dodać tutaj usuwanie kodu promocyjnego ze zmiennej typu $_SESSION -->

        <div id="display_content">

            <div class="inner">

                <div class="panel_left">

                    <h1 class="heading" th:text="${course.name}"></h1>
                    <p class="desc" th:text="${course.description}"></p>

                    <div id="plans">

                        <div class="plan_container">

                            <h3 class="title">Wersja próbna</h3>
                            <div class="prices">
                                <p class="price_block">0 zł</p>
                            </div>

                            <ul class="adv_list">

                                <li class="available">
                                    <p class="left"><i class="fas fa-check"></i></p>
                                    <p class="right"> 3-miesięczny dostęp do kursu </p>
                                </li>
                                <li class="available">
                                    <p class="left"><i class="fas fa-check"></i></p>
                                    <p class="right"> Tłumaczenie od doświadczonego korepetytora </p>
                                </li>
                                <li class="available">
                                    <p class="left"><i class="fas fa-check"></i></p>
                                    <p class="right"> Swobodę uczenia się o dowolnej porze </p>
                                </li>
                                <li class="available">
                                    <p class="left"><i class="fas fa-check"></i></p>
                                    <p class="right"> Starannie wyselekcjonowane zadania </p>
                                </li>
                                <li class="unavailable">
                                    <p class="left"><i class="fas fa-times"></i></p>
                                    <p class="right"> Ponad 70 godzin materiałów wideo </p>
                                </li>
                                <li class="unavailable">
                                    <p class="left"><i class="fas fa-times"></i></p>
                                    <p class="right"> 110 zadań do samodzielnego rozwiązania + odpowiedzi </p>
                                </li>
                            </ul>

                            <a class="button_gray" th:href="@{'/kurs/' + ${course.id}}"> Wybieram <i class="fas fa-arrow-circle-right"></i></a>

                        </div>

                        <div class="plan_container premium">

                            <h3 class="title">Wersja premium</h3>
                            <div class="prices">
                                <p class="price_block" th:if="${course.pricePromotion} > 0"><span class="price_old" th:text="${course.getPriceAsString()} + ' zł'"> --- </span> <span class="price_promotion" th:text="${course.getPricePromotionAsString()} + ' zł'"> --- </span></p>
                                <p class="price_block" th:if="${course.pricePromotion} <= 0" th:text="${course.getPriceAsString()} + ' zł'"> --- </p>-->
                            </div>

                            <ul class="adv_list">

                                <li class="available">
                                    <p class="left"><i class="fas fa-check"></i></p>
                                    <p class="right"> 3-miesięczny dostęp do kursu </p>
                                </li>
                                <li class="available">
                                    <p class="left"><i class="fas fa-check"></i></p>
                                    <p class="right"> Tłumaczenie od doświadczonego korepetytora </p>
                                </li>
                                <li class="available">
                                    <p class="left"><i class="fas fa-check"></i></p>
                                    <p class="right"> Swobodę uczenia się o dowolnej porze </p>
                                </li>
                                <li class="available">
                                    <p class="left"><i class="fas fa-check"></i></p>
                                    <p class="right"> Starannie wyselekcjonowane zadania </p>
                                </li>
                                <li class="available">
                                    <p class="left"><i class="fas fa-check"></i></p>
                                    <p class="right"> Ponad 70 godzin materiałów wideo </p>
                                </li>
                                <li class="available">
                                    <p class="left"><i class="fas fa-check"></i></p>
                                    <p class="right"> 110 zadań do samodzielnego rozwiązania + odpowiedzi </p>
                                </li>
                            </ul>

                            <button class="button_gray" id="button_buy"> Wybieram <i class="fas fa-arrow-circle-right"></i></button>

                        </div>

                    </div>

                </div>

                <div class="panel_right">
                    <div class="photo">
                        <img alt="" th:src="@{'/images/zasob1.png'}"/>
                    </div>
                </div>

            </div>


            <div id="below_banner">
                <div id="cloud_background">

                </div>
                <h2 id="below_introduction"> Tego nauczysz się w naszym kursie:</h2>

                <div id="all_topics" th:if="${course != null}">

                    <div class="chapter_menu" th:each="chapter : ${course.chapters}" th:id="'right_chapter_id' + ${chapter.id}">
                        <div class="chapter_header">

                            <div class="th_type">  <i class="far fa-dot-circle"></i> </div>
                            <div class="th_title" th:text="${chapter.index} < 10 ? '0' + ${chapter.index} + ' - ' + ${chapter.title} : ${chapter.index} + ' - ' + ${chapter.title}"></div>

                        </div>

                        <div class="topic_menu" th:if="${chapter.topics != null}">
                            <div class="topic_header" th:each="topic : ${chapter.topics}">

                                <div class="td_left">
                                    <i class="fab fa-gg-circle"></i>
                                    <div class="duration" th:text="'[' + ${topic.formatDuration()} + ']'"></div>
                                </div>

                                <div class="td_right">
                                    <div class="td_type"> <i class="far fa-dot-circle"></i> </div>
                                    <div class="td_title" th:text="${topic.title}"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--
            START footer
        -->
        <div th:insert="~{footer :: footer}"></div>















        <div id="modal_buy" class="modal">

            <!-- Modal content -->
            <div class="modal_content active">
                <span class="close"><i class="fas fa-times"></i></span>
            
                <div class="top">

                    <h2 th:if="${loggedIn}" th:id="main_title" class="title" th:text="'Sprawdź poprawność danych i dokonaj płatności'"></h2>
                    <h2 th:if="${!loggedIn}" th:id="main_title" class="title" th:text="'Do korzystania z pełnej wersji kursu wymagane jest konto'"></h2>

                    <div class="step_progress_bar">
                        <ul class="progressbar">

                            <li th:if="${loggedIn}" class="progress_item complete">Logowanie</li>
                            <li th:if="${loggedIn}" class="progress_item active">Płatność</li>

                            <li th:if="${!loggedIn}" class="progress_item active">Logowanie</li>
                            <li th:if="${!loggedIn}" class="progress_item">Płatność</li>

                            <li class="progress_item">Gotowe</li>

                        </ul>
                    </div>
                </div>
                







                
                <div class="bottom">

                    <div th:class="'tab_section ' + ${loggedIn ? 'active' : ''}">

                        <div id="payment_container">
                            <div class="content">
                                <table id="payment_table">
                                    <tr>
                                        <td><p class="course_title" th:text="${course.name}"></p><p class="category">Kategoria: <span class="cat" th:text="'[' + ${course.getCategoryAsString()} + ']'"></span></p></td>

                                        <td th:text="${course.pricePromotion > 0} ? ${course.getPricePromotionAsString()} + ' zł' : ${course.getPriceAsString()} + ' zł'"></td>
                                    </tr>

                                    <!--<tr>
                                        <td>KOD RABATOWY</td>
                                        <td>-74,99 zł</td>
                                    </tr>-->
                                </table>

                                <div id="final_price" th:text="${course.pricePromotion > 0} ? ${course.getPricePromotionAsString()} + ' zł' : ${course.getPriceAsString()} + ' zł'"></div>
                            </div>

                            <!--
                                                                INPUT GROUP - Input with its elements
                                                            -->
                            <div class="buttons">

                                <!--
                                    CHECKBOX - custom checkbox input
                                -->
                                <div class="checkbox_body">
                                    <div style="display: block;" class="standard-checkbox">
                                        <label class="checkbox-border">
                                            <input name="terms" type="checkbox" class="invisible" id="terms_input">
                                            <div class="checkbox">
                                                <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                                    <polyline points="4 11 8 15 16 6"></polyline>
                                                </svg>
                                            </div>
                                        </label>
                                    </div>
                                    <span class="checkbox-label">Akceptuję regulamin</span>
                                </div>


                                <div class="input_group">
                                    <input id="discount_code_input" class="input" type="text" placeholder="...">
                                    <label>Kod rabatowy: </label>
                                    <!--<form id="discount_form" th:action="@{/purchase/useDiscountCode}" method="POST">
                                        <button type="submit"> <i onclick="useDiscountCode()" id="discount_icon" class="fas fa-plus-circle"></i></button>
                                        <input name="courseId" value="1"/>
                                        <input name="codeName" value="jesien30"/>
                                    </form>-->
                                    <i onclick="useDiscountCode()" id="discount_icon" class="fas fa-plus-circle"></i>
                                </div>


                                <div onclick="verifyPayment()" class="button_gray">Przejdź do płatności <i class="fas fa-arrow-circle-right"></i></div>

                            </div>

                        </div>
                    </div>




                    <div th:class="'tab_section ' + ${!loggedIn ? 'active' : ''}">

                        <i class="modal_center_icon fas fa-user-circle"></i>

                        <h2 class="subtitle">Zaloguj się aby móc kontynuować</h2>
                        <h3 class="desc">Musisz posiadać konto, aby móc korzystać ze wszystkich funkcjonalności kursu.</h3>

                        <div class="buttons">

                            <a th:href="@{/rejestracja}" class="button_gray">Stwórz nowe konto <i class="fas fa-arrow-circle-right"></i></a>
                            <a th:href="@{/logowanie}" class="button_gray">Zaloguj <i class="fas fa-arrow-circle-right"></i></a>

                        </div>
                    </div>



                    <div class="tab_section">
                        <i class="modal_center_icon fas fa-check-circle"></i>

                        <h2 class="subtitle">Pomyślnie dokonano zakupu.</h2>
                        <h3 class="desc">Wszystkie zakupione kursy dostępne są w
                        <a class="list_link" th:href="@{/profil}"><span class="bold">panelu użytkownika</span></a></li>
                        </h3>

                        <div class="buttons">
                            <button class="button_gray" onclick="closeModal()">Zamknij <i class="fas fa-arrow-circle-right"></i></button>
                            <a th:href="@{'/kurs/' + ${course.id}}" class="button_gray">Przejdź do kursu <i class="fas fa-arrow-circle-right"></i></a>
                        </div>

                    </div>
                </div>
            </div>

        </div>


        <!--
            START popup
        -->
        <div th:insert="~{popup :: popup}"></div>


        <script src="/js/jquery-1.11.3.js"></script>
        <script src="/js/header.js"></script>
        <script src="/js/manipulation.js"></script>
        <script src="/js/popup.js"></script>

    
</body>


<script th:inline="javascript">



    const discount_input = document.getElementById('discount_code_input');
    const modal_buy      = document.getElementById('modal_buy');

    // Get the button that opens the modal
    const button_buy = document.getElementById("button_buy");

    // Get the <span> element that closes the modal
    const close_btn     = document.getElementsByClassName("close")[0];


    // When the user clicks the button, open the modal
    button_buy.onclick = function() {
        modal_buy.classList.add("active");
    }

    function closeModal() {
        modal_buy.classList.remove("active");
    }

    // When the user clicks on <span> (x), close the modal
    close_btn.onclick = function() {
        closeModal();
    }

    // When the user clicks anywhere outside of the modal, close it
    window.addEventListener("click", function(event) {
        if (event.target == modal_buy) {
            closeModal();
        }
    });


    // When the user clicks enter while using discount code
    $('#discount_code_input').keypress(function(e) {
        if(e.keyCode === 13) $('#discount_icon').click();
    });















    function verifyPayment() {
        if (document.getElementById("terms_input").checked) {

            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            let code_name = "";
            if (discount_input.disabled) code_name = discount_input.value;

            $.ajax({
                type:"POST",
                dataType:"json",
                data: { courseId: /*[[${course.id}]]*/ "", codeName: code_name},
                url:"/purchase/verifyPayment",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token)
                },
                success: function(data) {

                    if (data == null || data.success == null || data.message == null) {
                        showPopup("Wystąpił błąd podczas komunikacji z serwerem.", 0);
                        return;
                    }

                    showPopup(data.message, data.success);

                    if (data.success) {

                        let progress_item = document.getElementsByClassName('progress_item');
                        progress_item[0].classList.add('complete');
                        progress_item[1].classList.add('complete');
                        progress_item[2].classList.add('complete');


                        let tab_section = document.getElementsByClassName('tab_section');

                        for (let i=0; i < tab_section.length; i++) {
                            tab_section[i].classList.remove("active");
                        }

                        tab_section[tab_section.length-1].classList.add("active");

                        document.getElementById("main_title").innerHTML = "Przejdź do swojego profilu aby skorzystać z kursu";

                    }
                },

                error: function(xhr, status, error) {
                    alert(error);
                    console.warn(xhr.responseText);
                }
            });

        } else {
            showPopup("Błąd: Upewnij się, że zaznaczyłeś wszystkie obowiązkowe pola.", false);
        }
    }






    function useDiscountCode() {
        if (!(document.getElementById('discount_icon').className === "fas fa-times-circle")) {

            let code_name = discount_input.value;

            if (code_name === "" || code_name == null) {
                showPopup("Błąd: Pole z kodem rabatowym nie może być puste.", false);
                return;
            }

            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                type: "POST",
                dataType: "json",
                data: { courseId: /*[[${course.id}]]*/ "", codeName: code_name },
                url: "/purchase/useDiscountCode",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token)
                },
                success: function(data) {

                    if (data == null || data.success == null || data.message == null) {
                        showPopup("Wystąpił błąd podczas komunikacji z serwerem.", 0);
                        return;
                    }

                    showPopup(data.message, data.success);

                    if (data.success) {

                        let text = '<tr>'+
                                        '<td>' + data.title + '</td>' +
                                        '<td>-' + (data.discount.toFixed(2)).replaceAll(".", ",") + ' zł</td>' +
                                    '</tr>';


                        $("#payment_table").append(text);


                        document.getElementById("discount_icon").className = "fas fa-times-circle";
                        discount_input.disabled = true;
                        discount_input.classList.add("disabled");

                        document.getElementById('final_price').innerHTML = data.newPrice.toFixed(2).replaceAll(".", ",") + " zł";
                    }


                },
                error: function(xhr, status, error) {
                    alert(error);
                    console.warn(xhr.responseText);
                }
            });
        }
    }


</script>



</html>